<div class="news-container">
  <!-- new card tbtm-->
  <!-- {{ newsList | json }} -->
  <div
    class="news card"
    data-filter-content="tbtm"
    *ngFor="let item of FNewList | slice: 0:FDisplayItem; index as i"
  >
    <!-- <a routerLink="news-detail"> -->
    <a (click)="toNewsDetail(item.type_id, item.id)">
      <div *ngIf="item.image_url.length !== 0" class="image">
        <img [src]="item.image_url[0]" alt="" class="img-fluid" />
      </div>
      <div
        *ngIf="item.image_url.length === 0 && windowWidth >= 768"
        style="height: 136px"
      ></div>
      <div class="content">
        <div
          class="meta d-flex flex-column flex-lg-row align-items-start align-items-lg-center"
        >
          <label [ngClass]="styleClass(item.type_id)">{{ item.type }}</label>
          <span class="public_at keep-same-line">{{
            item.start_date | cDate: "DD/MM/YYYY":"DD-MM-YYYY"
          }}</span>
        </div>
        <h4>
          {{ item.title }}
        </h4>
        <div class="action">
          <div class="link">
            <i class="icons-ic-arror-more i-icon"></i>
            <span class="text">{{ FLang.I01.content.I0004 }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div *ngIf="FMore" class="more text-center">
  <a role="button" class="btn btn-primary" (click)="doShowData()">
    {{ FLang.I01.content.I0007 }}
  </a>
</div>
