<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-insure-m.png"
              alt=""
              srcset="assets/img/img-bn-insure-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption caption-my-order">
        <div class="container">
          <h1>{{ FLang.F011.L0001 }}</h1>
        </div>
      </div>
      <app-select-menu
        [(filterId)]="FTypeIndex"
        (filterIdChange)="doFilterdata($event)"
      ></app-select-menu>

      <section class="service-result">
        <div class="container remove-width">
          <div class="row online-flex onlinebg no-gutters">
            <!-- 若無訂單狀態請把d-none拿掉使用 -->
            <div
              class="col-sm-12 col-md-12"
              [class.d-none]="FOnOrder"
              data-filter-content="empty"
            >
              <div class="empty text-center">
                <i class="icons-ic-empty i-icon"></i>
                <div>{{ FLang.F011.L0002 }}</div>
              </div>
            </div>
            <!-- 若無訂單狀態請把d-none拿掉使用 end-->

            <!-- 汽車 -->
            <ng-template [ngIf]="FTypeIndex === 0 || FTypeIndex === 1">
              <div
                class="col-sm-12 col-md-12"
                *ngFor="let item of FCarorderlist"
              >
                <div [id]="item.aply_no" class="choose-card service-card">
                  <div class="choose-top">
                    <div class="choose-row mr-auto">
                      <div>
                        <i
                          class="i-icon"
                          [class.icons-ic-status-processing]="
                            !onCheckState(item.order_status)
                          "
                          [class.icons-ic-status-notice]="
                            onCheckState(item.order_status)
                          "
                        ></i>
                      </div>
                      <div>
                        <div class="item">
                          {{
                            onCheckState(item.order_status)
                              ? FLang.F011.L0003
                              : FLang.F011.L0004
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="edit" *ngIf="onCheckState(item.order_status)">
                      <i
                        class="icons-ic-dots i-icon"
                        (click)="dodropdown(item)"
                      ></i>
                      <ul [class.d-none]="!item.checked">
                        <li (click)="goOnlineInsured(item, 1)">
                          {{ FLang.F011.L0005 }}
                        </li>
                        <li (click)="doDelorder(item, 2)">
                          {{ FLang.F011.L0006 }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0007 }}</div>
                      <div class="item">{{ item.aply_no }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0013 }}</div>
                      <div class="item">{{ item.rgst_no }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0009 }}</div>
                      <div class="item">
                        <div class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_dt | cDate: "DD/MM/YYYY" }}
                          <span class="white-space-pre-wrap">- </span>
                        </div>

                        <div class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0010 }}</div>
                      <div class="item">{{ item.prod_pol_code_nm }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0011 }}</div>
                      <div class="item">
                        {{
                          item.tot_prem_withvat
                            | number: "":FLangType
                            | moneyUnit: FLangType
                        }}
                      </div>
                    </div>
                    <div
                      class="text-center mt-20px"
                      *ngIf="onCheckState(item.order_status)"
                    >
                      <button
                        type="button"
                        class="btn btn-primary m-0"
                        data-target="#"
                        (click)="goPayment(item, 1)"
                      >
                        {{ FLang.F011.L0012 }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- 機車 -->
            <ng-template [ngIf]="FTypeIndex === 0 || FTypeIndex === 2">
              <div
                class="col-sm-12 col-md-12"
                *ngFor="let item of FScooterorderlist"
              >
                <div [id]="item.aply_no" class="choose-card service-card">
                  <div class="choose-top">
                    <div class="choose-row mr-auto">
                      <div>
                        <i
                          class="i-icon"
                          [class.icons-ic-status-processing]="
                            !onCheckState(item.order_status)
                          "
                          [class.icons-ic-status-notice]="
                            onCheckState(item.order_status)
                          "
                        ></i>
                      </div>
                      <div>
                        <div class="item">
                          {{
                            onCheckState(item.order_status)
                              ? FLang.F011.L0003
                              : FLang.F011.L0004
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="edit" *ngIf="onCheckState(item.order_status)">
                      <i
                        class="icons-ic-dots i-icon"
                        (click)="dodropdown(item)"
                      ></i>
                      <ul [class.d-none]="!item.checked">
                        <li (click)="goOnlineInsured(item, 2)">
                          {{ FLang.F011.L0005 }}
                        </li>
                        <li (click)="doDelorder(item, 3)">
                          {{ FLang.F011.L0006 }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0007 }}</div>
                      <div class="item">{{ item.aply_no }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ item.rgst_no ? FLang.F011.L0013 : FLang.F011.L0016 }}
                      </div>
                      <div class="item">{{ item.rgst_no || item.fram_no }}</div>
                    </div>

                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0009 }}</div>
                      <div class="item">
                        <span class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_dt | cDate: "DD/MM/YYYY" }}
                          <span class="white-space-pre-wrap">- </span>
                        </span>
                        <div class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0010 }}</div>
                      <div class="item">{{ item.prod_pol_code_nm }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0011 }}</div>
                      <div class="item">
                        {{
                          item.tot_prem_withvat
                            | number: "":FLangType
                            | moneyUnit: FLangType
                        }}
                      </div>
                    </div>
                    <div
                      class="text-center mt-20px"
                      *ngIf="onCheckState(item.order_status)"
                    >
                      <button
                        type="button"
                        class="btn btn-primary m-0"
                        data-target="#"
                        (click)="goPayment(item, 2)"
                      >
                        {{ FLang.F011.L0012 }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- 旅遊 -->
            <ng-template [ngIf]="FTypeIndex === 0 || FTypeIndex === 3">
              <div class="col-sm-12 col-md-12" *ngFor="let item of FTravellist">
                <div [id]="item.aply_no" class="choose-card service-card">
                  <div class="choose-top">
                    <div class="choose-row mr-auto">
                      <div>
                        <i
                          class="i-icon"
                          [class.icons-ic-status-processing]="
                            !onCheckState(item.order_status)
                          "
                          [class.icons-ic-status-notice]="
                            onCheckState(item.order_status)
                          "
                        ></i>
                      </div>
                      <div>
                        <div class="item">
                          {{
                            onCheckState(item.order_status)
                              ? FLang.F011.L0003
                              : FLang.F011.L0004
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="edit" *ngIf="onCheckState(item.order_status)">
                      <i
                        (click)="dodropdown(item)"
                        class="icons-ic-dots i-icon"
                      ></i>
                      <!-- <ul [class.d-none]="!FControlDropdown"> -->
                      <ul [class.d-none]="!item.checked">
                        <li (click)="goOnlineInsured(item, 0)">
                          {{ FLang.F011.L0005 }}
                        </li>
                        <li (click)="doDelorder(item, 1)">
                          {{ FLang.F011.L0006 }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0007 }}</div>
                      <div class="item">{{ item.aply_no }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0008 }}</div>
                      <div class="item">{{ item.tral_loc }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0009 }}</div>
                      <div class="item">
                        <span class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_dt | cDate: "DD/MM/YYYY" }}
                          <span class="white-space-pre-wrap">- </span>
                        </span>
                        <div class="keep-same-line">
                          <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                          {{ item.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0014 }}</div>
                      <div class="item">{{ item.insr_cnt }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0010 }}</div>
                      <div class="item">{{ item.prod_pol_code_nm }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F011.L0011 }}</div>
                      <div class="item">
                        {{
                          item.tot_prem_withvat
                            | number: "":FLangType
                            | moneyUnit: FLangType
                        }}
                      </div>
                    </div>
                    <div
                      class="text-center mt-20px"
                      *ngIf="onCheckState(item.order_status)"
                    >
                      <button
                        type="button"
                        class="btn btn-primary m-0"
                        data-target="#"
                        (click)="goPayment(item, 0)"
                      >
                        {{ FLang.F011.L0012 }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </section>
    </div>
  </main>
  <app-confirm
    [data]="FConfirm"
    (ActionEvent)="ActionYesNo($event)"
  ></app-confirm>
</div>
