<section>
  <div class="container remove-width">
    <div class="navtab onlinecard-navtab">
      <ngx-slick
        #slickModal="slick-modal"
        class="tab filter onlinecard slider"
        [config]="slideConfig"
        (afterChange)="afterSlickChange($event)"
        (beforeChange)="beforeSlickChange($event)"
      >
        <li
          ngxSlickItem
          [class.active]="i === selectId"
          *ngFor="let item of viewList; let i = index"
        >
          <a
            class="nav-link"
            data-filter-type="all"
            role="button"
            (click)="onFilterChange(i)"
          >
            <div class="d-flex align-items-center">
              <img
                [src]="item.imgActive"
                alt=""
                [srcset]="item.srcsetActive"
                class="img-fluid online-img"
              />
              <img
                [src]="item.imgDefault"
                alt=""
                [srcset]="item.srcsetDefault"
                class="img-fluid online-w-img"
              />
              <h3 class="width" [innerHTML]="item.title"></h3>
            </div>
          </a>
        </li>
      </ngx-slick>
    </div>
  </div>
</section>
