<section
  class="sectLg teaching-phone carousel slide"
  data-ride="carousel"
  id="cardSlide"
>
  <div class="title" [innerHTML]="FLang.D03.N0042"></div>
  <div class="container remove-width">
    <div class="row wow fadeInUp align-items-center">
      <div class="col-sm-12 col-md-7 t-step">
        <div class="navtab d-md-none slickcard-navtab">
          <div class="slickcard slider">
            <div>
              <a class="nav-link">
                <div [class]="adjustHeight()">
                  <div class="number">1</div>
                  <h3>{{ FLang.D03.N0043 }}</h3>
                  <p>{{ FLang.D03.N0044 }}</p>
                </div>
              </a>
            </div>
            <div>
              <a class="nav-link">
                <div [class]="adjustHeight()">
                  <div class="number">2</div>
                  <h3>{{ FLang.D03.N0045 }}</h3>
                  <p>{{ FLang.D03.N0046 }}</p>
                </div>
              </a>
            </div>
            <div>
              <a class="nav-link">
                <div [class]="adjustHeight()">
                  <div class="number">3</div>
                  <h3>{{ FLang.D03.N0047 }}</h3>
                  <p>{{ FLang.D03.N0047_.s001 }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="step-mob-box d-none d-md-block carousel-indicators">
          <div
            [class]="adjustHeightWeb()"
            data-target="#cardSlide"
            data-slide-to="0"
          >
            <div class="number">1</div>
            <h3>{{ FLang.D03.N0043 }}</h3>
            <p>{{ FLang.D03.N0044 }}</p>
          </div>
          <div
            [class]="adjustHeight()"
            data-target="#cardSlide"
            data-slide-to="1"
          >
            <div class="number">2</div>
            <h3>{{ FLang.D03.N0045 }}</h3>
            <p>{{ FLang.D03.N0046 }}</p>
          </div>
          <div
            [class]="adjustHeight()"
            data-target="#cardSlide"
            data-slide-to="2"
          >
            <div class="number">3</div>
            <h3>{{ FLang.D03.N0047 }}</h3>
            <p>{{ FLang.D03.N0047_.s001 }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 order-md-first">
        <div class="t-phone">
          <div class="t-phone-img">
            <img
              src="assets/img/commodity/img-mobile.png"
              alt=""
              srcset="assets/img/commodity/img-mobile@2x.png 2x"
            />
          </div>
          <div class="carousel-inner t-phone-box">
            <div class="carousel-item active">
              <img
                class="w-100"
                [src]="stepImg(1)"
                  alt=""
                  [srcset]="stepImgBig(1)"
              />
            </div>
            <div class="carousel-item">
              <img
                class="w-100"
                [src]="stepImg(2)"
                  alt=""
                  [srcset]="stepImgBig(2)"
              />
            </div>
            <div class="carousel-item">
              <img
                class="w-100"
                [src]="stepImg(3)"
                  alt=""
                  [srcset]="stepImgBig(3)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="teaching-phone-bg">
    <img
      src="assets/img/commodity/bg-step.png"
      alt=""
      srcset="assets/img/commodity/bg-step@2x.png 2x"
      class="d-none d-md-block"
    />
    <img
      src="assets/img/commodity/bg-step-m.png"
      alt=""
      srcset="assets/img/commodity/bg-step-m@2x.png 2x"
      class="d-md-none"
    />
  </div>
</section>
