.card-height {
  height: 103px;
}

// .teaching-phone {
//   .t-step {
//     .t-step-row-tw {
//       min-height: 113px;
//     }

//     .t-step-row-en {
//       min-height: 160px;
//     }

//     .t-step-row-vn {
//       min-height: 137px;
//     }
//   }
// }

// @media (max-width: 991.98px) {
//   .teaching-phone {
//     .t-step {
//       .t-step-row-tw {
//         min-height: 130px;
//       }

//       .t-step-row-en {
//         min-height: 208px;
//       }

//       .t-step-row-vn {
//         min-height: 185px;
//       }
//     }
//   }
// }

// @media (max-width: 767.98px) {
//   .teaching-phone {
//     .t-step {
//       .t-step-row-tw {
//         min-height: 130px;
//       }

//       .t-step-row-en {
//         min-height: 160px;
//       }

//       .t-step-row-vn {
//         min-height: 135px;
//       }
//     }
//   }
// }

// @media (max-width: 355px) {
//   .teaching-phone {
//     .t-step {
//       .t-step-row-tw {
//         min-height: 160px;
//       }

//       .t-step-row-en {
//         min-height: 230px;
//       }

//       .t-step-row-vn {
//         min-height: 184px;
//       }
//     }
//   }
// }

// .teaching-phone {
//   .t-step {
//     .t-step-row p {
//       min-height: 50px;
//       display: flex;
//       align-items: center;
//     }
//   }
// }
