<!-- 收不到otp驗證碼 聯絡客服 -->
<div
  class="modal fade notice"
  id="popLeavePage"
  tabindex="-1"
  aria-labelledby="popLeavePage"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ title }}</h5>
          <p [innerHTML]="info"></p>
        </div>

        <div class="row">
          <div class="col-6 text-center">
            <button
              type="button"
              class="btn btn-white"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.popLife.P0003 }}
            </button>
          </div>
          <div class="col-6 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              (click)="openPage()"
            >
              {{ FLang.popLife.P0004 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
