.robot {
    img {
        width: 376px;
        margin-bottom: 20px;
    }
}

.point {
    font-size: 1.125rem;

    a {
        text-decoration: underline;
        &:hover,
            &:focus {
                opacity: 0.8;
            }
    }
}

.login-w {
    max-width: 900px;
    margin: 0px auto;
}

.message-error {
    padding: 6px;
    margin-bottom: 20px;
    color: $red;
    background-color: #ffeef1;
    text-align: center;
    margin-top: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.jobdetails .jobbox {

    .otp {
        text-align: center;

        .title {
            font-size: 1.125rem;
            color: $grey-deep;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        .vcode-box {
            max-width: 335px;
            margin: 30px auto 20px;

            .vcode-tit {
                font-size: 0.875rem;
                margin-bottom: 5px;
                flex-wrap: wrap;
            }

            .vcode {
                display: flex;
                display: -ms-flexbox;
                display: -webkit-flex;

                input {
                    width: 20%;
                    text-align: center;
                    border-left: 2px solid $grey-input-line;
                    border-top: 2px solid $grey-input-line;
                    border-bottom: 2px solid $grey-input-line;
                    border-right: 0px solid $grey-input-line;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    -ms-border-radius: 0px;
                    -o-border-radius: 0px;
                    height: 70px;


                    &:first-child {
                        border-radius: 5px 0px 0px 5px;
                        -webkit-border-radius: 5px 0px 0px 5px;
                        -moz-border-radius: 5px 0px 0px 5px;
                        -ms-border-radius: 5px 0px 0px 5px;
                        -o-border-radius: 5px 0px 0px 5px;
                    }

                    &:last-child {
                        border-radius: 0px 5px 5px 0px;
                        -webkit-border-radius: 0px 5px 5px 0px;
                        -moz-border-radius: 0px 5px 5px 0px;
                        -ms-border-radius: 0px 5px 5px 0px;
                        -o-border-radius: 0px 5px 5px 0px;
                        border-right: 2px solid $grey-input-line;
                    }

                }

                &.status-error {
                    input {
                        border-left: 2px solid $red;
                        border-top: 2px solid $red;
                        border-bottom: 2px solid $red;
                        border-right: 0px solid $red;

                        &:last-child {
                            border-right: 2px solid $red;
                        }
                    }
                }
            }
        }

    }
}

.btn.disabled {
    span {
        color: $grey-deep;
    }
}

.btn-order {
    max-width: 550px;
    margin: 0px auto;

    div {
        margin-top: 10px;
        margin-bottom: 10px;
        div {
            display: table;
            height: 100%;
            margin: 0px auto;
            a{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
.explain {
    &:hover,&:focus{
        opacity: 0.8;
    }
}
@media (min-width: 1440.98px) {}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .explain {
        font-size: 0.875rem;
    }
    .jobdetails .jobbox.joblogn {
        padding-top: 20px;
    }
    .caption-login{
        margin-bottom: 0;
    }
    .topbg-login{
        margin:-70px 0px;
    }
}

@media (max-width: 575.98px) {}

/* less than 480px */
@media (max-width: 520px) {}

/* less than 375px */
@media (max-width: 375px) {}


/* less than 320px */
@media (max-width: 320px) {}
