.onl-top {
  margin-bottom: 80px;
}

.online-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  height: 100%;
  padding: 20px;
}

.online-flex {
  // display: flex;
}

.onlinecard {
  .slick-list {
    overflow: inherit;
  }

  .slick-track {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .slick-dots {
    opacity: 0;
  }

  .nav-link {
    border: 2px solid $green-middle;
    background-color: $white;
    margin: 0px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
  }

  .nav-link {
    padding: 20px 30px;
    width: 100%;
    display: flex;

    div {
      .online-w-img {
        display: none;
      }
    }

    h3 {
      margin-bottom: 0;
      margin-left: 8px;
      font-weight: 400;
      color: $green-middle;
    }
  }

  .slick-active {
    color: $green-middle;

    &.active {
      .nav-link {
        border: 2px solid $green-middle;
        background-color: $green-middle;
        position: relative;
        display: flex;

        &::before {
          content: "";
          position: absolute;
          right: -2px;
          bottom: -2px;
          background-image: url(../img/online/bg-circle-slach@2x.png);
          background-size: 90px 51px;
          width: 90px;
          height: 51px;
          border-radius: 0 0 20px 0px;
        }

        .online-img {
          display: none;
        }

        .online-w-img {
          display: inline-block;
        }

        h3 {
          color: $white;
        }
      }
    }
  }

  li.slick-slide.slick-current.slick-center.active {
    .nav-link {
      border: 2px solid $green-middle;
      background-color: $green-middle;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: -2px;
        bottom: -2px;
        background-image: url(../img/online/bg-circle-slach@2x.png);
        background-size: 90px 51px;
        width: 90px;
        height: 51px;
        border-radius: 0 0 20px 0px;
      }

      .online-img {
        display: none;
      }

      .online-w-img {
        display: inline-block;
      }

      h3 {
        color: $white;
      }
    }
  }
}

.onlinebg {
  border: solid 2px $grey-helper-line;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  background-color: $grey-hel-bg;
  padding: 30px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
  box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
  margin-top: 20px;
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/online/bg-insure@2x.png);
    background-size: 816px 216px;
    width: 816px;
    height: 216px;
    z-index: -1;
  }
}

.online-row {
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: $white;
  padding: 0;
  height: 100%;
  min-width: 460px;
  min-height: 344px;

  .onl-infor {
    padding: 24px;
    -ms-flex-order: -1;
    order: -1;

    .onl-infor-content {
      height: calc(100% - 70px);
      text-align: left;

      .label,
      a.label:link {
        min-width: 84px;
      }
    }
  }

  img {
    border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    -ms-border-radius: 0px 30px 30px 0px;
    -o-border-radius: 0px 30px 30px 0px;
  }

  .online-photo {
    position: relative;
    width: 240px;
    height: auto;
    overflow: hidden;
    border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    -ms-border-radius: 0px 30px 30px 0px;
    -o-border-radius: 0px 30px 30px 0px;

    .online-photo-img {
      display: block;
    }

    .online-photo-img-m {
      display: none;
      width: 100%;
    }

    img {
      position: absolute;
      width: 300px;
      height: 404px;
      top: -30px;
      right: -30px;
    }

    .label-explain {
      position: absolute;
      top: 0;
      right: 30px;
      color: $white;
      background-color: $orange;
      border-radius: 0px 0px 8px 8px;
      -webkit-border-radius: 0px 0px 8px 8px;
      -moz-border-radius: 0px 0px 8px 8px;
      -ms-border-radius: 0px 0px 8px 8px;
      -o-border-radius: 0px 0px 8px 8px;
      font-size: 0.875rem;
      padding: 5px 9px;
    }
  }

  .btn {
    width: 100%;
    min-width: auto;
  }

  .delete {
    color: $grey;
    text-decoration: line-through;
    line-height: 1.3;
    padding-bottom: 6px;
  }

  .discount {
    color: $green-middle;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 0;
    line-height: 1.4;
    padding-bottom: 12px;
  }
}

.form-data {
  padding: 30px 0px 60px;

  .adv-box-item {
    margin-top: 50px;
  }
}

.form-proposal {
  margin-top: 80px;
  padding: 50px 0px;
  margin-bottom: -60px;
  border-radius: 0px 0px 60px 60px;
  -webkit-border-radius: 0px 0px 60px 60px;
  -moz-border-radius: 0px 0px 60px 60px;
  -ms-border-radius: 0px 0px 60px 60px;
  -o-border-radius: 0px 0px 60px 60px;
  background-color: $green-light-gua;

  .table-compare .compare-price-box .compare-price {
    border: 2px solid #ffffff00;
    top: -1px;

    &.active {
      z-index: 4;
      border: 2px solid $orange;
    }
  }

  .table-compare {
    margin-top: 60px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .form-proposal {
    .table-compare .compare-price-box .compare-price {
      top: 0px;

      &.two {
        top: -2px;
      }
    }
  }
}

.comm {
  color: $green;
  margin-top: 6px;
  font-weight: bold;
  cursor: pointer;
}

.process-step {
  max-width: 600px;
  margin: 0px auto;
  font-size: 0.875rem;
  margin-top: 35px;
  margin-bottom: 50px;

  ul {
    li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      color: $grey-deep;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $grey-line;
        top: 14px;
        left: 0;
        right: 0;
        z-index: -1;
      }

      &:first-child {
        &::before {
          width: 50%;
          left: 50%;
        }
      }

      &:last-child {
        &::before {
          width: 50%;
        }
      }

      .number {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0px auto;
        background-color: $grey-line;
        color: $white;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        margin-bottom: 5px;
      }

      &.active {
        color: $green;
        font-weight: 500;

        .number {
          background-color: $green;
        }
      }
    }
  }
}

.features {
  margin-top: 100px;
  margin-bottom: 150px;
}

.total-content {
  margin-bottom: 150px;
}

.total-from {
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;

  .total-img {
    width: 280px;
    margin-left: 180px;
  }

  .total-link-left {
    position: absolute;
    left: 100px;
    top: -56px;
  }

  .total-link-right {
    position: absolute;
    right: 100px;
    top: -56px;
  }

  .total-box {
    padding: 18px;
    position: relative;
    overflow: hidden;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    font-size: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 12px;
      background-image: linear-gradient(91deg, #2bb75e 18%, #94d352 76%);
      bottom: 0;
      left: 0;
    }

    .total-tit {
      display: inline-block;
    }

    .sum {
      font-size: 2.5rem;
      color: $red;
      margin-left: 50px;
      display: inline-block;
      font-weight: 500;

      span {
        font-size: 1.75rem;
      }
    }
  }
}

.form-mul {
  .from-one {
    padding-right: 10px;
  }

  .from-two {
    padding-left: 10px;
  }
}

.add-box {
  max-width: 880px;
  margin: 0px auto;
  border-top: 1px solid $grey-light-left;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.add-all {
  margin-top: 40px;
  margin-bottom: 50px;
}

.add-content {
  max-width: 500px;
  margin: 0px auto 30px;

  .add-row {
    border: 1px solid $grey-input-line;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0px 17px;
    position: relative;
    cursor: pointer;
    color: $green;
    display: flex;

    .add-col {
      min-height: 78px;
    }

    .area {
      color: $grey;
    }

    &.flight {
      padding: 0px 17px;

      .area {
        i {
          margin-bottom: 3px;
          margin-left: 10px;
          margin-right: 12px;
        }
      }
    }

    .i-close {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .change {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .add-more {
    margin-top: 10px;
    color: $green;
    cursor: pointer;

    i {
      margin-bottom: 3px;
      margin-right: 5px;
    }
  }
}

.payment {
  max-width: 780px;
  margin: 0px auto;

  .choose-box {
    padding: 16px 30px;
    background-color: $clause;

    a {
      // display: inline-block;
      color: $green;
      text-decoration: underline;
      padding: 0px 5px;
    }
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    padding-left: 36px;
  }

  .payment-row {
    margin-top: 40px;
    margin-bottom: 30px;

    .payment-box {
      border: 1px solid $grey-line;
      padding: 10px 15px;
      margin: 0px 15px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      min-height: 80px;
      cursor: pointer;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;

      &:hover,
      &.active {
        background-color: $green;
        border: 1px solid $green;
        color: $white;

        .pay-icon {
          display: none;
        }

        .pay-w-icon {
          display: inline-block;
        }
      }

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      .payment-icon {
        margin-right: 12px;
      }

      .payment-data {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        height: 100%;
      }

      .pay-icon {
        display: inline-block;
      }

      .pay-w-icon {
        display: none;
      }
    }

    .status-error-box {
      border: 2px solid #f9556f;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }
}

.add-more-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
}

.success-mes {
  max-width: 570px;
  margin: 0px auto;
  margin-bottom: 150px;

  .mes-reg {
    background-color: $bg-green-light;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1.25rem;
  }

  .success-img {
    width: 500px;
    margin: 40px auto;
  }

  h3 {
    text-align: center;
    font-weight: 400;
  }

  p {
    color: $orange;
    margin-bottom: 40px;
    font-size: 1.5rem;
    text-align: center;
  }

  .remark {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;

    .point {
      display: inline-block;
      color: $orange;
      margin: 0px 10px;
      font-size: 1.5rem;
    }
  }

  .explain {
    font-size: 1.125rem;
    text-align: center;
    color: $black;

    a {
      text-decoration: underline;
    }
  }
}

.sectLg .form-data .title {
  font-size: 1.75rem;
  margin-top: 20px;
  margin-bottom: 45px;

  &::before {
    bottom: -15px;
  }
}

@media (min-width: 1440.98px) {
}

@media (max-width: 1199.98px) {
  .onlinebg {
    padding: 20px;
  }

  .online-flex {
    margin-bottom: 20px;
  }

  .online-row {
    .online-photo {
      position: relative;
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 30px 30px 0px 0px;
      -webkit-border-radius: 30px 30px 0px 0px;
      -moz-border-radius: 30px 30px 0px 0px;
      -ms-border-radius: 30px 30px 0px 0px;
      -o-border-radius: 30px 30px 0px 0px;

      .online-photo-img-m {
        display: block;
        width: 100%;
      }

      .online-photo-img {
        display: none;
      }
    }

    .online-photo img {
      width: auto;
      height: auto;
      position: initial;
    }
  }

  .online-content .online-row {
    min-width: auto;
    width: 450px;
    margin: 0px auto;

    img {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }

    .onl-infor {
      padding: 20px;
      position: relative;
      -ms-flex-order: inherit;
      order: inherit;
      height: calc(100% - 280px);

      .onl-infor-content {
        height: calc(100% - 58px);
      }
    }

    h3 {
      margin-top: 20px;
    }
  }
}

@media (max-width: 991.98px) {
  .onlinecard .nav-link {
    padding: 23px 10px;
    width: 100%;
  }

  .total-from .total-img {
    margin-left: 50px;
  }

  .form-data .adv-box-item {
    padding: 0px 40px;
  }

  .add-box {
    .payment {
      padding: 0px 40px;
    }
  }

  .online-content .online-row {
    width: 300px;
  }

  .online-content .online-row .onl-infor {
    height: calc(100% - 191px);
  }
  .program-card {
    padding: 0px 40px;
  }
}

@media (max-width: 767.98px) {
  .onl-top {
    margin-bottom: 0px;
  }

  .onlinecard {
    .slick-slide {
      padding: 0px 8px;

      &.active {
        &::before {
          content: "";
          position: absolute;
          background-image: url(../img/online/bg-circle-slash-m@2x.png);
          background-size: 77px 59px;
          width: 77px;
          height: 59px;
        }
      }
    }
  }

  .onlinebg {
    border: inherit;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    background-color: inherit;
    padding: inherit;
    box-shadow: inherit;
    margin-bottom: 100px;

    &::before {
      display: none;
    }
  }

  .online-content {
    .online-row {
      max-width: 315px;
      width: 100%;
      margin: 0px auto 20px;

      img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }

      .onl-infor {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $grey-light-left;
          left: 0;
          bottom: -20px;
        }
      }
    }

    &:last-child {
      .onl-infor {
        &::before {
          display: none;
        }
      }
    }
  }

  .online-content {
    &:first-child {
      margin-top: 0;
    }
  }

  .form-data {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 100px;
    // 因試算修改需求調整
    &.form-data-bot {
      // margin-bottom: 50px;
    }

    .adv-box-item {
      padding: 0px 0px;
      margin-top: 30px;
    }
  }

  .total-content {
    display: flex;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    z-index: 1;
    box-shadow: 0 -4px 4px 0 rgba(94, 109, 123, 0.14);

    .btn {
      min-width: 120px;
      margin: 10px 20px;
    }
  }

  .total-from {
    width: calc(100% - 160px);
    margin-top: 0px;
    margin-bottom: 0;
    padding: 7px 20px;

    .total-box {
      padding: 0px;
      border-radius: 0px;

      &::before {
        display: none;
      }

      .total-tit {
        display: block;
        font-size: 0.75rem;
      }

      .sum {
        margin-left: 0;
        display: block;
        font-size: 1.5rem;

        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  .form-discount {
    font-size: 0.875rem;
  }

  .form-proposal {
    margin-top: 30px;
    padding: 10px 0px 10px;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    &.travel {
      padding-bottom: 60px;
    }
  }

  .online-row .online-photo {
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;

    img {
      width: auto;
      height: auto;
      position: initial;
    }
  }

  .form-mul {
    .from-one {
      padding-right: 0px;
      margin-bottom: 10px;
    }

    .from-two {
      padding-left: 0px;
    }
  }

  .payment {
    .payment-row .payment-box {
      min-height: 56px;
      margin: 0px 6px;
      padding: 6px 15px;

      .payment-icon {
        margin-right: 0px;
        margin-bottom: 5px;
      }

      .payment-data {
        display: block;
        text-align: center;
        font-size: 0.875rem;
      }
    }

    .choose-box {
      label {
        font-size: 0.875rem;
      }
    }
  }

  .process-step {
    margin-top: 0px;
    margin-bottom: 46px;
  }

  .features {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .success-mes {
    margin-bottom: 100px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .mes-reg {
      font-size: 1rem;
      padding: 10px 20px;
    }

    .success-img {
      width: 248px;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 30px;
    }

    .remark {
      font-size: 1rem;
      margin-bottom: 30px;

      .point {
        font-size: 1rem;
      }
    }

    .explain {
      font-size: 1rem;
    }
  }

  .onlinecard .nav-link {
    margin: 0px auto;
  }

  .onlinecard-navtab {
    max-width: 380px;
    margin: 0px auto;
  }

  .slickcard-navtab {
    max-width: 380px;
    margin: 0px auto;

    .slick-list {
      overflow: inherit;
    }
  }

  .total-content {
    margin-bottom: 0px;
    overflow: hidden;
  }

  .online-content .online-row .onl-infor {
    height: calc(100% - 200px);
  }

  .total-con-p {
    padding: 0;
  }

  .sectLg .form-data .title {
    font-size: 1.5rem;
  }

  .payment {
    .choose-box {
      margin: 0px -20px;
    }
  }

  .add-box {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }

  .add-all {
    margin-top: 30px;
  }
  .program-card {
    padding: 0px 20px;
  }
  .add-box {
    .payment {
      padding: 0px 0px;
    }
  }
}

@media (max-width: 575.98px) {
}

/* less than 480px */
@media (max-width: 520px) {
  .online-content .online-row .onl-infor {
    height: calc(100% - 186px);
  }
}

/* less than 375px */
@media (max-width: 375px) {
  .online-content .online-row .onl-infor {
    height: calc(100% - 160px);
  }
}

/* less than 320px */
@media (max-width: 320px) {
  .online-content .online-row .onl-infor {
    height: calc(100% - 126px);
  }
}
