.service-member {
  position: relative;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
  border: solid 1px $grey-helper-line;
  background-color: $white;
  padding: 40px 40px 40px 273px;
  margin-bottom: 40px;
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 241px;
    height: 146px;
    left: 0;
    bottom: 0;
    background-image: url(../img/img-insured@2x.png);
    background-size: 241px 146px;
  }

  p {
    margin-bottom: 0;
    font-weight: 500;
  }

  h3 {
    margin-bottom: 14px;
  }
}

.service-insurance {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
  border: solid 1px $grey-helper-line;
  background-color: $white;
  overflow: hidden;

  &.service-ins-bg {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 243px;
      height: 175px;
      background-image: url(../img/bg-insured-circle-slach@2x.png);
      background-repeat: no-repeat;
      background-size: 243px 175px;
    }
  }

  .service-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $bg-green-top;
    padding: 15px 30px;
    font-size: 1.25rem;
    height: 78px;

    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    span {
      font-size: 2rem;
      color: $green;
      font-weight: 500;
    }
  }

  .service-ins-box {
    max-width: 880px;
    margin: 0px auto;

    .service-ins-row {
      margin-top: 40px;

      a {
        color: $black;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        height: 100%;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);

        &:hover {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateY(-15px) translateZ(0);
          transform: translateY(-15px) translateZ(0);
          -moz-transform: translateY(-15px) translateZ(0);
          -ms-transform: translateY(-15px) translateZ(0);
          -o-transform: translateY(-15px) translateZ(0);
        }
      }

      .service-ins-kind {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
        background-color: $white;
        padding: 6px 10px;
        min-width: 195px;
        margin: 0px auto;

        .service-ins-item {
          display: table;
          margin: 6px auto 14px;
          font-size: 1rem;
          font-weight: 500;

          .number {
            border-radius: 60px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            background-color: $orange;
            font-size: 0.8125rem;
            color: $white;
            display: inline-block;
            padding: 2px 2px;
            min-width: 22px;
            max-height: 22px;
            margin-left: 6px;
            vertical-align: text-bottom;
          }
        }
      }
    }

    hr {
      border-top: 1px solid $grey-light-left;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .service-ins-btn {
      margin-bottom: 40px;
    }
  }
}

.service-insurance-all {
  margin-bottom: 40px;
}

.service-message {
  margin-bottom: 150px;

  .service-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
    border: solid 1px $grey-helper-line;
    background-color: $white;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 20px 0px;
    overflow: hidden;

    a {
      padding: 19px 20px 19px 30px;
      border-bottom: 1px solid $grey-light-left;
      font-size: 1.125rem;
    }

    .number {
      display: inline-block;
      border-radius: 60px;
      background-color: $orange;
      padding: 5px 7px;
      color: $white;
      line-height: 1;
      min-width: 22px;
      max-height: 22px;
      font-size: 0.8125rem;
      vertical-align: text-bottom;
      margin-left: 5px;
    }

    .link {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  .service-notice {
    padding: 30px 30px 20px;

    a {
      color: $black;
      display: block;
    }
  }

  .service-message-box {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
  }
}

.service-notice {
  .label {
    min-width: 83px;
    margin-right: 12px;
  }

  .public_at {
    color: $grey;
    font-size: 0.875rem;
  }

  p {
    margin-top: 12px;
    margin-bottom: 0px;
  }

  hr {
    border-top: 1px solid $grey-light-left;
    margin-top: 14px;
    margin-bottom: 20px;
  }
}

.jobdetails.impor-notice .jobbox {
  .service-notice {
    max-width: 780px;
    margin: 0px auto;

    .service-row {
      cursor: pointer;
    }
  }

  hr {
    margin-top: 14px;
    margin-bottom: 20px;
  }
}

.service-result {
  .onlinebg {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $white;
    margin-bottom: 150px;

    &::before {
      display: none;
    }
  }

  .empty {
    margin-top: 60px;
    margin-bottom: 60px;

    i {
      margin-bottom: 20px;
    }
  }
}

.service-hr {
  max-width: 880px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px solid $grey-light-left;
}

.choose-card.service-card {
  max-width: 800px;
  margin: 0px auto;

  .choose-content {
    padding: 10px 30px 30px;

    .choose-content-detail {
      padding: 10px 0px;

      &:last-child {
        border-bottom: solid 1px $grey-light-left;
      }

      .choose-caption {
        width: 25%;
      }

      .item {
        width: 75%;
      }
    }

    .makefile {
      background-color: $bg-green-top;
      padding: 20px;
      text-align: center;
      margin-top: 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .item {
        margin-bottom: 10px;
      }

      .money {
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
  }

  .choose-top {
    padding: 13px 20px;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.service-inform-box {
  max-width: 780px;
  margin: 0px auto;

  .bookmark {
    margin-top: 40px;
    margin-bottom: 0px;

    .tab-link .tab-title i {
      top: 2px;
    }

    .tab-row-content .tab-item-box .tab-card {
      border: 2px solid $green-light-tender;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      overflow: hidden;
      margin-bottom: 40px;

      .tab-link {
        padding: 12px 30px 12px 30px;
        background-color: $bg-green-top;
      }

      .line {
        border-top: 2px solid $green-light-tender;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .service-inform-card {
      border: 0;
      margin-bottom: 0;

      .choose-content {
        border-top: 2px solid $green-light-tender;
      }

      &:last-child {
        border-top: 0px;
      }
    }
  }
}

.service-inform-card {
  margin: 0px auto;
  border: 2px solid $green-light-tender;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  .choose-content {
    padding: 0px 20px;

    .choose-content-detail {
      // padding: 10px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 18px 20px;
      border-bottom: solid 1px $grey-light-left;
      word-wrap: break-word;

      .choose-caption {
        width: 32%;
        color: $grey-deep;
        min-width: 90px;
        padding-right: 10px;
      }

      .item {
        width: 70%;
        color: $black;
      }

      &:last-child {
        border-bottom: 0px;
      }
    }
  }

  .choose-top {
    padding: 13px 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &.service-card-top {
    .choose-content .choose-content-detail:last-child {
      border-bottom: solid 1px $grey-light-left;
    }
  }
}

.service-inform-box
  .bookmark
  .service-inform-card.service-card-line-none
  .choose-content {
  border-top: 0px;

  .choose-content-detail:last-child {
    border-bottom: 1px solid $grey-light-left;
  }
}

.select-type {
  max-width: 700px;
  margin: 0px auto;
}

.not-found {
  padding-top: 10px;

  p {
    margin-bottom: 20px;
  }
}

.choose-card.service-card.service-notice-box {
  .service-notice {
    overflow: hidden;
    transition: all 0.4s;
  }

  .service-notice-content {
    padding: 20px 30px;

    .service-row {
      border-bottom: 1px solid $grey-light-left;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &:last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .remarks {
    font-size: 0.875rem;
    color: $grey-deep;
  }

  .choose-top {
    padding: 10px 20px;
  }
}

.arrow-up {
  text-align: center;
  margin-top: 10px;

  div {
    display: inline-block;
    background-color: $white;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(50, 177, 95, 0.5);
    padding: 2px 7px 4px;
    text-align: center;
    cursor: pointer;
  }
}

.service-guarantee-box {
  border-top: 2px solid $green-light-tender;
}

.service-inform-guarantee {
  margin-bottom: 150px;

  .form-data {
    margin-bottom: 40px;
  }

  .service-notice {
    padding: 20px 20px 0px;
  }

  .service-inform-box {
    margin-bottom: 50px;
  }

  .service-guarantee-row {
    padding: 20px 0px 0px;
    border-bottom: 1px solid $grey-light-left;
    margin: 0px 20px;

    .item {
      font-size: 1.125rem;
      font-weight: 500;
      padding: 10px 20px;
    }

    .service-content-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      word-wrap: break-word;
      border-bottom: 1px solid $grey-light-left;
      padding: 0px 28px 0px 0px;
      margin: 0px 20px;

      .service-caption {
        width: 100%;
        color: $grey-deep;

        div {
          border-bottom: 1px solid $grey-light-left;
          padding: 16px 20px;

          &:last-child {
            border-bottom: 0;
          }
        }

        &:last-child {
          div {
            border-bottom: 0;
          }
        }
      }

      .service-price {
        width: 30%;
        text-align: right;
        color: $green;
        font-size: 1.125rem;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    h5 {
      font-weight: 500;
      font-size: 1.125rem;
      padding: 20px 40px 10px;
    }
  }

  .service-guarantee-title {
    font-weight: 500;
    text-align: center;
    margin: 40px 0px 30px;
    font-size: 1.25rem;
  }

  .renew {
    max-width: 780px;
    font-size: 1.125rem;
    margin: 0px auto 30px;
    background-color: $orange-line;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    a {
      display: block;
      color: $black;
      padding: 16px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .boi-step {
    max-width: 1000px;
    margin: 0px auto 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $grey-light-left;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.service-change {
  margin-bottom: 150px;
}

.service-inform-box .bookmark .tab-row-content .tab-item-box .tab-card {
  &.pay-card {
    margin-bottom: 20px;
  }
}

.service-inform-box .bookmark .tab-row-content .tab-item-box .pay-box {
  padding: 0px 20px;

  p {
    padding: 30px 10px;
  }

  .tab-card {
    border: 0px;
    margin-bottom: 0;

    .tab-link {
      padding: 20px;
      background-color: $white;
    }
  }

  ul {
    list-style: disc;
    padding: 0px 30px;
    border: 0;

    li {
      text-align: left;
    }
  }

  .tab-card {
    border-top: 1px solid $grey-light-left;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .tab-item-box {
    margin-bottom: 0;
  }

  .pay-content {
    padding: 0px 20px 30px;

    p {
      margin-bottom: 8px;
      padding: 0px 10px;

      &.test {
        margin-top: 30px;
        margin-bottom: 15px;
      }
    }
  }

  h4 {
    font-size: 1rem;
  }
}

.choose-card.service-card.service-notice-box.select-service {
  &.active {
    border: 2px solid $orange;
  }

  .service-notice-content {
    padding: 10px 20px 20px;

    .service-notice {
      padding: 0;
    }
  }

  .choose-top {
    padding: 10px 8px 10px 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}

.introduce {
  padding-top: 30px;
  position: relative;
  z-index: 1;

  .introduce-box {
    max-width: 810px;
    margin: 0px auto;
    padding: 10px 0px 80px;
  }

  h3 {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: solid 1px $grey-light-left;
    margin-left: 15px;
    margin-right: 15px;
  }

  a {
    display: block;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 20px 10px;
    max-width: 172px;
    margin: 15px;
    color: $grey-deep;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);

    &:hover {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateY(-15px) translateZ(0);
      transform: translateY(-15px) translateZ(0);
      -moz-transform: translateY(-15px) translateZ(0);
      -ms-transform: translateY(-15px) translateZ(0);
      -o-transform: translateY(-15px) translateZ(0);
      color: $grey-deep;
    }
  }

  &.introduce-bg {
    overflow: hidden;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;

    &::before {
      content: "";
      position: absolute;
      right: -15px;
      bottom: 0;
      width: 816px;
      height: 216px;
      background-image: url(../img/img-claim-bg@2x.png);
      background-repeat: no-repeat;
      background-size: 816px 216px;
      z-index: -1;
    }

    &.bevel {
      padding-bottom: 140px;
    }
  }
}

.add-data {
  margin-bottom: 30px;
  color: $green;
  border: solid 2px $grey-hel-tab-select;
  background-color: $bg-green-top;
  padding: 20px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.upload-card {
  margin-bottom: 30px;

  .plain-info-left {
    min-width: 100px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background: $grey-light-left;
      top: calc(50% - 20px);
      right: 0;
    }
  }

  .plain-data {
    margin-left: 30px;

    .area {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: $grey;
      line-height: initial;

      i {
        margin: 0px 16px;
      }
    }
  }

  .setting.s-general {
    padding: 30px;
  }

  .choose-top {
    padding: 9px 30px;
  }
}

.explain-center {
  padding: 0px 40px;
}

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .service-inform-guarantee .boi-step {
    max-width: inherit;
    margin: 0px 20px 50px;
  }
}

@media (max-width: 991.98px) {
  .service-member,
  .service-insurance-all {
    margin-bottom: 20px;
  }

  .service-item-box {
    margin-top: 20px;
  }

  .service-message {
    margin-bottom: 100px;
  }

  .service-inform-box {
    padding: 0px 40px 20px;
    max-width: inherit;
    margin: 0px auto 40px;

    .bookmark {
      padding-top: 0px;
      margin-top: 30px;

      .tab-row-content .tab-item-box {
        margin: 0px;
      }
    }
  }

  .service-inform-guarantee .service-inform-box {
    margin-bottom: 40px;
  }

  .service-inform-guarantee .renew {
    max-width: inherit;
    margin: 0px 40px 30px;
  }

  .introduce .introduce-box {
    padding: 10px 20px 80px;

    a:hover {
      -webkit-transform: inherit;
      transform: inherit;
      -moz-transform: inherit;
      -ms-transform: inherit;
      -o-transform: inherit;
    }
  }

  .introduce.introduce-bg.bevel {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-bottom: 200px;
  }
}

@media (max-width: 767.98px) {
  .service-member-box {
    margin-top: 160px;
  }

  .service-member::before {
    content: "";
    position: absolute;
    width: 184px;
    height: 93px;
    left: inherit;
    bottom: 0;
    right: 0;
    background-image: url(../img/img-insured-m@2x.png);
    background-size: 184px 93px;
  }

  .service-member {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    padding: 20px 20px 66px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .service-insurance {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .service-top {
      font-size: 1rem;
      min-height: 60px;
      padding: 15px 16px;

      span {
        font-size: 1.25rem;
      }
    }

    .service-ins-box {
      .service-ins-row {
        margin-top: 10px;

        .service-ins-kind {
          border-radius: inherit;
          -webkit-border-radius: inherit;
          -moz-border-radius: inherit;
          -ms-border-radius: inherit;
          -o-border-radius: inherit;
          -webkit-box-shadow: inherit;
          box-shadow: inherit;
          background-color: inherit;
          min-width: inherit;

          .service-ins-item {
            margin: 0px auto;
            font-size: 0.875rem;

            .number {
              font-size: 0.75rem;
              vertical-align: bottom;
            }
          }
        }
      }

      hr {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .service-ins-btn {
        margin-bottom: 30px;
      }
    }
  }

  .service-message .service-item {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0;

    a:last-child {
      border-bottom: inherit;
    }
  }

  .service-insurance.service-ins-bg::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 137px;
    height: 95px;
    background-image: url(../img/bg-insured-circle-slach-m@2x.png);
    background-repeat: no-repeat;
    background-size: 137px 95px;
  }

  .service-message .service-notice {
    padding: 20px 30px 10px;
  }

  .service-result .onlinebg {
    padding: 0;
    margin-bottom: 70px;
  }

  .service-inform-frame {
    margin-top: 170px;
  }

  .service-inform-box {
    padding: 0px;
  }

  .service-result .service-hr {
    border-top: 0px;
  }

  .not-found {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    left: 0;
    -webkit-box-shadow: 0 -4px 4px 0 rgba(94, 109, 123, 0.14);
    box-shadow: 0 -4px 4px 0 rgba(94, 109, 123, 0.14);
    padding: 13px 0px 6px;
    width: 100%;

    p {
      margin-bottom: 0px;
    }

    .btn-order {
      max-width: 440px;
      .service-price {
        width: max-content;
        white-space: nowrap;
      }
    }
  }
  .service-inform-box .bookmark .tab-row-content .tab-item-box .tab-card {
    margin-bottom: 30px;

    .tab-link {
      padding: 10px 20px 10px 30px;
    }
  }

  .service-inform-guarantee {
    margin-bottom: 100px;
    margin-top: 170px;

    .form-data {
      margin-bottom: 30px;
    }

    .service-guarantee-row {
      .service-content-detail {
        padding: 0px;
        margin: 0px 10px;

        .service-caption {
          div {
            padding: 16px 6px;
          }
        }

        .service-price {
          width: max-content;
          white-space: nowrap;
        }
      }

      .item {
        font-size: 1rem;
        padding: 0px 6px;
      }
    }
  }

  .service-inform-card .choose-content {
    padding: 0px 12px;

    .choose-content-detail {
      padding: 18px 16px;
    }
  }

  .service-inform-card .choose-content .choose-content-detail .choose-caption {
    width: 35%;
  }

  .service-inform-card .choose-content .choose-content-detail .item {
    width: 65%;
  }

  .service-inform-guarantee {
    .renew {
      margin: 0px 0px 30px;
    }

    .service-notice {
      padding: 20px 16px 0px;
    }
  }

  .choose-card.service-card .choose-content {
    padding: 10px 12px 30px;
  }

  .select-type {
    margin: 0px -10px;
  }

  .service-inform-guarantee .service-guarantee-row h5 {
    padding: 20px 16px 10px;
  }

  .service-change {
    margin-bottom: 100px;
  }

  .choose-card.service-card .choose-content .makefile {
    text-align: left;
  }

  .service-inform-box .bookmark .tab-row-content .tab-item-box .pay-box {
    padding: 0px 16px;

    p {
      padding: 20px 0px;
    }

    .pay-content p.test {
      margin-top: 20px;
    }
  }

  .bookmark .tab-link .tab-title {
    .img-collapse {
      img {
        width: 20px;
      }
    }

    .img-collapse-add {
      width: 16px;
    }
  }

  .service-introduce {
    .total-from {
      width: inherit;
      padding: 0;
    }
  }

  .introduce {
    padding-top: 0;

    &.introduce-bg {
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;

      &::before {
        display: none;
      }
    }

    .introduce-box {
      max-width: 384px;
      padding: 0;
    }

    a {
      margin: 10px auto;
    }

    .introduce h3 {
      margin-left: 0px;
    }

    hr {
      margin-left: 0;
      margin-right: 0;
    }

    h3 {
      margin-left: 10px;
    }
  }

  .upload-card {
    .setting.s-general {
      padding: 10px 16px;
    }

    .choose-top {
      padding: 9px 16px;
    }

    .plain-info-left {
      min-width: 80px;
    }

    .plain-data {
      margin-left: 20px;
    }
  }

  .adb {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    background-color: $white;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -4px 4px 0 rgba(94, 109, 123, 0.14);
    box-shadow: 0 -4px 4px 0 rgba(94, 109, 123, 0.14);
    padding: 13px 0px 6px;
  }

  .service-inform-guarantee .boi-step {
    max-width: inherit;
    margin: 0px 0px 50px;
  }

  .introduce.introduce-bg.bevel {
    padding-bottom: 30px;
  }

  .explain-center {
    padding: 0px 0px;
  }
  .choose-card.service-card.service-notice-box .service-notice-content {
    padding: 20px 20px;
  }
}

@media (max-width: 575.98px) {
  .not-found {
    .btn-order {
      max-width: 375px;
    }

    .btn {
      min-width: 165px;
    }
  }

  .service-password {
    .btn {
      min-width: 100%;
    }
  }
}

/* less than 480px */
@media (max-width: 520px) {
  .introduce a {
    margin: 10px;
  }
}

/* less than 375px */
@media (max-width: 375px) {
  .service-inform-card .choose-content .choose-content-detail .choose-caption {
    width: 45%;
  }

  .service-inform-card .choose-content .choose-content-detail .item {
    width: 55%;
  }
}

/* less than 320px */
@media (max-width: 360px) {
  .not-found .btn {
    width: 140px;
    min-width: inherit;
  }

  .service-inform-guarantee .service-guarantee-row {
    padding: 16px 16px 0px;
    margin: 0px 5px;

    .service-content-detail {
      padding: 0px 10px 0px 0px;

      .service-caption {
        div {
          padding: 10px;
        }
      }
    }
  }

  .service-inform-guarantee
    .service-guarantee-row
    .service-content-detail
    .service-price {
    width: 40%;
  }

  .upload-card {
    .plain-info-left {
      min-width: 70px;
    }

    .plain-data {
      margin-left: 10px;
    }
  }
}
