$black: #000;
$grey: #7d8a94;
$black-light: #454545;
$grey-light-left: #e1e4e9;
$grey-light: #bfc3ca;
$grey-light-circle: #bfc3ca;
$grey-menu-line: #f0f1f3;
$grey-helper-line: #d7e4dc;
$grey-line-btn: #e4e9f0;
$bg-grey: #f9f8f7;
$bg-grey-round: #f2f2f2;
$white: #ffffff;
$green: #00a94f;
$green-deep: #008952;
$green-shadow: #017537;
$green-darkgreen: #004b23;
$green-light: #7bbf43;
$green-middle: #32b15f;
$green-light-tender: #c1e7cf;
$green-light-gua: #fafdf7;
$bg-green-light: #e0eee5;
$bg-green-top: #eaf7ef;
$aqua-green: #d7f4fa;
$red: #f9556f;
$red-deep: #af5252;
$blue: #5fb2f6;
$blue-btn: #066eb7;
$grey-text: #3a3a3a;
$grey-bg: #fcfcfc;
$grey-line: #aeb6bd;
$grey-textarea: #979797;
$grey-deep: #5b616f;
$grey-hel-bg: #fafcfb;
$grey-hel-tab: #d8d8d8;
$grey-hel-tab-select: #d7e4e4;
$blue-bg-light: #f0fafa;
$orange: #fca832;
$orange-line: #fef6ea;
$bg-orange: #f5bd31;
$purple: #be52f2;
$grey-input-line: #eae6e2;
$clause: #f0f5f5;
$bblue: #d1d6de;

//scrollbar樣式
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 2px solid $white;
}

* {
  outline: none;
}

body,
html {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
  font-size: 1rem;
  background-color: $white;
  color: $black;
  height: 100%;
  letter-spacing: 0.5px;
  min-width: 320px;
}

.slick-track,
.slick-slide {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.height-content {
  min-height: calc(100% - 256px);
  overflow: hidden;
}

.com-content {
  padding-top: 118px;

  &.com-push {
    padding-top: 164px;
  }
}

// modal點擊時跑版問題
// *.modal-open {
//     overflow-y: hidden;
//     padding-right: 0 !important;}
// .modal.fade.show,.navbar.navbar-light{
//     padding-right: 0 !important;
// }
input,
button {
  font-family: revert;
}

a {
  color: $black-light;
  cursor: pointer;

  &:hover {
    color: $black-light;
    text-decoration: none;
  }
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.meta {
  line-height: 1.43;
}

.label,
a.label:link {
  display: inline-block;
  font-size: 0.875rem;
  padding: 2px 7px 2px;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  background: $bg-grey;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: 500;
  min-width: 156px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  line-height: 18px;
}

.is-green {
  background: $green-light;
}

.is-green-middle {
  background: $green-middle;
}

.is-orange {
  background: $orange;
}

.is-blue {
  background: $blue;
}

.is-grey {
  background: $grey;
}

.label.is-red,
a.label:link.is-red {
  background: $red;
}

.label.is-purple,
a.label:link.is-purple {
  background: $purple;
}

.label.is-teal,
a.label:link.is-teal {
  background: #31b9ca;
}

a,
a {
  &:link {
    text-decoration: none;
    transition: color 0.3s ease;
    color: $green;
  }

  &:visited {
    color: $green;
    font-weight: 500;
  }

  &[data-target] {
    text-decoration: none;
    transition: color 0.3s ease;
    color: $green;
  }
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus,
.link:hover,
.link:focus {
  color: $green;
}

a,
a:link {
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

a.text-green {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.news-container + .more {
  margin-bottom: 164px;
}

// font-size
/* 36px */
h1 {
  font-size: 2.25rem;
  line-height: 1.06;
  font-weight: 500;
}

/* 28px */
h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0px;
}

/* 24px */
h3 {
  font-size: 1.5rem;
}

/* 20px */
h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

// spacing
.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mll-5 {
  margin-left: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-80 {
  margin-left: 80px;
}

.link {
  color: $green;
}

.i-icon {
  display: inline-block;
  vertical-align: middle;
}

ul {
  letter-spacing: -8px;

  li {
    letter-spacing: normal;
  }
}

// bg-color
.bg-green {
  background-color: $green;
}

.bg-deep-green {
  background-color: $green-middle;
}

.bg-orange {
  background-color: $bg-orange;
}

.bg-red {
  background-color: $red;
}

.bg-white {
  background-color: $white;
}

.bg-green-light {
  background-color: $green-light;
}

.highlight-red {
  color: $red;
}

.highlight-orange {
  color: $orange;
}

.bg-grey {
  background-color: $grey-hel-bg;
}

.bg-black {
  background-color: $black;
}

.bg-textgray {
  background-color: $grey-deep;
}

.bg-white-block {
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
  border: solid 1px $grey-helper-line;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.bg-main-gradient {
  background-image: linear-gradient(100deg, #2bb75e 18%, #94d352 76%);
}

.bg-secondary-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#099e69+0,6bca50+100,6bca50+101 */
  background: #099e69;
  /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #099e69 0%,
    #6bca50 100%,
    #6bca50 101%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #099e69 0%,
    #6bca50 100%,
    #6bca50 101%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #099e69 0%, #6bca50 100%, #6bca50 101%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#099e69', endColorstr='#6bca50', GradientType=1);
  /* IE6-9 */
}

// text-color
.text-black {
  color: $black;
}

.text-gray {
  color: $grey-deep;
}

.text-gray-gr {
  color: $grey;
}

.text-green {
  color: $green;
}

.text-white {
  color: $white;
}

.text-orange {
  color: $orange;
}

.text-green-darkgreen {
  color: $green-darkgreen;
}

.text-red {
  color: $red;
}

input {
  -webkit-appearance: none;
}

.crude {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.weight-stress {
  font-weight: 500 !important;
}

.word-break {
  word-wrap: break-word;
  word-break: break-all;
  line-height: initial;
}

/*radio btn*/
input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  padding-left: 34px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 0;
}

input[type="checkbox"].big-checkbox + label {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 0;
}

input[type="checkbox"] + label + span {
  visibility: hidden;
}

input[type="checkbox"]:checked + label + span {
  visibility: visible;
}

input[type="checkbox"] + label {
  background-image: url("../img/element/ic-checkbox-default@2x.png");
  background-size: 24px;
}

input[type="checkbox"].big-checkbox:checked + label {
  background-image: url("../img/element/ic-checkbox-checked@2x.png");
  background-size: 24px;
}

input[type="radio"] + label {
  background-image: url("../img/element/ic-radio-default@2x.png");
  background-size: 24px;
}

input[type="radio"]:checked + label {
  background-image: url("../img/element/ic-radio-checked@2x.png");
  background-size: 24px;
}

// 取消上下小箭頭
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.radio-orange {
  input[type="checkbox"],
  input[type="radio"] {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block;
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin: 0;
  }

  input[type="radio"] + label {
    background-image: url("../img/element/ic-circle-default@2x.png");
    background-size: 30px;
  }

  input[type="radio"]:checked + label {
    background-image: url("../img/element/ic-circle-select@2x.png");
    background-size: 30px;
  }
}

.choose-box {
  &.active {
    input[type="radio"] + label {
      background-image: url("../img/element/ic-radio-checked@2x.png");
      background-size: 24px;
    }

    input[type="checkbox"] + label {
      background-image: url("../img/element/ic-checkbox-checked@2x.png");
      background-size: 24px;
    }
  }

  &.disabled {
    input[type="radio"] + label {
      background-image: url("../img/element/ic-radio-checked-disabled@2x.png");
      background-size: 24px;
    }

    input[type="checkbox"] + label {
      background-image: url("../img/element/ic-checkbox-checked-disabled@2x.png");
      background-size: 24px;
    }
  }

  &.disabled-air {
    input[type="radio"] + label {
      background-image: url("../img/element/ic-radio-disabled@2x.png");
      background-size: 24px;
    }

    input[type="checkbox"] + label {
      background-image: url("../img/element/ic-checkbox-disabled@2x.png");
      background-size: 24px;
    }
  }

  &.error {
    input[type="radio"] + label {
      background-image: url("../img/element/ic-radio-error@2x.png");
      background-size: 24px;
    }

    input[type="checkbox"] + label {
      background-image: url("../img/element/ic-checkbox-error@2x.png");
      background-size: 24px;
    }
  }
}

/*radio btn*/
button:focus {
  outline: inherit;
}

a.phone {
  color: $black;

  &:hover,
  &:active,
  &:focus {
    color: $black;
  }
}

a.p-grey-deep {
  color: $grey-deep;

  &:hover,
  &:active,
  &:focus {
    color: $grey-deep;
  }
}

.btn {
  padding: 7px 10px;
  border-radius: 60px;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;

  &.line-green {
    border: 1px solid var(--green);

    &:hover {
      color: var(--green);
    }
  }

  &.line-light-grey-blue {
    border: 1px solid var(--light-grey-blue);

    &:hover {
      color: var(--light-grey-blue);
    }
  }

  &.line-dark {
    border: 1px solid var(--dark);

    &:hover {
      color: var(--dark);
    }
  }

  &.line-white {
    border: 1px solid var(--white);

    &:hover {
      color: var(--white);
    }
  }

  &.text-light-grey-blue {
    &:hover {
      color: var(--light-grey-blue);
    }
  }

  &.round {
    padding: 5px 18px;
    border-radius: 22px;
  }

  &.btn-blue {
    background-color: $white;
    border: 1px solid $blue-btn;
    color: $blue-btn;
    border-radius: 9.6px;
    -webkit-border-radius: 9.6px;
    -moz-border-radius: 9.6px;
    -ms-border-radius: 9.6px;
    -o-border-radius: 9.6px;

    &:hover {
      background-color: $blue-btn;
      border: 1px solid $blue-btn;
      color: $white;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-blue-footer {
    background-color: $white;
    border: 1px solid $blue;
    color: $blue;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;

    &:hover {
      background-color: $white;
      border: 1px solid $blue-btn;
      color: $blue-btn;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-white {
    border: 1px solid $grey-line-btn;
    background-color: $white;
    color: $green;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 2px 0 0 $bblue;
    box-shadow: 0 4px 0 0 $bblue;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1);

    &:hover {
      color: $green;
      background: $white;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-orange {
    background-color: $orange;
    color: $white;
    -webkit-box-shadow: 0 4px 0 0 #a66305;
    box-shadow: 0 4px 0 0 #a66305;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1);

    &:hover {
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      //     -webkit-box-shadow: 0 2px 0 0#a66305;
      // box-shadow: 0 2px 0 0#a66305;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      //     -webkit-box-shadow: 0 2px 0 0#a66305;
      // box-shadow: 0 2px 0 0#a66305;
    }
  }

  &.btn-grey {
    background-color: $white;
    border: 1px solid $grey;
    color: $grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    &:hover {
      background-color: $grey;
      border: 1px solid $grey;
      color: $white;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.btn-radius {
  display: inline-block;
  padding: 2px 14px;
  min-width: 122px;
  text-align: center;
  font-weight: 500;
  border-radius: 60px;
  cursor: pointer;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;

  &.btn-white {
    border: 2px solid $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  &.btn-green {
    color: $white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 4px 14px;

    &:hover {
      opacity: 0.8;
      color: $white;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

select:invalid {
  color: $grey;
}

.btn {
  font-size: 1.125rem;
  padding: 0 28px;
  display: inline-block;
  padding: 9px 20px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 500;
  font-family: inherit;

  &.btn-primary {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: $green;
    box-shadow: 0 4px 0 0 #017537;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1);

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background: $green;
      // background-image: linear-gradient(307deg, #6bca50, #099e69);
      box-shadow: inherit;
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      // box-shadow:  0 2px 0 0 #017537;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  &.disabled {
    background-color: $grey-light-left;
    opacity: 1;
    border: 1px solid $grey-light-left;
    box-shadow: 0 4px 0 0 #9aa59f;
    color: $grey-line;

    &:hover,
    &:focus,
    &:active {
      background-color: $grey-light-left;
      border: 1px solid $grey-light-left;
      // box-shadow: 0 4px 0 0 #9aa59f;
      color: $grey-line;
      -webkit-transform: inherit;
      transform: inherit;
      -moz-transform: inherit;
      -ms-transform: inherit;
      -o-transform: inherit;
      -webkit-box-shadow: 0 4px 0 0 #9aa59f;
      box-shadow: 0 4px 0 0 #9aa59f;
    }
  }

  &.btn-white.disabled {
    border: 1px solid $grey-line-btn;
    box-shadow: 0 4px 0 0 $bblue;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $grey-line-btn;
      box-shadow: 0 4px 0 0 $bblue;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background: $green;
  border: 1px solid rgba(255, 255, 255, 0);
}

.btn:focus,
.btn.focus {
  box-shadow: initial;
}

.icons-ic-loading {
  animation: rotate 2s linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// 輸入框顏色
::-webkit-input-placeholder {
  color: $grey !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $grey !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $grey !important;
}

:-ms-input-placeholder {
  color: $grey !important;
}

ul.labels {
  padding: 0;

  li {
    display: inline-block;
    border: 1px solid $grey-hel-tab-select;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin-right: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    background-color: $white;

    a {
      display: inline-block;
      padding: 7px 33px;
    }

    &:hover {
      box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: $green-light;
      color: $white;
      border: 1px solid $green-light;

      a {
        transition: color 0s ease;
        -webkit-transition: color 0s ease;
        -moz-transition: color 0s ease;
        -ms-transition: color 0s ease;
        -o-transition: color 0s ease;
      }
    }
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f2f1f0;
  color: $grey;
  -webkit-text-fill-color: $grey;
}

.title-hight {
  min-height: 66px;
}

@media (max-width: 1199.98px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767.98px) {
  h1,
  h2,
  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  .btn {
    &.btn-white,
    &.btn-primary,
    &.btn-orange {
      font-size: 1rem;
      min-width: 200px;
      padding: 6px 9px 4px;
      line-height: inherit;
    }
  }
}

@media (max-width: 991.98px) {
  .com-content {
    padding-top: 56px;

    &.com-push {
      padding-top: 100px;
    }
  }

  ul.labels {
    white-space: nowrap;
    // overflow-x: auto;
    // overflow-y: hidden;
    border-bottom: 0px;
    margin-bottom: 20px;

    li {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }

  .remove-width {
    max-width: inherit;
    padding-right: 20px;
    padding-left: 20px;
  }

  ul.labels {
    li {
      &:first-child {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .label,
  a.label:link {
    display: inline-block;
    font-size: 0.875rem;
    padding: 2px 7px 0px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes push {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes menuopen-fade-in {
  from {
    left: -1000px;
  }

  to {
    left: 0;
  }
}

// rambo 調整 online-insurance commodity
@media (max-width: 767.98px) {
  .com-detail.com-detail-type {
    ul {
      li {
        .d-md-flex {
          display: block;
          .mr-auto {
            display: block;
          }
          .price {
            display: block;
            .money {
              width: auto;
              display: inline-block;
            }
            .unit {
              width: auto;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

input {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
}

@media (min-width: 1199.98px) {
  .commodity {
    .com-img {
      .com-img-box {
        li:hover {
          background-color: #fca832;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

          .i-default {
            display: none;
          }

          .i-active {
            display: inline-block;
          }
        }
      }
    }
  }
}

.word-break {
  word-break: keep-all;
}

/* 事先合併sprite */
@import url("assets/css/icon.css");

@import "index";
@import "news";
@import "menu";
@import "footer";
@import "content";
@import "guideline";
@import "online";
@import "popup";
@import "login";
@import "service";
@import "custom/style";
