<section class="sectLg">
  <div class="title">{{ FLang.D03.N0059 }}</div>
  <div class="container remove-width wow fadeInUp">
    <div class="boi-step">
      <div class="boi-step-row">
        <div class="text-center boi-step-img">
          <img
            src="assets/img/commodity/img-claim-start.png"
            alt=""
            srcset="assets/img/commodity/img-claim-start@2x.png 2x"
            class="d-none d-md-inline-block img-fluid"
          />
        </div>
        <div class="d-flex boi-step-box">
          <div class="number">1</div>
          <div class="boi-step-content custom_text_align">
            <h4>{{ FLang.D03.N0060 }}</h4>
            <p>{{ FLang.D03.N0061 }}</p>
          </div>
        </div>
      </div>
      <div class="boi-step-row">
        <div class="text-center boi-step-img">
          <img
            src="assets/img/commodity/img-claim-info.png"
            alt=""
            srcset="assets/img/commodity/img-claim-info@2x.png 2x"
            class="d-none d-md-inline-block img-fluid"
          />
        </div>
        <div class="d-flex boi-step-box">
          <div class="number">2</div>
          <div class="boi-step-content custom_text_align">
            <h4>{{ FLang.D03.N0062 }}</h4>
            <p>{{ FLang.D03.N0063 }}</p>
          </div>
        </div>
      </div>
      <div class="boi-step-row">
        <div class="text-center boi-step-img">
          <img
            src="assets/img/commodity/img-claim-paper.png"
            alt=""
            srcset="assets/img/commodity/img-claim-paper@2x.png 2x"
            class="d-none d-md-inline-block img-fluid"
          />
        </div>
        <div class="d-flex boi-step-box">
          <div class="number">3</div>
          <div class="boi-step-content custom_text_align">
            <h4>{{ FLang.D03.N0064 }}</h4>
            <p>{{ FLang.D03.N0065 }}</p>
          </div>
        </div>
      </div>
      <div class="boi-step-row">
        <div class="text-center boi-step-img">
          <img
            src="assets/img/commodity/img-claim-done.png"
            alt=""
            srcset="assets/img/commodity/img-claim-done@2x.png 2x"
            class="d-none d-md-inline-block img-fluid"
          />
        </div>
        <div class="d-flex boi-step-box">
          <div class="number">4</div>
          <div class="boi-step-content custom_text_align">
            <h4>{{ FLang.D03.N0066 }}</h4>
            <p>
              {{ FLang.D03.N0067 }}
              <a routerLink="/member/claim/search">{{ FLang.D03.N0068 }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
