<section class="jobdetails mt-0" #content>
  <div class="container remove-width">
    <div class="jobbox bg-white-block login-w joblogn">
      <form [formGroup]="group">
        <div class="advisory-content">
          <div class="adv-box-item">
            <p *ngIf="xCheckid" class="text-center c-mb-30">
              {{ FLang.B041A.L0001 }}
            </p>
            <div
              id="lyc_user_account"
              class="form-group"
              [class.status-error]="
                controls.user_account.dirty &&
                controls.user_account.touched &&
                controls.user_account.invalid
              "
            >
              <label>{{ FLang.B041A.content.B0001 }}</label>
              <div class="from-row">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ FLang.B041A.content.B0002 }}"
                  formControlName="user_account"
                  (keyup.enter)="focusPassword()"
                />
                <i
                  class="icons-ic-form-del i-icon"
                  (click)="controls.user_account.setValue('')"
                ></i>
              </div>
              <small
                style="color: #f9556f"
                [class.d-none]="
                  !controls.user_account.dirty ||
                  controls.user_account.untouched ||
                  controls.user_account.valid
                "
              >
                {{ getErrors(controls.user_account) }}</small
              >
            </div>
            <div
              id="lyc_user_password"
              class="form-group mb-2"
              [class.status-error]="
                controls.user_password.dirty &&
                controls.user_password.touched &&
                controls.user_password.invalid
              "
            >
              <label>{{ FLang.B041A.content.B0004 }}</label>
              <div class="from-row">
                <input
                  id="XPassword"
                  type="password"
                  class="form-control"
                  placeholder="{{ FLang.B041A.content.B0005 }}"
                  formControlName="user_password"
                  autocomplete="new-password"
                  (keyup.enter)="doSubmit()"
                />
                <i
                  class="icons-ic-form-del i-icon"
                  (click)="doClearInput('user_password')"
                ></i>
              </div>
              <small
                style="color: #f9556f"
                [class.d-none]="
                  !controls.user_password.dirty ||
                  controls.user_password.untouched ||
                  controls.user_password.valid
                "
              >
                {{ getErrors(controls.user_password) }}</small
              >
            </div>
            <div class="text-right">
              <a
                href="javascript:;"
                (click)="goFindAccount()"
                class="text-green explain"
                >{{ FLang.B041A.content.B0010 }}</a
              >
            </div>
            <div class="message-error" [class.d-none]="!FLoginError">
              {{ FLang.B041A.content.B0006 }}
            </div>
          </div>
          <div class="row no-gutters pop_row btn-order">
            <div class="col-md-6">
              <div class="text-center" [class.mt-20px]="xPop">
                <a class="btn btn-primary" (click)="doSubmit()">
                  {{ FLang.B041A.content.B0007 }}
                </a>
              </div>
            </div>
            <div class="col-md-6 order-md-first" *ngIf="!xCheckid">
              <div class="text-center">
                <a (click)="goRegister()" class="btn btn-white">
                  {{
                    xPop ? FLang.B041A.content.B0011 : FLang.B041A.content.B0008
                  }}
                </a>
              </div>
            </div>
          </div>
          <div class="login-p" *ngIf="xtype || FLogin">
            <div class="title">{{ FLang.B041A.content.B0009 }}</div>
            <div class="row link link-w">
              <div
                class="col align-self-center text-center"
                *ngIf="xtype === 'facebook' || xtype === 'both' || FLogin"
              >
                <a (click)="fblogin()">
                  <i class="icons-ic-login-fb i-icon"></i>Facebook</a
                >
              </div>

              <div
                class="col align-self-center text-center"
                *ngIf="xtype === 'google' || xtype === 'both' || FLogin"
              >
                <a (click)="googlelogin()">
                  <i class="icons-ic-login-google i-icon"></i>Google</a
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
