@media (max-width: 767.98px) {
  .btn {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .btn {
    min-width: 130px;
    width: 250px;
  }
  .jobdetails .jobbox {
    padding: 50px;
  }
}

.c-mb-30 {
  margin-bottom: 30px !important;
}
// .login-p .title{
//   justify-content: space-around;
// }
// .login-p .title::after,
// .login-p .title::before {
//   width: 30%;
// }
.width-change::after,
.width-change::before {
  content: "";
  height: 1px;
  width: 30%;
  background-color: #e1e4e9;
  margin: 0 20px 0 0;
}
.width-change::after {
  margin: 0 0 0 20px;
}

.width-pop::after,
.width-pop::before {
  content: "";
  height: 1px;
  width: 15%;
  background-color: #e1e4e9;
  margin: 0 20px 0 0;
}
.width-pop::after {
  margin: 0 0 0 20px;
}
.login-p .link div {
  padding-left: 4px;
  padding-right: 4px;
}
// POP 才使用
.pop {
  margin-bottom: 0;
  .container {
    .joblogn {
      border: 0px;
      box-shadow: 0 0 0 0;
      padding: 20px;
      margin-bottom: 30px;
      form {
        div {
          .pop_row {
            display: block;
            .col-md-6 {
              max-width: 100%;
              .text-center {
                width: 100%;
              }
            }
            .order-md-first {
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}
