<label>{{ label }}</label>
<div class="from-row">
  <input
    type="text"
    class="form-control"
    [ngClass]="{ 'status-error': controls, date1: !!value && !xdisabled }"
    [attr.placeholder]="placeholder"
    [id]="xid"
    [readonly]="xReadonly"
    [disabled]="xdisabled"
    (focus)="openData(); doShowDate()"
    (keydown)="CheckInputStatus($event)"
    (blur)="CheckInputStatus($event)"
    onkeyup="this.value=this.value.replace(/[^0-9/-]/g,'')"
    autocomplete="off"
  />

  <i *ngIf="!xdisabled" class="icons-ic-date i-icon" (click)="doShowDate('icon')"></i>
</div>
