<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story">
          <img
            src="assets/img/img-bn-member.png"
            alt=""
            srcset="assets/img/img-bn-member@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="assets/img/img-bn-member-m.png"
            alt=""
            srcset="assets/img/img-bn-member-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="assets/img/img-banner-shape.png"
            alt=""
            srcset="assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- breadcrumb -->
    <app-breadcrumb></app-breadcrumb>
    <div class="caption">
      <div class="container">
        <h1 [innerHtml]="FLang.F010.F0001"></h1>
      </div>
    </div>
    <section class="sectLg service-inform-guarantee">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data">
          <form [formGroup]="group">
            <div class="advisory-content">
              <div class="adv-box-item">
                <p class="text-md-center mb-30 crude custom_text_align">
                  {{ FLang.F010.F0002
                  }}<a class="a-style" (click)="loginUrl()">{{
                    FLang.F010.F0003
                  }}</a
                  >{{ FLang.F010.F0004 }}
                </p>
                <div
                  class="form-group"
                  [class.status-error]="
                    controls.policy_number.dirty &&
                    controls.policy_number.touched &&
                    controls.policy_number.invalid
                  "
                >
                  <label>{{ FLang.F010.F0005 }}</label>
                  <div class="from-row">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ FLang.PH.PH046 }}"
                      formControlName="policy_number"
                      (input)="changeToUpperCase($event)"
                    />
                    <i
                      class="icons-ic-form-del i-icon"
                      (click)="doClearInput('policy_number')"
                    ></i>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      !controls.policy_number.dirty ||
                      controls.policy_number.untouched ||
                      controls.policy_number.valid
                    "
                    >{{ getErrors(controls.policy_number) }}</small
                  >
                </div>
                <div class="form-group" [class.status-error]="statusCheck()">
                  <label>{{ FLang.F010.F0006 }}</label>
                  <div class="choose-box choo-sub ml-0" style="display: block">
                    <div class="choose-row mb-2 d-block d-md-inline-block">
                      <div
                        class="choose-box"
                        [class.disabled]="this.controls.policy_number.invalid"
                      >
                        <input
                          class="big-checkbox"
                          id="option1"
                          type="radio"
                          name="option"
                          value="1"
                          (change)="switchOptionNumber('1')"
                          formControlName="option"
                        />
                        <label for="option1">{{
                          FLang.F010.F0006_.s007
                        }}</label>
                      </div>
                    </div>
                    <div class="choose-row mb-2 d-block d-md-inline-block">
                      <div
                        class="choose-box"
                        [class.disabled]="this.controls.policy_number.invalid"
                      >
                        <input
                          class="big-checkbox"
                          id="option2"
                          type="radio"
                          name="option"
                          value="2"
                          (change)="switchOptionNumber('2')"
                          formControlName="option"
                        />
                        <label for="option2">{{
                          FLang.F010.F0006_.s005
                        }}</label>
                      </div>
                    </div>
                    <div class="choose-row mb-2 d-block d-md-inline-block">
                      <div
                        class="choose-box"
                        [class.disabled]="this.controls.policy_number.invalid"
                      >
                        <input
                          class="big-checkbox"
                          id="option3"
                          type="radio"
                          name="option"
                          value="3"
                          (change)="switchOptionNumber('3')"
                          formControlName="option"
                        />
                        <label for="option3">{{
                          FLang.F010.F0006_.s006
                        }}</label>
                      </div>
                    </div>
                  </div>
                  <!-- <small
                    class="form-text"
                    [class.d-none]="
                      controls.option.untouched ||
                      (!controls.option.untouched && controls.option.valid) ||
                      controls.policy_number.invalid
                    "
                    >{{ getErrors(controls.option) }}</small
                  > -->

                  <div class="from-row" *ngIf="controls.option.value === '1'">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{
                        FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS015
                      }}"
                      formControlName="license_plate_number"
                      (change)="changeValidators(controls.policy_number.value)"
                    />
                    <!-- appCarNoformat
                    [xtype]="'car'" -->
                    <i
                      class="icons-ic-form-del i-icon"
                      (click)="doClearInput('license_plate_number')"
                    ></i>
                  </div>

                  <small
                    class="form-text"
                    *ngIf="controls.option.value === '1'"
                    [class.d-none]="
                      !controls.license_plate_number.dirty ||
                      controls.license_plate_number.untouched ||
                      controls.license_plate_number.valid
                    "
                    >{{ getErrors(controls.license_plate_number) }}</small
                  >

                  <div class="from-row" *ngIf="controls.option.value === '2'">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{
                        FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS016
                      }}"
                      formControlName="body_number"
                    />
                    <i
                      class="icons-ic-form-del i-icon"
                      (click)="doClearInput('body_number')"
                    ></i>
                  </div>
                  <small
                    class="form-text"
                    *ngIf="controls.option.value === '2'"
                    [class.d-none]="
                      !controls.body_number.dirty ||
                      controls.body_number.untouched ||
                      controls.body_number.valid
                    "
                    >{{ getErrors(controls.body_number) }}</small
                  >

                  <div class="from-row" *ngIf="controls.option.value === '3'">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{
                        FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS017
                      }}"
                      formControlName="engine_number"
                    />
                    <i
                      class="icons-ic-form-del i-icon"
                      (click)="doClearInput('engine_number')"
                    ></i>
                  </div>
                  <small
                    class="form-text"
                    *ngIf="controls.option.value === '3'"
                    [class.d-none]="
                      !controls.engine_number.dirty ||
                      controls.engine_number.untouched ||
                      controls.engine_number.valid
                    "
                    >{{ getErrors(controls.engine_number) }}</small
                  >
                </div>
              </div>
            </div>
          </form>
          <div class="text-center mb-30">
            <a class="btn btn-primary" (click)="searchResult()">{{
              FLang.F010.F0007
            }}</a>
            <!-- [class.disabled]="checkFormatStatus" -->
          </div>

          <ng-template [ngIf]="searchResultShow === 1">
            <div class="col-sm-12 col-md-12 mt-md-5">
              <div id="result-hr" class="service-hr"></div>
            </div>
            <div class="title mt-5">{{ FLang.F010.F0008 }}</div>
            <div class="service-inform-box">
              <div class="service-inform-card">
                <div class="choose-content">
                  <div class="choose-content-detail">
                    <div class="choose-caption">
                      {{ FLang.F010.F0006_.s001 }}
                    </div>
                    <div class="item">{{ result.policy_number }}</div>
                  </div>
                  <div
                    class="choose-content-detail"
                    *ngIf="result.license_plate_number !== ''"
                  >
                    <div class="choose-caption">
                      {{
                        result.license_plate_number
                          ? FLang.F010.F0006_.s002
                          : result.body_number
                          ? FLang.F010.F0006_.s005
                          : FLang.F010.F0006_.s006
                      }}
                    </div>
                    <div class="item">{{ result.license_plate_number }}</div>
                  </div>

                  <div class="choose-content-detail">
                    <div class="choose-caption">
                      {{ FLang.F010.F0006_.s003 }}
                    </div>
                    <div class="item">{{ result.carType }}</div>
                  </div>
                  <div class="choose-content-detail">
                    <div class="choose-caption">
                      {{ FLang.F010.F0006_.s004 }}
                    </div>
                    <div class="item">{{ date }}</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </section>
  </div>
</main>

<!-- Modal-22 -->
<div
  class="modal fade notice"
  id="Modal-22"
  tabindex="-1"
  aria-labelledby="ModalLabel-22"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.F010.F0009 }}</h5>
          <!-- <p>很抱歉，保險起迄日期時間需大於+6小時後。</p> -->
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.F010.F0010 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-22 -->
<div
  class="modal fade notice"
  id="Modal-22-error"
  tabindex="-1"
  aria-labelledby="ModalLabel-22"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.F010.F0011 }}</h5>
          <!-- <p>很抱歉，保險起迄日期時間需大於+6小時後。</p> -->
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.F010.F0010 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
