<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-register.png"
              alt=""
              srcset="assets/img/img-bn-register@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-register-m.png"
              alt=""
              srcset="assets/img/img-bn-register-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.B054.title.B0001 }}</h1>
        </div>
      </div>
      <section class="jobdetails mt-0">
        <div class="container remove-width">
          <div class="jobbox bg-white-block login-w">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    id="lyc_customer_name"
                    class="form-group"
                    [class.status-error]="
                      controls.customer_name.dirty &&
                      controls.customer_name.touched &&
                      controls.customer_name.invalid
                    "
                  >
                    <label>{{ FLang.B054.content.B0001 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS003
                        }}"
                        formControlName="customer_name"
                        appLimitInput
                        [replace]="'vn'"
                        (input)="changeToUpperCase($event)"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.customer_name.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.customer_name.dirty ||
                        controls.customer_name.untouched ||
                        controls.customer_name.valid
                      "
                    >
                      {{ getErrors(controls.customer_name) }}</small
                    >
                  </div>
                  <div class="form-group" id="lyc_certificate_number">
                    <label>{{ FLang.B054.content.B0003 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ FLang.B054.content.B0004 }}"
                        disabled="disabled"
                        formControlName="certificate_number"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.certificate_number.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="controls.certificate_number.valid"
                    >
                      {{ getErrors(controls.certificate_number) }}</small
                    >
                  </div>
                  <!-- datePicker -->
                  <div
                    id="lyc_birthday"
                    class="form-group"
                    [class.status-error]="
                      controls.birthday.dirty &&
                      controls.birthday.touched &&
                      controls.birthday.invalid
                    "
                  >
                    <div class="form-group icon-date">
                      <app-datepicker
                        label="{{ FLang.B054.content.B0005 }}"
                        placeholder="{{
                          userInfoTemp.birthday
                            ? ''
                            : FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS002
                        }}"
                        value="{{
                          userInfoTemp.birthday ? getResDate() : null
                        }}"
                        xid="registerDate"
                        [config]="{
                          minDate: mixDate,
                          maxDate: maxDate,
                          startDate: startDate
                        }"
                        [xReadonly]="FReadonly"
                        (getDate)="getDate($event)"
                      ></app-datepicker>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !controls.birthday.dirty ||
                          controls.birthday.untouched ||
                          controls.birthday.valid
                        "
                      >
                        {{ getErrors(controls.birthday) }}</small
                      >
                    </div>
                  </div>
                  <!-- datePicker -->
                  <!-- dateRangePicker -->
                  <!-- <div class="form-group">
                    <div class="form-group icon-date">
                      <app-daterangepicker
                        label="{{ FLang.B054.content.B0005 }}"
                        placeholder="請選擇範圍"
                        (getDate)="getDate($event)"
                      ></app-daterangepicker>
                    </div>
                  </div> -->
                  <!-- dateRangePicker -->
                  <div class="form-group" id="lyc_sex">
                    <label>{{ FLang.B054.content.B0008 }}</label>
                    <div
                      class="choose-box choo-sub ml-0"
                      style="display: block"
                    >
                      <div class="choose-row">
                        <div class="choose-box">
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="sex"
                            id="genderMale"
                            formControlName="sex"
                            value="M"
                          /><label for="genderMale">{{
                            FLang.B054.content.B0009
                          }}</label>
                        </div>
                      </div>
                      <div class="choose-row">
                        <div class="choose-box">
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="sex"
                            id="genderFemale"
                            formControlName="sex"
                            value="F"
                          /><label for="genderFemale">{{
                            FLang.B054.content.B0010
                          }}</label>
                        </div>
                      </div>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.sex.dirty ||
                        controls.sex.untouched ||
                        controls.sex.valid
                      "
                    >
                      {{ getErrors(controls.sex) }}</small
                    >
                  </div>
                  <div
                    id="lyc_mobile"
                    class="form-group"
                    [class.status-error]="
                      controls.mobile.dirty &&
                      controls.mobile.touched &&
                      controls.mobile.invalid
                    "
                  >
                    <label>{{ FLang.B054.content.B0011 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS004
                        }}"
                        formControlName="mobile"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.mobile.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.mobile.dirty ||
                        controls.mobile.untouched ||
                        controls.mobile.valid
                      "
                    >
                      {{ getErrors(controls.mobile) }}</small
                    >
                    <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                  </div>
                  <div
                    id="lyc_email"
                    class="form-group mb-2"
                    [class.status-error]="
                      controls.email.dirty &&
                      controls.email.touched &&
                      (controls.email.invalid || FEmailError)
                    "
                  >
                    <label>{{ FLang.B054.content.B0013 }}</label>
                    <div class="from-row">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS005
                        }}"
                        formControlName="email"
                        (input)="doEmailError()"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.email.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.email.dirty ||
                        controls.email.untouched ||
                        (controls.email.valid && !FEmailError)
                      "
                    >
                      {{
                        controls.email.invalid
                          ? getErrors(controls.email)
                          : FEmailError
                          ? FLang.B054.content.B0015
                          : ""
                      }}
                    </small>
                    <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                  </div>
                  <div class="form-discount">
                    {{ FLang.B054.content.B0016 }}
                  </div>
                  <div class="form-mul">
                    <label>{{ FLang.B054.content.B0017 }}</label>
                    <div class="row mb-2 no-gutters">
                      <div class="col-md-6 from-one">
                        <div
                          id="lyc_province"
                          class="form-group icon-select mb-0"
                          [class.status-error]="
                            controls.province.dirty &&
                            controls.province.touched &&
                            controls.province.invalid
                          "
                        >
                          <div class="from-row">
                            <select
                              required
                              formControlName="province"
                              class="form-control custom-select"
                              (change)="notifyCounty($event)"
                            >
                              <option value="" disabled selected hidden>
                                {{
                                  FLang.PH.enter.F0001 +
                                    FLang.PH.enter.F0001_.FS008
                                }}
                              </option>
                              <option
                                *ngFor="let item of FProvinceList; index as i"
                                class="text-gray"
                                [ngValue]="item.provinceValue"
                              >
                                {{ item.provinceZhname }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 from-two">
                        <div
                          id="lyc_county"
                          class="form-group icon-select mb-0"
                          [class.status-error]="
                            controls.county.dirty &&
                            controls.county.touched &&
                            controls.county.invalid
                          "
                        >
                          <div class="from-row">
                            <select
                              required
                              class="form-control custom-select"
                              formControlName="county"
                            >
                              <option value="" disabled selected hidden>
                                {{
                                  FLang.PH.enter.F0001 +
                                    FLang.PH.enter.F0001_.FS009
                                }}
                              </option>
                              <option
                                *ngFor="let item of FCountyList; index as i"
                                class="text-gray"
                                [ngValue]="item.countyValue"
                              >
                                {{ item.countyZhname }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="lyc_addr"
                    class="form-group"
                    [class.status-error]="
                      controls.addr.dirty &&
                      controls.addr.touched &&
                      controls.addr.invalid
                    "
                  >
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS010
                        }}"
                        formControlName="addr"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.addr.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.addr.dirty ||
                        controls.addr.untouched ||
                        controls.addr.valid
                      "
                    >
                      {{ getErrors(controls.addr) }}</small
                    >
                  </div>
                </div>
                <div class="text-center mb-4">
                  <a class="btn btn-primary" (click)="register()">
                    {{ FLang.B054.content.B0019 }}
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
