<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story top-bg-big">
            <img
              src="assets/img/img-bn-job.png"
              alt=""
              srcset="assets/img/img-bn-job@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-job-m.png"
              alt=""
              srcset="assets/img/img-bn-job-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.G021.L0006 }}</h1>
        </div>
      </div>
      <section class="jobdetails">
        <div class="container remove-width">
          <div class="jobbox bg-white-block">
            <h3>{{ this.jobContent.title }}</h3>
            <hr />
            <div class="oneTable">
              <div class="TableBody">
                <div class="TableRow">
                  <div class="TableCell">
                    <h5 [innerHtml]="FLang.G021.L0007"></h5>
                  </div>
                  <div class="TableCell">
                    <ol
                      [ngClass]="{
                        'enable-list-style-type': jobContent.explain.length > 1,
                        'disable-list-style-type':
                          jobContent.explain.length <= 1
                      }"
                    >
                      <li *ngFor="let item of jobContent.explain">
                        <p [innerHtml]="item.value"></p>

                        <ng-template [ngIf]="item.children">
                          <ol type="a">
                            <li
                              [innerHtml]="text"
                              *ngFor="let text of item.children"
                            ></li>
                          </ol>
                        </ng-template>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="TableRow">
                  <div class="TableCell">
                    <h5 [innerHtml]="FLang.G021.L0008"></h5>
                  </div>
                  <div class="TableCell">
                    <ol
                      [ngClass]="{
                        'enable-list-style-type': jobContent.content.length > 1,
                        'disable-list-style-type':
                          jobContent.content.length <= 1
                      }"
                    >
                      <li *ngFor="let item of jobContent.content">
                        <p [innerHtml]="item.value"></p>

                        <ng-template [ngIf]="item.children">
                          <ol type="a">
                            <li
                              [innerHtml]="text"
                              *ngFor="let text of item.children"
                            ></li>
                          </ol>
                        </ng-template>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="TableRow">
                  <div class="TableCell">
                    <h5 [innerHtml]="FLang.G021.L0009"></h5>
                  </div>
                  <div class="TableCell">
                    <p>{{ jobContent.area }}</p>
                  </div>
                </div>
                <div class="TableRow">
                  <div class="TableCell">
                    <h5 [innerHtml]="FLang.G021.L0011"></h5>
                  </div>
                  <div class="TableCell">
                    <p>{{ jobContent.email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a
              class="btn btn-primary"
              routerLink="/help"
              [queryParams]="{ type: 'info', from: 'apply' }"
              (click)="wantToApply(FData[0].type)"
            >
              {{ FLang.G021.L0010 }}
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
