<div
  class="modal fade"
  id="contactUs"
  tabindex="-1"
  aria-labelledby="ModalLabel-37"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F06.F0038 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <form>
          <div class="advisory-content">
            <div class="cs-info-block mt-0">
              <div class="row align-items-center">
                <div class="col-4 table-title">{{ FLang.F06.F0034 }}</div>
                <div class="col-8 table-content">
                  {{ data.popup_data.emp_name }}
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4 table-title">{{ FLang.F06.F0035 }}</div>
                <div class="col-8 table-content">
                  08:30 - 17:30 (Thứ 2 - Thứ 6)
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4 table-title">{{ FLang.F06.F0036 }}</div>
                <div class="col-8 table-content">
                  {{ data.popup_data.email }}
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4 table-title">{{ FLang.F06.F0037 }}</div>
                <div class="col-8 table-content">
                  <a [href]="getTel()" class="phone">
                    {{ data.popup_data.mobile }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-20px">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.AlertButton.A0001 }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
