<div class="com-content">
  <section class="banner-img-center">
    <img
      [src]="bannerImg(1)"
      alt="bảo hiểm xe máy"
      [srcset]="bannerImgBig(1)"
      class="d-none d-xl-block"
    />
    <img
      [src]="bannerImg(2)"
      alt="mua bảo hiểm xe máy bắt buộc online"
      [srcset]="bannerImgBig(2)"
      class="d-none d-md-block d-xl-none"
    />
    <img
      [src]="bannerImg(3)"
      alt="bao hiem cathay"
      [srcset]="bannerImgBig(3)"
      class="d-md-none"
    />
    <span
      class="banner_button"
      [ngClass]="checkI18n()"
      (click)="bannerUrl()"
    ></span>
  </section>
  <!-- motor content -->
  <app-motor-content></app-motor-content>
  <!-- motor content -->
  <section
    class="sectLg teaching-phone carousel slide"
    data-ride="carousel"
    id="cardSlide"
  >
    <div class="title">
      {{ FLang.D02.title.D0004 }} <span>3</span> {{ FLang.D02.title.D0005 }}
    </div>
    <div class="container remove-width">
      <div class="row wow fadeInUp align-items-center">
        <div class="col-sm-12 col-md-7 t-step">
          <div class="navtab d-md-none slickcard-navtab">
            <div class="slickcard slider">
              <div>
                <a class="nav-link">
                  <div [class]="adjustHeight()">
                    <div class="number">1</div>
                    <h3>{{ FLang.D02.content.D0059 }}</h3>
                    <p>
                      {{ FLang.D02.content.D0060 }}
                    </p>
                  </div>
                </a>
              </div>
              <div>
                <a class="nav-link">
                  <div [class]="adjustHeight()">
                    <div class="number">2</div>
                    <h3>{{ FLang.D02.content.D0061 }}</h3>
                    <p>{{ FLang.D02.content.D0062 }}</p>
                  </div>
                </a>
              </div>
              <div>
                <a class="nav-link">
                  <div [class]="adjustHeight()">
                    <div class="number">3</div>
                    <h3>{{ FLang.D02.content.D0063 }}</h3>
                    <p>{{ FLang.D02.content.D0064 }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="step-mob-box d-none d-md-block carousel-indicators">
            <div
              [class]="adjustHeightWeb()"
              data-target="#cardSlide"
              data-slide-to="0"
            >
              <div class="number">1</div>
              <h3>{{ FLang.D02.content.D0059 }}</h3>
              <p>{{ FLang.D02.content.D0065 }}</p>
            </div>
            <div
              [class]="adjustHeight()"
              data-target="#cardSlide"
              data-slide-to="1"
            >
              <div class="number">2</div>
              <h3>{{ FLang.D02.content.D0061 }}</h3>
              <p>{{ FLang.D02.content.D0066 }}</p>
            </div>
            <div
              [class]="adjustHeight()"
              data-target="#cardSlide"
              data-slide-to="2"
            >
              <div class="number">3</div>
              <h3>{{ FLang.D02.content.D0063 }}</h3>
              <p>{{ FLang.D02.content.D0067 }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 order-md-first">
          <div class="t-phone">
            <div class="t-phone-img">
              <img
                src="assets/img/commodity/img-mobile.png"
                alt=""
                srcset="assets/img/commodity/img-mobile@2x.png 2x"
              />
            </div>
            <div class="carousel-inner t-phone-box">
              <div class="carousel-item active">
                <img
                  class="w-100"
                  [src]="stepImg(1)"
                  alt=""
                  [srcset]="stepImgBig(1)"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="w-100"
                  [src]="stepImg(2)"
                  alt=""
                  [srcset]="stepImgBig(2)"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="w-100"
                  [src]="stepImg(3)"
                  alt=""
                  [srcset]="stepImgBig(3)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="teaching-phone-bg">
      <img
        src="assets/img/commodity/bg-step.png"
        alt=""
        srcset="assets/img/commodity/bg-step@2x.png 2x"
        class="d-none d-md-block"
      />
      <img
        src="assets/img/commodity/bg-step-m.png"
        alt=""
        srcset="assets/img/commodity/bg-step-m@2x.png 2x"
        class="d-md-none"
      />
    </div>
  </section>
  <section class="sectLg">
    <div class="title">{{ FLang.D02.title.D0006 }}</div>
    <div class="container remove-width wow fadeInUp">
      <div class="boi-step">
        <div class="boi-step-row">
          <div class="text-center boi-step-img">
            <img
              src="assets/img/commodity/img-claim-start.png"
              alt=""
              srcset="assets/img/commodity/img-claim-start@2x.png 2x"
              class="d-none d-md-inline-block img-fluid"
            />
          </div>
          <div class="d-flex boi-step-box">
            <div class="number">1</div>
            <div class="boi-step-content">
              <h4>{{ FLang.D02.content.D0068 }}</h4>
              <p
                class="custom_text_align"
                [innerHTML]="FLang.D02.content.D0068_.s001"
              ></p>
            </div>
          </div>
        </div>
        <div class="boi-step-row">
          <div class="text-center boi-step-img">
            <img
              src="assets/img/commodity/img-claim-camera.png"
              alt=""
              srcset="assets/img/commodity/img-claim-camera@2x.png 2x"
              class="d-none d-md-inline-block img-fluid"
            />
          </div>
          <div class="d-flex boi-step-box">
            <div class="number">2</div>
            <div class="boi-step-content">
              <h4>{{ FLang.D02.content.D0069 }}</h4>
              <p
                class="custom_text_align"
                [innerHTML]="FLang.D02.content.D0069_.s001"
              ></p>
            </div>
          </div>
        </div>
        <div class="boi-step-row">
          <div class="text-center boi-step-img">
            <img
              src="assets/img/commodity/img-claim-paper.png"
              alt=""
              srcset="assets/img/commodity/img-claim-paper@2x.png 2x"
              class="d-none d-md-inline-block img-fluid"
            />
          </div>
          <div class="d-flex boi-step-box">
            <div class="number">3</div>
            <div class="boi-step-content">
              <h4>{{ FLang.D02.content.D0070 }}</h4>
              <p class="custom_text_align">
                {{ FLang.D02.content.D0070_.s001
                }}<a class="alink" (click)="goClaimInsurance(0)">{{
                  FLang.D02.content.D0070_.s002
                }}</a
                >{{ FLang.D02.content.D0070_.s003 }}
              </p>
            </div>
          </div>
        </div>
        <div class="boi-step-row">
          <div class="text-center boi-step-img">
            <img
              src="assets/img/commodity/img-claim-done.png"
              alt=""
              srcset="assets/img/commodity/img-claim-done@2x.png 2x"
              class="d-none d-md-inline-block img-fluid"
            />
          </div>
          <div class="d-flex boi-step-box">
            <div class="number">4</div>
            <div class="boi-step-content">
              <h4>{{ FLang.D02.content.D0071 }}</h4>
              <p
                class="custom_text_align"
                [innerHTML]="FLang.D02.content.D0071_.s001"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ -->
  <section class="sectLg wave-bg">
    <img src="assets/img/wave2x.png" class="bg-wave" />
    <div class="title">{{ FLang.D02.content.D0072 }}</div>
    <div class="container remove-width">
      <div class="bookmark wow fadeInUp">
        <div class="tab-row-content">
          <div class="tab-item-box" id="accordionQuestion">
            <!-- tab-card -->
            <div class="tab-card" *ngFor="let item of faqData; index as i">
              <app-expand-panel
                [item]="item"
                [i]="i"
                [titleContent]="titleContent(item)"
                [infoContent]="infoContent(item)"
                [titleId]="titleId(i)"
                [titleDataTarget]="titleDataTarget(i)"
                [titleAriaControls]="titleAriaControls(i)"
                [infoId]="infoId(i)"
                [infoAriaLabelledby]="infoAriaLabelledby(i)"
              ></app-expand-panel>
            </div>
            <!-- tab-card end-->
            <div class="more">
              <a
                routerLink="/help"
                [queryParams]="{
                  type: 'question',
                  tag: 'personal',
                  option: 'motor'
                }"
                ><i class="icons-ic-more-white i-icon i-up"></i
                >{{ FLang.faq.faq003 }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
