.alink {
  color: #00a94f;
  cursor: pointer;
  text-decoration: underline !important;
}

// 處理 banner 按鈕
.banner-img-center {
  position: relative;
}

.banner_button {
  position: absolute;
  display: inline-block;
  width: 248px;
  height: 47px;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 0 1px 1px 1px transparent;
  cursor: pointer;
}

.banner_button.banner_vn{
  top: 313px;
}

.banner_button.banner_tw{
  top: 313px;
}

.banner_button.banner_en{
  top: 313px;
}

@media (max-width: 1199.98px) {
  .banner_button.banner_vn{
    top: 257px;
  }

  .banner_button.banner_tw{
    top: 257px;
  }

  .banner_button.banner_en{
    top: 257px;
  }
}
@media (max-width: 767.98px) {
  .banner_button {
    left: 284px;
    width: 200px;
    height: 36px;
  }
  .banner_button.banner_vn{
    top: 408px;
  }

  .banner_button.banner_tw{
    top: 408px;
  }

  .banner_button.banner_en{
    top: 408px;
  }
}
@media (max-width: 375px) {
  .banner_button {
    left: 101px;
    width: 162px;
    height: 32px;
  }
  .banner_button.banner_vn{
    top: 330px;
  }

  .banner_button.banner_tw{
    top: 330px;
  }

  .banner_button.banner_en{
    top: 330px;
  }
}
