<!-- {{ childItemsOffline.title | json }} -->

<div class="commodity recom">
  <h1 class="text-center">{{ FLang.D0016 }}</h1>
  <div class="remarks-grey" [innerHTML]="FLang.D0017"></div>
  <div>
    <div class="row item-row thumbsup align-items-center">
      <div class="col-sm-12 col-lg-6 text-center">
        <img
          [src]="childItemsOnline.defaultImg"
          alt=""
          [srcset]="childItemsOnline.srcsetImg"
          class="img-fluid d-none d-md-inline-block"
        />
        <img
          [src]="childItemsOnline.mobileDefaultImg"
          alt=""
          [srcset]="childItemsOnline.mobileSrcsetImg"
          class="img-fluid d-md-none p-0"
        />
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="item">
          <h2>{{ childItemsOnline.title }}</h2>
          <p class="custom_text_align">{{ childItemsOnline.directions }}</p>
          <div class="recom-box">
            <div
              class="recom-row"
              *ngFor="let item of childItemsOnline.content"
            >
              <div class="recom-img">
                <img
                  [src]="item.defaultImg"
                  alt=""
                  [srcset]="item.srcsetImg"
                  class="d-none d-md-block"
                />
              </div>
              <div class="details mr-auto">
                <h3>{{ item.title }}</h3>
                <p [innerHTML]="item.directions"></p>
              </div>
              <div class="price">
                <span>{{ item.money }}</span
                >{{ FLang.D0032 }}
              </div>
            </div>
          </div>
          <div class="row total no-gutters align-items-center">
            <div class="col-md-12 col-lg-6 mr-auto total-money">
              {{ FLang.D0033 }}<span>{{ childItemsOnline.totalPrice }}</span
              >{{ FLang.D0032 }}
            </div>
            <div
              class="col-md-12 col-lg-6 order-lg-first text-gray text-lg-left re-explain"
            ></div>
          </div>

          <div class="text-center">
            <a
              routerLink="/online-insurance/project-trial-car/calcAmt"
              class="btn btn-primary"
              >{{ FLang.D0034 }}</a
            >
          </div>
        </div>
      </div>
      <div class="rec-img">
        <img
          src="assets/img/commodity/ic-thumbsup.png"
          alt=""
          srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
          class="d-none d-md-block"
        />
        <img
          src="assets/img/commodity/ic-thumbsup-s.png"
          alt=""
          srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
          class="d-md-none"
        />
      </div>
    </div>
    <!-- <hr class="d-lg-none" /> -->

    <div
      class="row item-row align-items-center"
      *ngFor="let item of childItemsOffline; index as i"
    >
      <div class="col-sm-12 col-lg-6 text-center">
        <img
          [src]="item.defaultImg"
          alt=""
          [srcset]="item.srcsetImg"
          class="img-fluid d-none d-md-inline-block"
        />
        <img
          [src]="item.mobileDefaultImg"
          alt=""
          [srcset]="item.mobileSrcsetImg"
          class="img-fluid d-md-none p-0"
        />
      </div>
      <div [ngClass]="styleClass(i)">
        <div class="item">
          <h2 class="green-darkgreen">{{ item.title }}</h2>
          <p class="custom_text_align" [innerHTML]="item.directions"></p>
          <div class="recom-box">
            <div class="recom-row" *ngFor="let item of item.content">
              <div class="recom-img">
                <img
                  [src]="item.defaultImg"
                  alt=""
                  [srcset]="item.srcsetImg"
                  class="d-none d-md-block"
                />
              </div>
              <div class="details mr-auto">
                <h3>{{ item.title }}</h3>
                <p [innerHTML]="item.directions"></p>
              </div>
              <div class="price">
                <span>{{ item.money }}</span
                >{{ FLang.D0032 }}
              </div>
            </div>
          </div>
          <div
            class="row total no-gutters flex-column flex-md-row align-items-md-center"
          >
            <div class="total-money">
              {{ FLang.D0033 }}<span>{{ item.totalPrice }}</span>
              {{ FLang.D0032 }}
            </div>
            <div
              class="order-md-first text-gray text-right text-md-left re-explain pointer mr-md-auto"
              [routerLink]="['/help']"
              [queryParams]="{ type: 'info' }"
            >
              {{ FLang.D0035 }}
            </div>
          </div>
        </div>
      </div>
      <hr class="d-lg-none" />
    </div>
  </div>
</div>
