<div class="service-item">
  <div class="w-100">
    <a
      class="d-flex"
      *ngFor="let item of FLinkList; let i = index"
      (click)="doAction(i)"
    >
      <div class="justify-content-start mr-auto">
        <div class="d-inline-block">
          <span class="link">{{ item.title }}</span>
          <div
            [class.d-none]="item.number < 0"
            [ngClass]="styleCss(item.number)"
          >
            {{ item.number }}
          </div>
        </div>
      </div>
      <div class="pen">
        <i class="icons-ic-arrow-right-black i-icon"></i>
      </div>
    </a>
  </div>
</div>
