<div class="height-content insurance-changing-page">
  <main>
    <div class="com-content">
      <app-breadcrumb></app-breadcrumb>
      <!-- 進度Bar -->
      <section class="process-step">
        <ul class="d-flex">
          <li [class.active]="FStep >= '1'">
            <div class="number">
              <i class="icons-ic-step-check i-icon"></i>
            </div>
            <div>{{ FLang.F03.F0001 }}</div>
          </li>
          <li [class.active]="FStep >= '2'">
            <div class="number">2</div>
            <div>{{ FLang.F03.F0002 }}</div>
          </li>
          <li [class.active]="FStep >= '3'">
            <div class="number">3</div>
            <div>{{ FLang.F03.F0003 }}</div>
          </li>
        </ul>
      </section>
      <form [formGroup]="group">
        <section *ngIf="FStep === '1'" class="sectLg service-change">
          <div class="container remove-width form-canta">
            <div class="bg-white-block form-data">
              <div class="title">{{ FLang.F03.F0004 }}</div>
              <form>
                <div class="advisory-content">
                  <div class="adv-box-item">
                    <div class="form-group">
                      <label>{{ FLang.F03.F0005 }}</label>
                      <div>
                        <div class="keep-same-line">
                          {{
                            FinsuranceChangingData.pol_dt
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                          <span class="white-space-pre-wrap">- </span>
                        </div>
                        <div class="keep-same-line">
                          {{
                            FinsuranceChangingData.pol_due_dt
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group icon-date mb-2">
                      <!-- <label>變更後的保險時間</label> -->
                      <div class="from-row">
                        <app-datepicker
                          [label]="FLang.F03.F0006"
                          [controls]="
                            controls.pol_dt_new.invalid &&
                            (controls.pol_dt_new.dirty ||
                              controls.pol_dt_new.touched)
                          "
                          [xid]="'pol_dt_new'"
                          [xpolDays]="FinsuranceChangingData.pol_days"
                          [config]="{
                            minDate: Ftoday,
                            maxDate: FmaxDate,
                            minYear: FthisYear,
                            maxYear: FthisYear + 1,
                            autoUpdateInput: false
                          }"
                          [placeholder]="
                            FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS001
                          "
                          [xReadonly]="FReadonly"
                          [value]="FDate"
                          (getDate)="getDate($event)"
                        ></app-datepicker>
                        <!-- <input
                          type="date"
                          class="form-control"
                          placeholder="請選擇日期"
                        />
                        <i class="icons-ic-date i-icon"></i>
                        <i
                          class="icons-ic-form-del i-icon"
                          style="right: 40px"
                        ></i> -->
                      </div>
                      <small
                        class="form-text"
                        *ngIf="
                          controls.pol_dt_new.invalid &&
                          (controls.pol_dt_new.dirty ||
                            controls.pol_dt_new.touched)
                        "
                        >{{ getErrors(controls.pol_dt_new) }}</small
                      >
                      <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                    </div>
                    <div class="select-search simple mb-2">
                      <div class="dropdown">
                        <button
                          class="btn dropdown-toggle w-100"
                          type="button"
                          id="dropdownFilter"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          [ngClass]="{
                            'status-error':
                              controls.pol_time.invalid &&
                              (controls.pol_time.dirty ||
                                controls.pol_time.touched)
                          }"
                        >
                          <div class="filterActiveText">
                            <span class="text-gray">{{
                              controls.pol_time.value ||
                              controls.pol_time.value == "0"
                                ? paddingLeft(controls.pol_time.value) + ":00"
                                : FLang.PH.enter.F0002 +
                                  " " +
                                  FLang.PH.enter.F0002_.FS002
                            }}</span>
                          </div>
                        </button>
                        <div
                          class="dropdown-menu w-100 filter tab"
                          aria-labelledby="dropdownFilter"
                        >
                          <!-- *ngFor="let item of counter(24); let i = index" -->
                          <a
                            class="dropdown-item"
                            *ngFor="let item of FTimelist; let i = index"
                            (click)="updatePolDtTimes(item)"
                            >{{ paddingLeft(item) }}:00</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="adv-box-item" style="margin: 0px; padding: 0">
                      <div class="form-group">
                        <small
                          class="form-text"
                          *ngIf="
                            controls.pol_time.invalid &&
                            (controls.pol_time.dirty ||
                              controls.pol_time.touched)
                          "
                          >{{
                            getErrors(controls.pol_time)
                              ? getErrors(controls.pol_time)
                              : getErrors(controls.pol_dt_new)
                          }}</small
                        >
                      </div>
                    </div>

                    <div *ngIf="controls.pol_time.value" class="form-discount">
                      {{ this.FLang.F03.F0009[0] }}
                      <span>{{ FinsuranceChangingData.pol_days }}</span>
                      {{ this.FLang.F03.F0009[1] }}
                      <span>
                        {{
                          controls.pol_time.value ||
                          controls.pol_time.value == "0"
                            ? paddingLeft(controls.pol_time.value) + ":00"
                            : ""
                        }}</span
                      >
                      <span style="padding-left: 4px">{{
                        controls.pol_due_dt_new.value | cDate: "DD/MM/YYYY"
                      }}</span>
                      {{ this.FLang.F03.F0009[2] }}
                    </div>
                  </div>
                  <div class="text-center">
                    <a (click)="goStep('2')" class="btn btn-primary">
                      {{ FLang.F03.F0010 }}
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- Step2 -->
        <!-- [@openClose]="FStep === '2' ? 'open' : 'closed'" -->
        <section
          *ngIf="FStep === '2'"
          class="sectLg service-change animationIf"
        >
          <div class="container remove-width form-canta">
            <div class="bg-white-block form-data">
              <div class="title">{{ FLang.F03.F0011 }}</div>
              <form>
                <div class="advisory-content">
                  <div class="adv-box-item">
                    <div class="form-group">
                      <label>{{ FLang.F03.F0012 }}</label>
                      <div>
                        <div class="keep-same-line">
                          {{
                            FinsuranceChangingData.pol_dt
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                          <span class="white-space-pre-wrap">- </span>
                        </div>
                        <div class="keep-same-line">
                          {{
                            FinsuranceChangingData.pol_due_dt
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{{ FLang.F03.F0013 }}</label>
                      <div class="text-orange">
                        <div class="keep-same-line">
                          {{
                            controls.pol_dt_new.value
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                          <span class="white-space-pre-wrap">- </span>
                        </div>
                        <div class="keep-same-line">
                          {{
                            controls.pol_due_dt_new.value
                              | cDate: "HH:mm DD/MM/YYYY"
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a (click)="goStep('3')" class="btn btn-primary">
                      {{ FLang.F03.F0010 }}
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>

        <!-- Step3 -->
        <!-- [@openClose]="FStep === '3' ? 'open' : 'closed'" -->
        <section
          *ngIf="FStep === '3'"
          class="sectLg service-change animationIf"
        >
          <div class="container remove-width">
            <div class="success-img">
              <img
                src="assets/img/banner-payment2x.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <h4 class="text-center">{{ FLang.F03.F0014 }}</h4>
            <!-- 保單寄送 -->
            <div class="text-center mt-4">
              <a (click)="goStep('center')" class="btn btn-white">{{
                FLang.F03.F0015
              }}</a>
            </div>
          </div>
        </section>
      </form>
      <!-- Step1 -->
    </div>
  </main>
</div>
