::ng-deep #user_birthday {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
  color: #7d8a94;
  -webkit-text-fill-color: #7d8a94;
}

::ng-deep .date1 {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
}

