<section class="sectLg wave-bg">
  <img src="assets/img/wave2x.png" class="bg-wave" />
  <div class="title">{{ FLang.D03.N0069 }}</div>
  <div class="container remove-width">
    <div class="bookmark wow fadeInUp">
      <div class="tab-row-content">
        <div class="tab-item-box" id="accordionQuestion">
          <!-- tab-card -->
          <div class="tab-card" *ngFor="let item of faqList; index as i">
            <div
              [ngClass]="classStyle(i)"
              [id]="cardTitleId(i)"
              data-toggle="collapse"
              aria-expanded="true"
              [attr.aria-controls]="ariaControl(i)"
              [attr.data-target]="dataTarget(i)"
            >
              <div class="tab-title d-flex">
                <!-- <span class="num">{{ FLang.faq.faq001 }}</span> -->
                <h4>{{ item.title }}</h4>
                <i class="icons-ic-faq-arrow-up i-icon i-up"></i>
                <i class="icons-ic-faq-arrow-down i-icon i-down"></i>
              </div>
            </div>
            <div
              [id]="cardContentId(i)"
              [ngClass]="classActive(i)"
              [attr.aria-labelledby]="ariaLabelledby(i)"
              data-parent="#accordionQuestion"
            >
              <div class="que-body d-flex">
                <p
                  class="custom_text_align"
                  [innerHTML]="item.content"
                  (click)="contentClickHandler($event)"
                ></p>
              </div>
            </div>
          </div>
          <!-- tab-card end-->
          <div class="more">
            <a
              routerLink="/help"
              [queryParams]="{
                type: 'question',
                tag: 'personal',
                option: 'travel'
              }"
              ><i class="icons-ic-more-white i-icon i-up"></i
              >{{ FLang.faq.faq003 }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
