<!-- <div class="modal-container">
  <div class="modal-backdrop"></div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
</div> -->

<div class="modal-container">
  <div class="modal-backdrop"></div>
  <div class="modal-body">
    <!-- <div class="modal fade notice" id="model-Login"> -->
    <!-- <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"> -->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">登入後繼續</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
  <!-- </div>
  </div> -->
</div>
