<!-- Modal-27 -->
<div
  class="modal fade"
  id="selectFlight"
  tabindex="-1"
  aria-labelledby="ModalLabel-27"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F05.F0007 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <form>
          <div class="advisory-content plain-choose-wrapper">
            <div class="row">
              <div class="col-6">
                <p class="text-gray mb-0">{{ FLang.F05.F0008 }}</p>
              </div>
              <div class="col-6">
                <!-- span內數字可變動 -->
                <p class="highlight-orange text-right mb-0 plain-choose-count">
                  <span class="count-number">{{
                    FSelectedFlightData.length
                  }}</span
                  >/<span class="count-max">{{ FMaxSelect }}</span>
                </p>
              </div>
            </div>

            <!-- 被選取樣式 在class plain-choose後面加上active -->
            <div
              *ngFor="let item of FFlightData; index as i"
              class="row align-items-center plain-choose"
              [class.active]="FSelectedFlightData.includes(item)"
              (click)="onSelectFlight(item)"
            >
              <div class="col-4 plain-info-left">
                <p class="mb-0">{{ item.clam_kind_name }}</p>
              </div>
              <div class="col-8 plain-info-right">
                <div>
                  <div class="mb-1">
                    {{ item.flight_no }} ({{ item.flight_date }})
                  </div>
                  <div class="area">
                    {{ item.scheduled_departure_airport }}
                    <i class="icons-ic-to-gr i-icon"></i>
                    {{ item.scheduled_arrival_airport }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-20px">
            <!-- 按鈕樣式disabled  class加disabled -->
            <button
              type="button"
              class="btn btn-primary"
              [class.disabled]="!FFlightData.length"
              (click)="onFillInClaim()"
            >
              {{ FLang.F05.F0009 }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
