<div
  class="modal fade"
  id="Modal-18"
  tabindex="-1"
  aria-labelledby="ModalLabel-18"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F03.F0016 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div
          class="choose-card"
          *ngFor="let item of cds.gEndRsmntCard; let i = index"
          (click)="onSubmit(i)"
        >
          <a>
            <div class="choose-top">
              <div class="choose-row mr-auto">
                <div><i class="icons-ic-insurance-travel i-icon"></i></div>
                <div class="d-flex">
                  <div class="item" [innerHTML]="item.prod_pol_code | pluidName: FLangType">
                  </div>
                  <div class="detail">{{ item.travel_destination }}</div>
                </div>
              </div>
              <div>
                <i class="icons-ic-arrow-right-g i-icon"></i>
              </div>
            </div>
            <div class="choose-content">
              <div class="choose-content-detail">
                <div class="choose-caption">{{ FLang.F03.F0017 }}</div>
                <div>
                  <div class="keep-same-line">
                    {{ item.pol_dt | cDate: "HH:mm DD/MM/YYYY" }}
                    <span class="white-space-pre-wrap">- </span>
                  </div>

                  <div class="keep-same-line">
                    {{ item.pol_due_dt | cDate: "HH:mm DD/MM/YYYY" }}
                  </div>
                </div>
              </div>
              <div class="choose-content-detail">
                <div class="choose-caption">{{ FLang.F03.F0018 }}</div>
                <div>{{ item.pol_no }}</div>
              </div>
            </div>
          </a>
        </div>
        <p class="text-gray mb-0">
          {{ FLang.F03.F0019 }}
        </p>
      </div>
    </div>
  </div>
</div>
