<div class="height-content">
  <main>
    <div class="com-content">
      <app-breadcrumb></app-breadcrumb>
      <section class="process-step">
        <ul class="d-flex">
          <li class="active">
            <div
              class="number"
              [class.d-none]="FStep === 'personInfo' || FStep === 'payment'"
            >
              1
            </div>
            <div class="number" [class.d-none]="FStep === 'calcAmt'">
              <i class="icons-ic-step-check i-icon"></i>
            </div>
            <div>{{ this.FLang.C02.step1.L0041 }}</div>
          </li>
          <li [class.active]="FStep !== 'calcAmt'">
            <div class="number" [class.d-none]="FStep === 'payment'">2</div>
            <div
              class="number"
              [class.d-none]="FStep === 'personInfo' || FStep === 'calcAmt'"
            >
              <i class="icons-ic-step-check i-icon"></i>
            </div>
            <div>{{ this.FLang.C02.step1.L0002 }}</div>
          </li>
          <li [class.active]="FStep === 'payment' && FPayResult">
            <div
              class="number"
              [class.d-none]="FStep === 'payment' && FPayResult"
            >
              3
            </div>
            <div
              class="number"
              [class.d-none]="
                FStep === 'personInfo' || FStep === 'calcAmt' || !FPayResult
              "
            >
              <i class="icons-ic-step-check i-icon"></i>
            </div>
            <div>
              {{ this.FLang.C02.step1.L0003 }}
            </div>
          </li>
        </ul>
      </section>
      <section class="sectLg">
        <div
          *ngIf="FStep === 'calcAmt'"
          class="container remove-width form-canta"
        >
          <div class="bg-white-block form-data form-data-bot">
            <div class="title">{{ FLang.C02.step1.L0004 }}</div>
            <form [formGroup]="group" novalidate (submit)="calcTest()">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div class="select-search">
                    <label>{{ FLang.C02.step1.L0005 }}</label>
                    <div
                      class="dropdown form-more-search-input"
                      id="dropdown1"
                      [class.cust-disabled]="checkisVN"
                      [class.status-error-extend]="
                        controls.Areainput.touched &&
                        travelpositionList.length === 0
                      "
                    >
                      <div
                        class="form-more"
                        id="dropdownFilter1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        (click)="dropdownFilterClick()"
                        (change)="dropdownFilterChange()"
                        (keydown.enter)="onKeydownNationClick($event)"
                        (keyup.enter)="onKeyNationClick($event)"
                      >
                        <div class="more-data">
                          <span *ngFor="let item of travelpositionList">
                            {{ item.areaName }}
                            <i
                              (click)="
                                onDelNationClick(item); $event.stopPropagation()
                              "
                              class="icons-ic-select-delete i-icon"
                            ></i>
                          </span>
                        </div>
                        <input
                          type="text"
                          id="nationInput"
                          class="form-control dropdown-input cust-width"
                          formControlName="Areainput"
                          autocomplete="off"
                          [placeholder]="checkisVN ? '' : FLang.C02.step1.L0006"
                          (click)="onfilterPosition($event)"
                          (input)="onfilterPosition($event)"
                        />
                      </div>
                      <!-- 旅遊地點下拉 -->
                      <div
                        class="dropdown-menu w-100 filter tab"
                        aria-labelledby="dropdownFilter1"
                        (click)="$event.stopPropagation()"
                      >
                        <a
                          *ngFor="let item of FArr_in"
                          (click)="onNationClick(item, $event)"
                          [class.pointNone]="item.active"
                          [class.text-gray-light]="
                            this.travelpositionList.length > 0 &&
                            this.travelpositionList[0].areaId !== 'VN'
                          "
                          class="dropdown-item"
                        >
                          {{ item.nationNameCn }}
                        </a>
                        <a
                          *ngFor="let item of FArr_hot"
                          (click)="onNationClick(item, $event)"
                          class="dropdown-item"
                          [class.pointNone]="item.active"
                          href="#"
                          [class.text-gray-light]="
                            item.active || travelpositionList.length === 10
                          "
                          >{{ item.nationNameCn }}</a
                        >
                        <!-- <ng-template [ngIf]="this.FNationInput.length"> -->
                          <!-- <hr /> -->
                          <a
                            *ngFor="let item of FArr_noraml"
                            (click)="onNationClick(item, $event)"
                            class="dropdown-item"
                            href="#"
                            [class.pointNone]="item.active"
                            [class.text-gray-light]="
                              item.active || travelpositionList.length === 10
                            "
                            >{{ item.nationNameCn }}</a
                          >
                          <hr />
                          <!-- <div class="drop-title">{{ FLang.C02.step1.L0030 }}</div> -->
                          <a
                            *ngFor="let item of FArr_noarr"
                            class="dropdown-item text-gray-light"
                            >{{ item.nationNameCn }}</a
                          >
                        <!-- </ng-template> -->
                      </div>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        controls.Areainput.untouched ||
                        this.travelpositionList.length > 0
                      "
                    >
                      {{ FLang.C02.step1.L0040 }}
                    </small>
                  </div>
                  <!-- 日期選擇 -->
                  <div
                    class="form-group icon-date mb-2"
                    [class.status-error]="
                      controls.rangeDateS.touched && controls.rangeDateS.invalid
                    "
                  >
                    <div class="from-row">
                      <app-daterangepicker
                        [SDate]="FSdate"
                        [placeholder]="FLang.C02.step1.L0007"
                        [label]="FLang.C02.step1.L0008"
                        [value]="FTravelDate || FDateRange"
                        (getDate)="getRDate($event)"
                        xid="lydatepickR"
                      ></app-daterangepicker>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        controls.rangeDateS.untouched ||
                        controls.rangeDateS.valid
                      "
                    >
                      {{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS001 }}
                    </small>
                  </div>

                  <!-- 時間選擇 -->
                  <div class="select-search simple form-group">
                    <div class="dropdown mb-2">
                      <button
                        class="btn dropdown-toggle w-100"
                        type="button"
                        id="dropdownFilter"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        [class.status-error-extend]="
                          controls.timePick.touched && controls.timePick.invalid
                        "
                      >
                        <div class="filterActiveText">
                          <span *ngIf="FTimeIndex < 0" class="text-gray-gr">{{
                            FLang.C02.step1.L0009
                          }}</span>

                          <div *ngIf="FTimeIndex >= 0">
                            {{ FTimelist[FTimeIndex].option }}
                          </div>
                        </div>
                      </button>
                      <div
                        class="dropdown-menu w-100 filter tab"
                        aria-labelledby="dropdownFilter"
                      >
                        <ng-template [ngIf]="controls.rangeDateS.value">
                          <a
                            *ngFor="let item of FTimelist; let i = index"
                            class="dropdown-item"
                            (click)="onTimeClick(i)"
                            >{{ item.option }}</a
                          >
                        </ng-template>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          controls.timePick.untouched || controls.timePick.valid
                        "
                      >
                        {{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS002 }}
                      </small>
                    </div>

                    <div class="form-discount" *ngIf="DiffDate">
                      {{ FLang.C02.step1.L0037 }} <span>{{ DiffDate }}</span>
                      {{ FLang.C02.step1.L0038 }}
                      <span>
                        <ng-template [ngIf]="FTimeIndex >= 0">
                          {{ FTimelist[FTimeIndex].option }}
                        </ng-template>
                        {{ controls.rangeDateE.value | cDate: "DD/MM/YYYY" }}
                      </span>
                      {{ FLang.C02.step1.L0039 }}
                    </div>
                  </div>

                  <div class="select-search simple">
                    <label>{{ FLang.C02.step1.L0010 }}</label>
                    <div class="dropdown" id="peopleDown">
                      <button
                        [class.status-error-extend]="controls.userPick.invalid"
                        class="btn dropdown-toggle w-100 dropdown-button"
                        type="button"
                        id="dropdownFilter2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <div class="filterActiveText">
                          <span *ngIf="FUserIndex < 0" class="text-gray-gr">{{
                            FLang.C02.step1.L0011
                          }}</span>
                          <div *ngIf="FUserIndex >= 0">
                            {{ FUserList[FUserIndex].option }}
                          </div>
                        </div>
                      </button>
                      <div
                        class="dropdown-menu w-100 filter tab"
                        aria-labelledby="dropdownFilter2"
                      >
                        <a
                          *ngFor="let item of FUserList; let i = index"
                          class="dropdown-item"
                          (click)="onUserClick(i)"
                          >{{ item.option }}</a
                        >
                      </div>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="controls.userPick.valid"
                    >
                      {{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS003 }}
                    </small>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    *ngIf="FStep === 'calcAmt'"
                    class="btn btn-orange"
                    type="submit"
                  >
                    {{ FLang.C02.step1.L0001 }}
                  </button>
                </div>
              </div>
            </form>

            <div
              #ly_pluInfo
              *ngIf="FCalcTestState"
              class="form-proposal travel"
            >
              <div class="title">{{ FLang.C02.step1.L0012 }}</div>
              <app-plancard
                [xIsShop]="false"
                [xAbroad]="FAbroad"
                [(xPlan)]="FPlan"
                [xTravelCalcList]="FTravelCalcList"
                [(xchooseComponent)]="chooseComponent"
                (xcalcPlan)="calcPlan()"
              ></app-plancard>
            </div>
          </div>
        </div>
      </section>
      <section class="sectLg" *ngIf="FStep === 'personInfo'">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <a Name="step2"></a>
            <div class="title">{{ FLang.C02.step1.L0002 }}</div>
            <!-- <div class="add-box"> -->
            <app-userinfo
              #ly_userinfo
              [data]="{
                xType: FType,
                xchannel: 'travel',
                errorMsg: FErrorMail
              }"
              (xUserInfoChange)="setUsertoGroup($event)"
              [(xSyncUserinfo)]="FSyncUserinfo"
              (xAction)="userinfo_action($event)"
              (xSyncUserinfoChange)="syncUserinfoChange($event)"
            ></app-userinfo>
            <!-- </div> -->
            <!-- 遊客資訊 -->
            <div class="add-box" id="lyc_insrinfo">
              <div id="ly_insured" class="title">
                {{ FLang.C02.step1.L0013 }}
              </div>
              <div class="add-all">
                <div
                  class="add-content"
                  *ngFor="let item of FInsuredList; let i = index"
                >
                  <label>{{ FLang.C02.step1.L0014 + " " + (i + 1) }}</label>
                  <div
                    [class.status-error-extend]="item.error"
                    class="add-row"
                    (click)="showInsured(i)"
                  >
                    <div class="add-col">
                      <div class="add-more-data">
                        <i class="icons-ic-man i-icon"></i>
                        <div class="ml-3">
                          {{ item.name ? item.name : FLang.C02.step1.L0015 }}
                        </div>
                      </div>
                    </div>
                    <i
                      class="icons-ic-popup-close-b i-icon i-close"
                      (click)="delInsured(i); $event.stopPropagation()"
                    ></i>
                  </div>
                  <small class="form-text" [class.d-none]="!item.error">
                    {{ item.error }}
                  </small>
                </div>
              </div>
            </div>
            <!-- 國內T44 國外都有 -->
            <div class="add-box" *ngIf="FPlan !== 1">
              <div *ngIf="FAirportTitleSplit" class="title airport-title">
                <span
                  >{{ FAirportTitleSplit[0] }}
                  <span
                    class="d-none d-md-inline-block"
                    style="white-space: pre-wrap"
                  ></span>
                </span>
                <span>{{ FAirportTitleSplit[1] }}</span>
              </div>
              <div class="explain-center">
                <div class="form-discount text-md-center">
                  {{ FLang.C02.step1.L0017 }}
                </div>
              </div>
              <div class="add-content" *ngIf="FAirPortList.length >= 2">
                <label>{{ FLang.C02.step1.L0018 }}</label>
                <div class="add-row flight" (click)="showfastpair(0)">
                  <div class="add-col">
                    <div class="add-more-data">
                      <i class="icons-ic-airplane i-icon"></i>
                      <div *ngIf="FAirPortList[0].airplaneNo" class="ml-3">
                        <div class="mb-1">
                          {{ FAirPortList[0].airplaneNo }} ({{
                            FAirPortList[0].airplaneDate | cDate: "DD/MM/YYYY"
                          }})
                        </div>
                        <div class="area">
                          {{ FAirPortList[0].airPortS
                          }}<i class="icons-ic-to-gr i-icon"></i
                          >{{ FAirPortList[0].airPortE }}
                        </div>
                      </div>
                      <div *ngIf="!FAirPortList[0].airplaneNo" class="ml-3">
                        {{ FLang.C02.step1.L0015 }}
                      </div>
                    </div>
                  </div>
                  <i
                    (click)="clearfastpair(0); $event.stopPropagation()"
                    class="icons-ic-popup-close-b i-icon i-close"
                  ></i>
                </div>
              </div>
              <div class="add-content">
                <ng-template [ngIf]="FAirPortList.length >= 3">
                  <label>{{ FLang.C02.step1.L0019 }}</label>
                  <div class="add-row flight" (click)="showfastpair(2)">
                    <div class="add-col">
                      <div class="add-more-data">
                        <i class="icons-ic-airplane i-icon"></i>
                        <div *ngIf="FAirPortList[2].airplaneNo" class="ml-3">
                          <div class="mb-1">
                            {{ FAirPortList[2].airplaneNo }} ({{
                              FAirPortList[2].airplaneDate
                                | cDate: "DD/MM/YYYY"
                            }})
                          </div>
                          <div class="area">
                            {{ FAirPortList[2].airPortS
                            }}<i class="icons-ic-to-gr i-icon"></i
                            >{{ FAirPortList[2].airPortE }}
                          </div>
                        </div>
                        <div *ngIf="!FAirPortList[2].airplaneNo" class="ml-3">
                          {{ FLang.C02.step1.L0015 }}
                        </div>
                      </div>
                    </div>
                    <i
                      (click)="clearfastpair(2); $event.stopPropagation()"
                      class="icons-ic-popup-close-b i-icon i-close"
                    ></i>
                  </div>
                </ng-template>
                <div
                  class="add-more"
                  *ngIf="FAirPortList.length < 4"
                  (click)="onPushfastpair()"
                >
                  <i class="icons-ic-add-g i-icon"></i
                  >{{ FLang.C02.step1.L0015 }}
                </div>
              </div>

              <div class="add-content">
                <ng-template [ngIf]="FAirPortList.length >= 4">
                  <label>{{ FLang.C02.step1.L0019 }}</label>
                  <div class="add-row flight" (click)="showfastpair(3)">
                    <div class="add-col">
                      <div class="add-more-data">
                        <i class="icons-ic-airplane i-icon"></i>
                        <div *ngIf="FAirPortList[3].airplaneNo" class="ml-3">
                          <div class="mb-1">
                            {{ FAirPortList[3].airplaneNo }} ({{
                              FAirPortList[3].airplaneDate
                                | cDate: "DD/MM/YYYY"
                            }})
                          </div>
                          <div class="area">
                            {{ FAirPortList[3].airPortS
                            }}<i class="icons-ic-to-gr i-icon"></i
                            >{{ FAirPortList[3].airPortE }}
                          </div>
                        </div>
                        <div *ngIf="!FAirPortList[3].airplaneNo" class="ml-3">
                          {{ FLang.C02.step1.L0015 }}
                        </div>
                      </div>
                    </div>
                    <i
                      (click)="clearfastpair(3); $event.stopPropagation()"
                      class="icons-ic-popup-close-b i-icon i-close"
                    ></i>
                  </div>
                </ng-template>
              </div>

              <div class="add-content" *ngIf="FAirPortList.length >= 2">
                <label>{{ FLang.C02.step1.L0020 }}</label>
                <div class="add-row flight" (click)="showfastpair(1)">
                  <div class="add-col">
                    <div class="add-more-data">
                      <i class="icons-ic-airplane i-icon"></i>
                      <div *ngIf="FAirPortList[1].airplaneNo" class="ml-3">
                        <div class="mb-1">
                          {{ FAirPortList[1].airplaneNo }} ({{
                            FAirPortList[1].airplaneDate | cDate: "DD/MM/YYYY"
                          }})
                        </div>
                        <div class="area">
                          {{ FAirPortList[1].airPortS
                          }}<i class="icons-ic-to-gr i-icon"></i
                          >{{ FAirPortList[1].airPortE }}
                        </div>
                      </div>
                      <div *ngIf="!FAirPortList[1].airplaneNo" class="ml-3">
                        {{ FLang.C02.step1.L0015 }}
                      </div>
                    </div>
                  </div>
                  <i
                    (click)="clearfastpair(1); $event.stopPropagation()"
                    class="icons-ic-popup-close-b i-icon i-close"
                  ></i>
                </div>
              </div>
            </div>
            <!-- 付款選擇窗 -->
            <div class="add-box" id="lyc_pay">
              <div class="title">{{ FLang.C02.step1.L0031 }}</div>
              <div class="payment">
                <div
                  [class.mb-05]="FPayNoError && paymentNumber < 0"
                  class="row no-gutters payment-row"
                >
                  <div
                    [class.status-error-box]="FPayNoError && paymentNumber < 0"
                    class="col payment-box"
                    [class.active]="this.paymentNumber === i"
                    *ngFor="let item of payList; index as i"
                    (click)="paymentSwitch(i)"
                  >
                    <div
                      class="payment-data"
                      data-toggle="modal"
                      [attr.data-target]="dataTarget(i)"
                    >
                      <div class="payment-icon">
                        <i [ngClass]="item.activeIcon"></i>
                        <i [ngClass]="item.defaultIcon"></i>
                      </div>
                      <div>{{ item.title }}</div>
                    </div>
                  </div>
                </div>
                <small
                  class="form-text form-text-error"
                  [class.d-none]="FPayNoError && paymentNumber >= 0"
                >
                  {{ FPayNoError }}
                </small>
              </div>
            </div>
            <div class="mx-0">
              <div class="payment">
                <div class="choose-box custom_text_align">
                  <input
                    [disabled]="paymentNumber < 0"
                    type="checkbox"
                    [(ngModel)]="ckPayment"
                    class="big-checkbox"
                    name="gender"
                  />
                  <label>
                    {{ FLang.C02.step1.L0021 }}
                    <a
                      target="_blank"
                      class="px-0"
                      [attr.href]="downloadFiles(FAbroad, this.FPlan)"
                    >
                      {{ FLang.C02.step1.L0022 }}</a
                    >,
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Chính sách quyền riêng tư.pdf"
                    >
                      {{ FLang.C02.step1.L0023 }}</a
                    >
                    {{ FLang.F012.L0040 }}
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Chính sách bảo mật.pdf"
                    >
                      {{ FLang.C02.step1.L0027 }}</a
                    >.
                    {{ FLang.C02.step1.L0042 }}
                  </label>
                </div>
                <small
                  class="form-text form-text-error"
                  [class.d-none]="FAgreeError && ckPayment"
                >
                  {{ FAgreeError }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 付款區 -->
      <section *ngIf="FStep === 'payment'; else totalCon" class="success-mes">
        <div class="container remove-width">
          <div *ngIf="FUserInfo.seq_no === 0" class="mes-reg">
            {{ FLang.C02.step3.L0001 }}
          </div>
          <div class="success-img">
            <img
              src="assets/img/banner-payment2x.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="remark" *ngIf="!FPayResult; else ly_payResult">
            <ng-container *ngIf="FPayTransaction; else ly_PayTransaction">
              <div style="padding: 10px 0">
                {{ FLang.C03.step3.L0011 }}
              </div>
              <div class="text-center">
                <a
                  routerLink="/member/my-order"
                  replaceUrl="true"
                  class="btn btn-white"
                  >{{ FLang.C03.step3.L0005 }}</a
                >
              </div>
            </ng-container>
            <ng-template #ly_PayTransaction>{{
              FLang.C02.step3.L0008
            }}</ng-template>
          </div>
          <ng-template #ly_payResult>
            <h3>{{ FLang.C02.step3.L0002 }}</h3>
            <p>{{ controls.email_bk.value }}</p>
            <div class="text-center">
              <a routerLink="" class="btn btn-white">{{
                FLang.C04.step3.C0006
              }}</a>
            </div>
          </ng-template>
        </div>
      </section>
      <ng-template #totalCon>
        <section>
          <div class="container total-con-p">
            <div class="total-content fix-bottom">
              <div class="bg-white-block form-data total-from">
                <div class="total-link-left d-none d-md-block">
                  <img
                    src="assets/img/online/img-link.png"
                    alt=""
                    srcset="assets/img/online/img-link@2x.png 2x"
                    class="img-fluid"
                  />
                </div>
                <div class="total-link-right d-none d-md-block">
                  <img
                    src="assets/img/online/img-link.png"
                    alt=""
                    srcset="assets/img/online/img-link@2x.png 2x"
                    class="img-fluid"
                  />
                </div>
                <div class="total-box">
                  <div class="total-img d-md-inline-block d-none">
                    <img
                      src="assets/img/auth_registersm3x.png"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                  <div class="total-tit">{{ FLang.C02.step1.L0024 }}</div>
                  <div class="sum">
                    {{ FAmount | thousands
                    }}<span> {{ FLang.C02.step1.L0036 }}</span>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <a
                  *ngIf="FStep === 'calcAmt'"
                  [class.disabled]="!FCalcTestState"
                  class="btn btn-primary"
                  (click)="goStep('2')"
                  >{{ FLang.C02.step1.L0025 }}</a
                >

                <a
                  *ngIf="FStep === 'personInfo'"
                  class="btn btn-primary"
                  (click)="goStep('3')"
                  >{{ FLang.C02.step1.L0026 }}</a
                >
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </div>
  </main>
  <app-contact-service
    [title]="FLang.C02.pop.L0001"
    [infoOne]="FLang.C02.pop.L0002"
    [infoTwo]="FLang.C02.pop.L0003"
  ></app-contact-service>
</div>

<div
  class="modal fade"
  id="Modal-01"
  tabindex="-1"
  aria-labelledby="ModalLabel-01"
  aria-hidden="true"
>
  <ng-container
    *ngComponentOutlet="mapping.get(chooseComponent)"
  ></ng-container>
</div>

<div
  class="modal fade"
  id="modelInsured"
  tabindex="-1"
  aria-labelledby="ModalLabel-01"
  aria-hidden="true"
>
  <ng-container #cInsured></ng-container>
</div>

<div
  class="modal fade notice"
  id="model-Login"
  tabindex="-1"
  aria-labelledby="ModalLabel-08"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C02.step3.T9999 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body p-0">
        <!-- 註冊窗 -->
        <ng-container #content></ng-container>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modelFast"
  tabindex="-1"
  aria-labelledby="ModalLabel-07"
  aria-hidden="true"
>
  <ng-container #cfastpair></ng-container>
</div>

<!-- <app-payment-fail></app-payment-fail> -->
<app-payment-fail (xAction)="FPayTransaction = false"></app-payment-fail>

<!-- 支付 for IOS -->
<app-confirm
  [data]="FConfirm"
  (ActionEvent)="ActionYesNo($event)"
></app-confirm>
