$grey: #7d8a94;
$dark-gray: #495057;
$black: #000;
.form-control[readonly] {
  background-color: #fff;
  color: $dark-gray;
  -webkit-text-fill-color: $dark-gray;
  font-weight: 400;
}

::ng-deep .daterangepicker {
  &:not(.single) {
    width: 590px;
    .dateRange {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0px 1px 0px;
      font-size: 12px;
      font-weight: 600;
      transition: bottom 100ms;
      .showDate {
        text-align: center;
        position: relative;
        width: 50%;
        color: #888;
        line-height: 1.4;
        div:last-child {
          padding-bottom: 6px;
        }
      }
      .showDate:last-child {
        color: #7bbf43;
      }
      .showDate::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #888;
        left: 0;
        bottom: 0;
      }
      .showDate:last-child::before {
        background-color: #7bbf43;
        height: 2px;
      }
    }
    .drp-calendar.left {
      margin-right: 10px;
      padding-top: 1px;
    }
    .drp-calendar.right {
      margin-left: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .drp-buttons {
      .cancelBtn,
      .applyBtn {
        color: #7bbf43;
      }
    }
  }
}

::ng-deep .daterangepicker:not(.single) td.in-range {
  background-color: rgba(123, 191, 67, 0.3);
}
::ng-deep .daterangepicker:not(.single) td.active,
::ng-deep .daterangepicker:not(.single) td.active:hover {
  position: relative;
  border-radius: 50%;
  background-color: #7bbf43;
  z-index: 1;
}
::ng-deep .daterangepicker:not(.single) td.start-date::before,
::ng-deep .daterangepicker:not(.single) td.end-date::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background-color: rgba(123, 191, 67, 0.3);
  z-index: -1;
}
::ng-deep .daterangepicker:not(.single) td.start-date::before {
  right: 0;
}
::ng-deep .daterangepicker:not(.single) td.end-date::before {
  left: 0;
}
::ng-deep .daterangepicker:not(.single) td.off,
::ng-deep .daterangepicker:not(.single) td.today {
  z-index: auto;
}
::ng-deep .daterangepicker:not(.single) td.today.start-date,
::ng-deep .daterangepicker:not(.single) td.today.end-date {
  z-index: 1;
}
::ng-deep .daterangepicker:not(.single) td.end-date.start-date {
  z-index: auto;
}
::ng-deep .daterangepicker:not(.single) td.available:hover {
  background-color: #7bbf43;
}
::ng-deep .daterangepicker:not(.single) .calendar-table th {
  line-height: 1.2;
  padding: 1px 4px;
}
::ng-deep .daterangepicker:not(.single) .drp-buttons .btn {
  padding-top: 1px;
}
::ng-deep .daterangepicker:not(.single) td.off {
  background-color: #fff;
}

// 隱藏下個月份日期
::ng-deep .daterangepicker {
  .off.ends {
    visibility: hidden;

    // &:not([data-title^="r0"]) {
    //   display: none;
    // }
  }
}

@media (max-width: 626px) {
  ::ng-deep .daterangepicker:not(.single) {
    position: fixed;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    border: 0px solid #ddd;
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 0;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 3001;
    display: none;
    font-size: 15px;
    line-height: 1em;
  }
  ::ng-deep .dateRange {
    position: absolute;
    bottom: 300px;
    left: 0;
    background-color: #fff;
    width: 100%;
  }
  ::ng-deep .daterangepicker:not(.single) .calendar-table table {
    border-spacing: 1px 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ::ng-deep .daterangepicker:not(.single) .drp-calendar {
    min-width: 100%;
    width: 100%;
  }
  ::ng-deep .daterangepicker:not(.single) .drp-calendar.left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 0;
  }
  ::ng-deep .daterangepicker:not(.single) .drp-calendar.right {
    display: none;
  }
  ::ng-deep .daterangepicker:not(.single) .drp-calendar.left .calendar-table {
    width: 100%;
  }
  ::ng-deep .daterangepicker:not(.single) .drp-buttons {
    background-color: #fff;
  }
  ::ng-deep .daterangepicker:not(.single) td.available:hover,
  ::ng-deep .daterangepicker:not(.single) td.active:hover {
    background-color: transparent;
    z-index: 1;
  }
  ::ng-deep .daterangepicker:not(.single) td.available::after,
  ::ng-deep .daterangepicker:not(.single) td.active::after {
    content: "";
    position: absolute;
    background-color: #7bbf43;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  ::ng-deep .daterangepicker:not(.single) td.active {
    background-color: transparent;
    color: #000;
  }
  ::ng-deep .daterangepicker:not(.single) .calendar-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ::ng-deep .daterangepicker:not(.single) .calendar-table td,
  ::ng-deep .daterangepicker:not(.single) .calendar-table th {
    width: 50%;
    margin: 3px 0px;
    padding: 5px 4vw;
  }
  ::ng-deep .daterangepicker:not(.single) .calendar-table td {
    line-height: 20px;
  }
  ::ng-deep .daterangepicker:not(.single) td.start-date.end-date,
  ::ng-deep .daterangepicker:not(.single) td.today.end-date,
  ::ng-deep .daterangepicker:not(.single) td.today.start-date {
    z-index: 1;
  }
  ::ng-deep .daterangepicker:not(.single) td.start-date.end-date::before {
    position: relative;
  }
  ::ng-deep .daterangepicker:not(.single) td.start-date,
  ::ng-deep .daterangepicker:not(.single) td.end-date {
    color: #fff;
  }
  ::ng-deep .start-date::after,
  ::ng-deep .end-date::after {
    content: "";
    position: absolute;
    background-color: #7bbf43;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  ::ng-deep .daterangepicker:not(.single).show-calendar .ranges {
    position: absolute;
    width: 100%;
    height: calc(100% - 360px);
    z-index: 100;
    top: 0;
  }
}
@media (max-width: 400px) {
  ::ng-deep .daterangepicker:not(.single) .calendar-table td,
  ::ng-deep .daterangepicker:not(.single) .calendar-table th {
    padding: 5px 2vw;
  }
}

@media (max-width: 336px) {
  ::ng-deep .daterangepicker:not(.single) .dateRange {
    bottom: 305px;
  }
}
