<label>{{ label }}</label>
<div class="from-row">
  <input
    type="text"
    class="form-control"
    [ngClass]="{ date1: !!value }"
    [attr.placeholder]="placeholder"
    [id]="xid"
    readonly="readonly"
    (focus)="openData()"
  />
  <i class="icons-ic-date i-icon" (click)="doShowDate()"></i>
</div>
