<!-- 測試補登 -->
<div
  class="modal fade notice"
  id="popThirdBind"
  tabindex="-1"
  aria-labelledby="popThirdBind"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title" id="ModalLabel-11">
          {{ FLang.B023.title.B0001 }}
        </h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <form [formGroup]="group">
          <div class="advisory-content">
            <div class="adv-box-item">
              <p
                style="white-space: pre-wrap"
                class="text-center mb-30"
                [innerHtml]="FLang.B023.content.B0001"
              ></p>
              <div
                id="lyc_user_account"
                class="form-group"
                [class.status-error]="
                  controls.user_account.dirty &&
                  controls.user_account.touched &&
                  controls.user_account.invalid
                "
              >
                <label>{{ FLang.B023.content.B0002 }}</label>
                <div class="from-row">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ FLang.B023.content.B0003 }}"
                    formControlName="user_account"
                    autocomplete="off"
                  />
                  <i
                    class="icons-ic-form-del i-icon"
                    (click)="controls.user_account.setValue('')"
                  ></i>
                </div>
                <small
                  style="color: #f9556f"
                  [class.d-none]="
                    !controls.user_account.dirty ||
                    controls.user_account.untouched ||
                    controls.user_account.valid
                  "
                >
                  {{ getErrors(controls.user_account) }}</small
                >
                <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
              </div>
              <div
                id="lyc_user_password"
                class="form-group mb-2"
                [class.status-error]="
                  controls.user_password.dirty &&
                  controls.user_password.touched &&
                  controls.user_password.invalid
                "
              >
                <label>{{ FLang.B023.content.B0004 }}</label>
                <div class="from-row">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="{{
                      FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS007
                    }}"
                    formControlName="user_password"
                    autocomplete="new-password"
                  />
                  <i
                    class="icons-ic-form-del i-icon"
                    (click)="controls.user_password.setValue('')"
                  ></i>
                </div>
                <small
                  style="color: #f9556f"
                  [class.d-none]="
                    !controls.user_password.dirty ||
                    controls.user_password.untouched ||
                    controls.user_password.valid
                  "
                >
                  {{ getErrors(controls.user_password) }}</small
                >
                <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
              </div>
              <div class="text-right">
                <a (click)="goFindAccount()" class="text-green explain">{{
                  FLang.B023.content.B0006
                }}</a>
              </div>
              <div class="message-error" [class.d-none]="!FLoginError">
                {{ FLang.B023.content.B0007 }}
              </div>
              <div class="message-error" [class.d-none]="!FIDError">
                {{ FLang.B023.content.B0008 }}
              </div>
            </div>
          </div>
          <div class="login-p">
            <div class="text-center mt-20px">
              <button
                type="button"
                class="btn btn-primary"
                (click)="doSubmit()"
                data-target="#"
              >
                {{ FLang.B023.content.B0009 }}
              </button>
            </div>
            <div class="title">{{ FLang.B023.content.B0010 }}</div>
            <!-- 當文字比較長時使用more -->
            <!-- <div class="title more">
              <div>或點選以下繼續</div>
            </div> -->
            <!-- 連結只有fb時 -->
            <div *ngIf="!googleStatusPOP && facebookStatusPOP" class="row link">
              <div class="col align-self-center text-center">
                <a (click)="fblogin()">
                  <i class="icons-ic-login-fb i-icon"></i>Facebook</a
                >
              </div>
            </div>
            <!-- 連結只有google時 -->
            <div *ngIf="googleStatusPOP && !facebookStatusPOP" class="row link">
              <div class="col align-self-center text-center">
                <a (click)="googlelogin()">
                  <i class="icons-ic-login-google i-icon"></i>Google</a
                >
              </div>
            </div>
            <!-- 連結有fb及google時 -->
            <div *ngIf="googleStatusPOP && facebookStatusPOP" class="row link">
              <div class="col align-self-center text-center">
                <a (click)="fblogin()">
                  <i class="icons-ic-login-fb i-icon"></i>Facebook</a
                >
              </div>

              <div class="col align-self-center text-center">
                <a (click)="googlelogin()">
                  <i class="icons-ic-login-google i-icon"></i>Google</a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
