<div class="title">{{ FTitle }}</div>
<div class="container remove-width">
  <div class="about-map">
    <div class="row wow fadeInUp">
      <div class="col-12 col-lg-7">
        <div class="map-box">
          <div class="d-none d-lg-block">
            <ul class="tab filter labels">
              <li [ngClass]="{ active: 'a' === index }">
                <a
                  role="button"
                  attr.data-filter-type="a"
                  (click)="filterTypeIdChange('a')"
                >
                  {{ FLang.G01.L0007 }}
                </a>
              </li>
              <li
                *ngFor="let area of mapList"
                [ngClass]="{ active: area.type === index }"
              >
                <a
                  role="button"
                  [attr.data-filter-type]="area.type"
                  (click)="filterTypeIdChange(area.type)"
                  >{{ area.title }}</a
                >
              </li>
            </ul>
          </div>
          <div class="pop-menu d-block d-lg-none">
            <div class="dropdown">
              <button
                class="btn dropdown-toggle w-100"
                type="button"
                id="dropdownFilter"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="filterActiveText">
                  {{ getMapCardTitle }}
                </div>
              </button>
              <!-- <i class="icons-ic-news-arrow-down i-icon"></i> -->
              <div
                class="dropdown-menu w-100 filter tab"
                aria-labelledby="dropdownFilter"
              >
                <a
                  class="dropdown-item"
                  attr.data-filter-type="a"
                  role="button"
                  (click)="filterTypeIdChange('a')"
                  >{{ FLang.G01.L0007 }}</a
                >
                <a
                  *ngFor="let area of mapList"
                  class="dropdown-item"
                  [attr.data-filter-type]="area.type"
                  role="button"
                  (click)="filterTypeIdChange(area.type)"
                  >{{ area.title }}</a
                >
              </div>
            </div>
          </div>
          <div>
            <div data-filter-content="all-empty">
              <div class="map-row d-none"></div>
            </div>
            <div
              *ngFor="let card of filterMapCardList"
              class="map-card"
              [attr.data-filter-content]="card.type"
            >
              <div class="map-row">
                <div class="align-items-center d-none d-lg-flex">
                  <div>
                    <i class="icons-ic-about-company i-icon"></i>
                  </div>
                  <h4>{{ card.title }}</h4>
                </div>
                <div class="map-infor">
                  <p>{{ card.p1 }}</p>
                  <p>{{ card.p2 }}</p>
                  <p *ngIf="card.p3">{{ card.p3 }}</p>
                  <p *ngIf="card.p4">{{ card.p4 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 order-lg-first">
        <div *ngIf="isApiLoaded | async" class="map">
          <google-map [center]="center" [zoom]="mapZoom" width="100%">
            <map-marker
              #marker="mapMarker"
              *ngFor="let markerItem of markers"
              [position]="markerItem.position"
            >
            </map-marker>
          </google-map>
          <!-- <iframe
            *ngIf="showIframeMap && mapSrcUrl"
            [src]="mapSrcUrl"
            width="600"
            height="450"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe> -->
        </div>
      </div>
    </div>
    <div class="painting">
      <img
        src="assets/img/bg-about-map.png"
        alt=""
        srcset="assets/img/bg-about-map@2x.png 2x"
        class="d-none d-md-block"
      />
    </div>
  </div>
</div>
