<div
  class="modal fade notice"
  id="lyConfirm"
  tabindex="-1"
  aria-labelledby="ModalLabel-20"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i
            *ngIf="gPub.type === 'exclamation'"
            class="icons-ic-status-error i-icon"
          ></i>
          <i
            *ngIf="gPub.type === 'succese'"
            class="icons-ic-status-check i-icon"
          ></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ gPub.title }}</h5>
          <p [innerHTML]="gPub.content"></p>
        </div>

        <div class="row no-gutters btn-order modal-btn-more">
          <div class="col-md-6">
            <div class="text-center">
              <a (click)="doAction(true)" class="btn btn-primary">
                {{ gPub.btnConfirm }}
              </a>
            </div>
          </div>
          <div class="col-md-6 order-md-first">
            <div class="text-center">
              <a (click)="doAction(false)" class="btn btn-white">
                {{ gPub.btnCancel }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
