<!-- 加此 div 是避免 route 有 fragment 時頁面位置跑掉 -->
<div id="introductionDescription"></div>
<div class="height-content">
  <main>
    <div class="com-content">
      <app-background></app-background>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1 *ngIf="mlang === 'zh-TW'" [innerHTML]="FTitle + FLang.F09.L0065"></h1>
          <h1 *ngIf="mlang === 'en-US'" [innerHTML]="FTitle + '\<br>' + FLang.F09.L0065"></h1>
          <h1 *ngIf="mlang === 'vi-VN'" [innerHTML]="FLang.F09.L0065 + FTitle"></h1>
        </div>
      </div>
      <section class="sectLg service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <!-- 理賠流程 -->
            <app-card></app-card>
            <!-- 理賠流程 -->
            <div class="title pt-3" id="description">
              {{ FLang.F09.L0066 }}
            </div>
            <app-service-card
              Name="description"
              [xfile]="FFile"
            ></app-service-card>
          </div>
        </div>
      </section>
      <section class="sectLg wave-bg">
        <img src="assets/img/wave2x.png" class="bg-wave" />
        <div class="title">{{ FLang.F09.L0067 }}</div>
        <div class="container remove-width">
          <div class="bookmark wow fadeInUp">
            <app-faq-card
              [faqData]="faqList"
              [queryParams]="queryParams"
            ></app-faq-card>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
