<div class="height-content">
  <!-- header menu END  -->
  <main>
    <div class="com-content">
      <app-topbackground [clickItem]="showImg"></app-topbackground>
      <!-- breadcrumb -->
      <app-breadcrumb (title)="getTitle($event)"></app-breadcrumb>
      <!-- breadcrumb end-->
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.H01.H0001 }}</h1>
        </div>
      </div>
      <section class="bookmark helper-top">
        <div class="container remove-width">
          <app-bookmark
            (selectBookmark)="selectBookmark($event)"
          ></app-bookmark>
          <div class="tab-content" id="pills-tabContent">
            <!-- question -->
            <div
              class="tab-pane fade show active question"
              id="pills-one"
              role="tabpanel"
              aria-labelledby="pills-one-tab"
            >
              <app-search
                [(searchText)]="searchText"
                (filterList)="searchFaq($event)"
              ></app-search>
              <hr class="d-none d-lg-block" />
              <!-- mob dropdown -->
              <div class="pop-menu d-lg-none w-100">
                <div class="dropdown">
                  <button
                    class="btn dropdown-toggle w-100"
                    type="button"
                    id="dropdownFilter"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <div class="filterActiveText">
                      {{ dropdownLabel }}
                    </div>
                  </button>

                  <!-- <i class="icons-ic-news-arrow-down i-icon"></i> -->
                  <div
                    class="dropdown-menu w-100 filter tab"
                    aria-labelledby="dropdownFilter"
                  >
                    <div *ngFor="let item of dropdownList; index as i">
                      <div class="drop-title">{{ item.name }}</div>
                      <a
                        class="dropdown-item second-sele active"
                        [class.active]="leftTag === j + 1"
                        *ngFor="let content of item.content; index as j"
                        (click)="dropdownOption(i + 1, j + 1)"
                      >
                        {{ content.title }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- mob dropdown end-->

              <div class="row">
                <!-- Web 常見問題 側邊選單 start -->
                <div class="col bm-sidebar d-none d-lg-block">
                  <div id="sidebarFaq">
                    <div
                      class="tab-card"
                      *ngFor="let item of dropdownList; index as i"
                    >
                      <div
                        class="tab-link"
                        [class.collapsed]="collapseClose(i + 1)"
                        [id]="idTag(i)"
                        data-toggle="collapse"
                        [attr.data-target]="dataTarget(i)"
                        aria-expanded="true"
                        [attr.aria-controls]="ariaControls(i)"
                      >
                        <div class="tab-title">
                          <h4>{{ item.name }}</h4>
                          <i class="icons-ic-faq-arrow-up i-icon i-up"></i>
                          <i class="icons-ic-faq-arrow-down i-icon i-down"></i>
                        </div>
                      </div>

                      <div
                        [id]="ariaControls(i)"
                        class="collapse"
                        [class.show]="collapseShow(i + 1)"
                        [attr.aria-labelledby]="idTag(i)"
                        data-parent="#sidebarFaq"
                      >
                        <ul>
                          <li
                            [class.active]="
                              item.id === leftTitle && content.type === leftTag
                            "
                            *ngFor="let content of item.content"
                            (click)="dropdownTag(item.id, content.type)"
                          >
                            {{ content.title }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Web 常見問題 側邊選單 end -->

                <div class="col">
                  <div class="tab-row-content">
                    <h4 class="d-none d-lg-block">
                      {{ menuTitle }}
                    </h4>
                    <div class="tab-mob-scroll">
                      <ul class="tab filter labels slick_width_control">
                        <ngx-slick
                          #slickModal="slick-modal"
                          class="tab filter onlinecard slider"
                          [config]="slideConfig"
                        >
                          <ng-container *ngFor="let item of menuTagList">
                            <li
                              ngxSlickItem
                              [ngClass]="{
                                active: item.type === activeTag,
                                hide_content: getFaqCountByType(item.type) === 0
                              }"
                            >
                              <a
                                data-filter-type="all-empty"
                                role="button"
                                (click)="switchTag(item.type)"
                                >{{ item.title }} ({{
                                  getFaqCountByType(item.type)
                                }})</a
                              >
                            </li>
                          </ng-container>
                        </ngx-slick>
                      </ul>
                    </div>
                    <h4 class="padding">{{ switchTitle(activeTag) }}</h4>
                    <div class="tab-item-box" id="accordionQuestion">
                      <!-- tab-card -->
                      <div
                        class="tab-card"
                        *ngFor="let item of filterFaqList; index as i"
                      >
                        <div
                          class="tab-link"
                          [class.collapsed]="i !== 0"
                          [id]="getID(i)"
                          data-toggle="collapse"
                          [attr.data-target]="getGenerate(i, true)"
                          aria-expanded="true"
                          [attr.aria-controls]="getGenerate(i)"
                        >
                          <div class="tab-title d-flex">
                            <!-- <span class="num">{{ FLang.faq.faq001 }}</span> -->
                            <h4>{{ item.title }}</h4>
                            <i class="icons-ic-faq-arrow-up i-icon i-up"></i>
                            <i
                              class="icons-ic-faq-arrow-down i-icon i-down"
                            ></i>
                          </div>
                        </div>
                        <div
                          [id]="getGenerate(i)"
                          class="collapse"
                          [class.show]="i === 0"
                          [attr.aria-labelledby]="ariaLabelledby(i)"
                          data-parent="#accordionQuestion"
                        >
                          <div class="que-body d-flex custom_text_align">
                            <p
                              (click)="contentClickHandler($event)"
                              [innerHTML]="item.content"
                            ></p>
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="!isMoreButtonDisabled"
                        class="more text-center"
                      >
                        <a
                          role="button"
                          class="btn btn-primary"
                          (click)="showMore()"
                        >
                          {{ FLang.faq.faq003 }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- question end-->
            <!-- download -->
            <div
              class="tab-pane fade"
              id="pills-two"
              role="tabpanel"
              aria-labelledby="pills-two-tab"
            >
              <app-search
                [(searchText)]="searchText"
                (filterList)="searchFaq($event)"
              ></app-search>
              <hr class="d-none d-lg-block" />
              <!-- mob dropdown -->
              <div class="pop-menu d-lg-none w-100">
                <div class="dropdown">
                  <button
                    class="btn dropdown-toggle w-100"
                    type="button"
                    id="dropdownFilter"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <div class="filterActiveText">
                      {{ dropdownLabel }}
                    </div>
                  </button>

                  <!-- <i class="icons-ic-news-arrow-down i-icon"></i> -->
                  <div
                    class="dropdown-menu w-100 filter tab"
                    aria-labelledby="dropdownFilter"
                  >
                    <div *ngFor="let item of dropdownList; index as i">
                      <div class="drop-title">{{ item.name }}</div>

                      <a
                        class="dropdown-item second-sele"
                        *ngFor="let content of item.content; index as j"
                        (click)="dropdownOption(i + 1, j + 1)"
                      >
                        {{ content.title }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- mob dropdown end-->

              <div class="row">
                <!-- Web 文件下載 側邊選單 start -->
                <div class="col bm-sidebar d-none d-lg-block">
                  <div id="sidebarDocumentDownload">
                    <div
                      class="tab-card"
                      *ngFor="let item of dropdownList; index as i"
                    >
                      <div
                        class="tab-link"
                        [class.collapsed]="collapseClose(i + 1)"
                        [id]="idTag(i)"
                        data-toggle="collapse"
                        [attr.data-target]="dataTarget(i)"
                        aria-expanded="true"
                        [attr.aria-controls]="ariaControls(i)"
                        (click)="dropdownMenuClick($event, item)"
                      >
                        <div class="tab-title">
                          <h4>{{ item.name }}</h4>
                          <i
                            *ngIf="!item.root"
                            class="icons-ic-faq-arrow-up i-icon i-up"
                          ></i>
                          <i
                            *ngIf="!item.root"
                            class="icons-ic-faq-arrow-down i-icon i-down"
                          ></i>
                        </div>
                      </div>

                      <div
                        *ngIf="!item.root"
                        [id]="ariaControls(i)"
                        class="collapse"
                        [class.show]="collapseShow(i + 1)"
                        [attr.aria-labelledby]="idTag(i)"
                        data-parent="#sidebarDocumentDownload"
                      >
                        <ul>
                          <li
                            [class.active]="
                              item.id === leftTitle && content.type === leftTag
                            "
                            *ngFor="let content of item.content"
                            (click)="dropdownTag(item.id, content.type)"
                          >
                            {{ content.title }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Web 文件下載 側邊選單 end -->
                <div class="col">
                  <div class="tab-row-content">
                    <app-download-card
                      [itemId]="leftTitle"
                      [itemType]="leftTag"
                      [keyword]="searchKeyword"
                      [switchTag]="question"
                      (showMore)="showMore()"
                    ></app-download-card>
                  </div>
                </div>
              </div>
            </div>
            <!-- download end-->
            <!-- advisory -->
            <div
              class="tab-pane fade advisory"
              id="pills-three"
              role="tabpanel"
              aria-labelledby="pills-three-tab"
            >
              <form [formGroup]="group">
                <div class="advisory-content">
                  <div class="adv-box-item">
                    <div
                      class="form-group"
                      [class.status-error]="
                        controls.name.dirty &&
                        controls.name.touched &&
                        controls.name.invalid
                      "
                    >
                      <label>{{ FLang.H01.H0022 }}</label>
                      <div class="from-row">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                          appLimitInput
                          [replace]="'vn'"
                          (input)="changeToUpperCase($event)"
                        />
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="doClearInput('name')"
                        ></i>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !controls.name.dirty ||
                          controls.name.untouched ||
                          controls.name.valid
                        "
                      >
                        {{ getErrors(controls.name) }}</small
                      >
                    </div>
                    <div
                      class="form-group"
                      [class.status-error]="
                        controls.mobile.dirty &&
                        controls.mobile.touched &&
                        controls.mobile.invalid
                      "
                    >
                      <label>{{ FLang.H01.H0023 }}</label>
                      <div class="from-row">
                        <input
                          type="tel"
                          class="form-control"
                          formControlName="mobile"
                        />
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="doClearInput('mobile')"
                        ></i>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !controls.mobile.dirty ||
                          controls.mobile.untouched ||
                          controls.mobile.valid
                        "
                      >
                        {{ getErrors(controls.mobile) }}</small
                      >
                    </div>

                    <div
                      class="form-group"
                      [class.status-error]="
                        controls.email.dirty &&
                        controls.email.touched &&
                        controls.email.invalid
                      "
                    >
                      <label>{{ FLang.H01.H0024 }}</label>
                      <div class="from-row">
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                        />
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="doClearInput('email')"
                        ></i>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !controls.email.dirty ||
                          controls.email.untouched ||
                          controls.email.valid
                        "
                      >
                        {{ getErrors(controls.email) }}</small
                      >
                    </div>

                    <div class="choose">
                      <label>{{ FLang.H01.H0025 }}</label>
                      <div class="row checkbox-group">
                        <div
                          class="col-sm-12 choose-item"
                          *ngFor="let item of optionList; index as i"
                        >
                          <div
                            class="choose-box choo"
                            [class.error]="
                              controls.optiontype.dirty &&
                              controls.optiontype.invalid &&
                              controls.optiontype.touched
                            "
                            [class.disabled]="applyJob ? i !== 5 : i === 7"
                          >
                            <input
                              type="radio"
                              class="big-checkbox"
                              formControlName="optiontype"
                              (change)="optiontype(i)"
                              [value]="i"
                              [id]="optionItems(i)"
                              [attr.disabled]="
                                applyJob && i !== 5 ? 'disabled' : null
                              "
                            />
                            <label *ngIf="!applyJob" [for]="optionItems(i)">{{
                              item.title
                            }}</label>
                            <label *ngIf="applyJob">{{ item.title }}</label>
                          </div>
                          <div
                            class="choose-box choo-sub"
                            *ngIf="
                              item.title === this.FLang.H01.H0025_.s001 ||
                              item.title === this.FLang.H01.H0025_.s002
                            "
                          >
                            <div
                              class="choose-row"
                              *ngFor="let content of insuredList; index as j"
                            >
                              <div
                                class="choose-box"
                                [class.error]="
                                  controls.optiontypeDetail.dirty &&
                                  controls.optiontypeDetail.touched &&
                                  controls.optiontypeDetail.invalid
                                "
                              >
                                <input
                                  type="radio"
                                  class="big-checkbox"
                                  formControlName="optiontypeDetail"
                                  (click)="optiontypeDetail(j)"
                                  [value]="j"
                                  [id]="
                                    optionItems(formatRadioId(i, j), 'radioo')
                                  "
                                />
                                <label
                                  [for]="
                                    optionItems(formatRadioId(i, j), 'radioo')
                                  "
                                >
                                  {{ content.option }}</label
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="form-textarea"
                      [class.status-error]="
                        controls.option.dirty &&
                        controls.option.touched &&
                        controls.option.invalid
                      "
                    >
                      <label>{{ FLang.H01.H0026 }}</label>
                      <div>
                        <textarea
                          class="w-100"
                          formControlName="option"
                          placeholder="{{ FLang.H01.H0033 }}"
                        ></textarea>
                        <small
                          style="color: #f9556f; font-size: 0.875rem"
                          [class.d-none]="
                            !controls.option.dirty ||
                            controls.option.untouched ||
                            controls.option.valid
                          "
                        >
                          {{ getErrors(controls.option) }}</small
                        >
                      </div>
                    </div>
                    <div
                      class="form-group prove"
                      [class.status-error]="
                        controls.captchaCode.dirty &&
                        controls.captchaCode.touched &&
                        controls.captchaCode.invalid
                      "
                    >
                      <label>{{ FLang.H01.H0027 }}</label>
                      <div class="d-flex align-items-center">
                        <div class="from-row">
                          <input
                            type="text"
                            class="form-control pr-2"
                            formControlName="captchaCode"
                          />
                          <i
                            class="icons-ic-form-del i-icon"
                            (click)="doClearInput('captchaCode')"
                          ></i>
                        </div>
                        <app-captcha
                          #captcha
                          (captchaResult)="updateCaptchaCode($event)"
                        ></app-captcha>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !controls.captchaCode.dirty ||
                          controls.captchaCode.untouched ||
                          controls.captchaCode.valid
                        "
                        >{{ getErrors(controls.captchaCode) }}</small
                      >
                    </div>
                  </div>
                </div>
                <div class="row no-gutters btn-order">
                  <div class="col-md-6">
                    <div class="text-center">
                      <a class="btn btn-primary" (click)="checkFormat()">
                        <!-- [class.disabled]="buttonDisabled()" -->
                        {{ FLang.H01.H0028 }}
                      </a>
                      <!-- href="news.html" -->
                    </div>
                  </div>
                  <div class="col-md-6 order-md-first">
                    <div class="text-center">
                      <a (click)="clearAll()" class="btn btn-white">
                        {{ FLang.H01.H0029 }}
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- advisory end-->
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<!-- Modal-42 -->
<div
  class="modal fade notice"
  id="Modal-42-success"
  tabindex="-1"
  aria-labelledby="ModalLabel-42"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-check i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.H01.H0039 }}</h5>
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              routerLink="/help"
              [queryParams]="{ type: 'question' }"
            >
              {{ FLang.H01.H0041 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-22 -->
<div
  class="modal fade notice"
  id="Modal-42-error"
  tabindex="-1"
  aria-labelledby="ModalLabel-22"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.H01.H0040 }}</h5>
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              routerLink="/help"
              [queryParams]="{ type: 'question' }"
            >
              {{ FLang.H01.H0041 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
