<div class="caption caption-search">
  <div class="input-group search-box">
    <div class="input-search">
      <input
        id="helpInputSearch"
        type="search"
        [placeholder]="FLang.H0005"
        [value]="searchText"
        (change)="searchTextChange.emit($event.target.value)"
        (keyup.enter)="search()"
      />
      <i
        class="icons-ic-search i-icon"
        (click)="search()"
      ></i>
    </div>
  </div>
</div>
