<div class="commodity com-introduce">
  <h1 class="text-center">{{ childItems.title }}</h1>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="com-img">
        <div class="com-img-box">
          <img
            [src]="childItems.img"
            alt=""
            [srcset]="childItems.srcset"
            class="img-fluid"
          />
          <ul class="tab filter">
            <li
              [ngClass]="iconStyleCss(i)"
              *ngFor="let item of childItems.icons; index as i"
            >
              <a [attr.data-filter-type]="dataFilterNumber(i)" role="button">
                <img
                  [src]="item.defaultImg"
                  alt=""
                  [srcset]="item.defaultSrcset"
                  class="i-default"
                  (click)="clickStyle(i)"
                />
                <img
                  [src]="item.activeImg"
                  alt=""
                  [srcset]="item.activeSrcset"
                  class="i-active"
                  (click)="clickStyle(i)"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 order-lg-first">
      <div
        [attr.data-filter-content]="dataFilterNumber(i)"
        *ngFor="let item of childItems.content; index as i"
        [ngClass]="{ 'd-none': activeIndex !== i }"
        class="custom_text_align"
      >
        <h2>{{ item.title }}</h2>
        <p [innerHtml]="item.directions"></p>
        <div class="com-detail com-detail-type en-price">
          <p>{{ item.tag }}</p>
          <ul>
            <li *ngFor="let content of item.details">
              <div class="d-md-flex">
                <div class="mr-auto">{{ content.option }}</div>
                <div class="price">
                  <div class="p_money">{{ content.content1 }}</div>
                  <div class="money">
                    {{ content.money }}
                  </div>
                  <div class="unit">
                    {{ content.content2 }}
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="ins-ser-line">
            <img
              src="assets/img/ic-orange-line.png"
              alt=""
              srcset="assets/img/ic-orange-line@2x.png 2x"
              class="d-none d-lg-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
