<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.L0001 }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body modal-title-20">
      <h3 class="modal-body-title">{{ FLang.L0002 }}</h3>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0003 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0004 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHtml]="FLang.L0005"
        ></div>
      </div>

      <!-- <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0006 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0007 }}</h4>
          </div>
        </div>
        <div class="detail-card-content">{{ FLang.L0008 }}</div>
      </div> -->
      <!-- 3 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0009 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0010 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0011 }}
        </div>
      </div>
      <!-- 4 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0012 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0013 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0014 }}
        </div>
      </div>
      <!-- 5 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0015 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0016 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0017 }}
        </div>
      </div>
      <!-- 6 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0018 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0019 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0020 }}
        </div>
      </div>
      <!-- 7 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0021 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0022 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0023 }}
        </div>
      </div>
      <!-- 8 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0024 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0025 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0026 }}
        </div>
      </div>
      <!-- 9 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0027 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0028 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0029 }}
        </div>
      </div>
      <!-- 10 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0030 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0031 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0032 }}
        </div>
      </div>
      <!-- 11 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0033 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0034 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHTML]="FLang.L0035"
        ></div>
      </div>
      <!-- 12 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0036 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0037 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0038 }}
        </div>
      </div>
      <!-- 13 -->
      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0039 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0040 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0041 }}
        </div>
      </div>
    </div>
  </div>
</div>
