<div class="bookmark-top" *ngIf="type.includes('/travel-insurance')">
  <ul class="nav nav-pills commodity-tab" role="tablist">
    <li class="">
      <a
        class="nav-link active pointer"
        data-toggle="pill"
        data-target="#commodity-one"
        role="tab"
        aria-controls="commodity-one"
        aria-selected="true"
        (click)="tagUrl(1)"
      >
        {{ FLang.D03.N0001 }}
      </a>
    </li>
    <li>
      <a
        class="nav-link pointer"
        data-toggle="pill"
        data-target="#commodity-two"
        role="tab"
        aria-controls="commodity-two"
        aria-selected="false"
        (click)="tagUrl(2)"
      >
        {{ FLang.D03.N0002 }}
      </a>
    </li>
  </ul>
</div>

<header class="fixed-top">
  <ng-template [ngIf]="!FMarqueeShow">
    <app-news-message
      (FMarqueeCloseStatus)="whenMarqueeClose()"
      [FMessage]="FMarqueeMsg"
    ></app-news-message>
  </ng-template>
  <div class="header-main">
    <div class="header-top">
      <div class="container">
        <div class="d-flex">
          <!-- web menu top  -->
          <div class="justify-content-start mr-auto align-self-center">
            <a routerLink="/" aria-current="page" class="logo">
              <img
                src="assets/img/logo.png"
                alt="Phi Nhân Thọ Cathay Việt Nam"
                srcset="assets/img/logo@2x.png 2x"
                class="img-fluid"
              />
            </a>
          </div>
          <div class="justify-content-end align-self-end d-none d-lg-block">
            <ul class="d-inline-block search-box">
              <li class="search">
                <div
                  class="search-icon collapsed"
                  data-toggle="collapse"
                  data-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  <i class="icons-ic-search-s i-icon i-search"></i>
                  <i class="icons-ic-cancel-s i-icon i-cancel"></i>
                </div>
              </li>
              <li>
                <a routerLink="/help" [queryParams]="{ type: 'question' }">{{
                  this.FLang.A04.L0042
                }}</a>
              </li>
            </ul>
            <div class="language">
              <ul>
                <li [class.active]="languageStatus === 'VN'">
                  <a (click)="changeLanguage('VN')">VN</a>
                </li>
                <li [class.active]="languageStatus === 'EN'">
                  <a (click)="changeLanguage('EN')">EN</a>
                </li>
                <!-- <li [class.active]="languageStatus === 'zh-TW'">
                  <a (click)="changeLanguage('zh-TW')">TW</a>
                </li> -->

                <ng-container *ngIf="!checklogin()">
                  <li>
                    <a routerLink="/login" (click)="goMember()">{{
                      this.FLang.A04.L0052
                    }}</a>
                  </li>
                </ng-container>
                <ng-container *ngIf="checklogin()">
                  <li>
                    <a (click)="doLogout()">{{ this.FLang.A04.L0051 }}</a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <!-- web menu top end-->
          <!-- mob menu top -->
          <div class="justify-content-end align-self-center d-lg-none">
            <a
              class="btn-radius btn-green bg-secondary-gradient"
              (click)="goOnlineInsurance()"
              >{{ this.FLang.A04.L0044 }}</a
            >
            <!-- routerLink="/online-insurance" -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="icons-ic-menu i-icon" (click)="defaultExpand()"></i>
            </button>
            <!-- mob top end-->
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <!-- web menu bottom-->
      <div class="menu-web d-none d-lg-block">
        <div class="container">
          <div class="d-flex">
            <div class="justify-content-start mr-auto align-self-center">
              <ul class="">
                <li
                  class="nav-item"
                  (mouseenter)="hoverOpenMenu('hideMenu1')"
                  (mouseleave)="hoverHideMenu('hideMenu1')"
                  (click)="openMenu('hideMenu1')"
                >
                  <!-- 個人商品 -->
                  <span class="nav-link">{{ FLang.A04.L0001 }}</span>
                  <div class="img-writ" id="hideMenu1">
                    <div class="img-writ-content">
                      <div class="row">
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/car-insurance">
                            <img
                              src="assets/img/header-menu/insurance-types-1.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/insurance-types-1@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0001_.s001 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/motor-insurance">
                            <img
                              src="assets/img/header-menu/insurance-types-2.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/insurance-types-2@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0001_.s002 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a (click)="travelUrl()">
                            <img
                              src="assets/img/header-menu/insurance-types-3.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/insurance-types-3@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0001_.s003 }}</div>
                          </a>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/injury-insurance">
                            <img
                              src="assets/img/header-menu/insurance-types-4.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/insurance-types-4@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0001_.s004 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/house-insurance">
                            <img
                              src="assets/img/header-menu/insurance-types-5.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/insurance-types-5@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0001_.s005 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        ></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li
                  class="nav-item"
                  (mouseenter)="hoverOpenMenu('hideMenu2')"
                  (mouseleave)="hoverHideMenu('hideMenu2')"
                  (click)="openMenu('hideMenu2')"
                >
                  <span class="nav-link">{{ FLang.A04.L0002 }}</span>
                  <div class="img-writ" id="hideMenu2">
                    <div class="img-writ-content">
                      <div class="row">
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a
                            routerLink="/online-insurance/engineering-insurance"
                          >
                            <img
                              src="assets/img/header-menu/commercial-types-1.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/commercial-types-1@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0002_.s001 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/liability-insurance">
                            <img
                              src="assets/img/header-menu/commercial-types-2.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/commercial-types-2@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0002_.s002 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/property-insurance">
                            <img
                              src="assets/img/header-menu/commercial-types-3.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/commercial-types-3@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0002_.s003 }}</div>
                          </a>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/online-insurance/cargo-insurance">
                            <img
                              src="assets/img/header-menu/commercial-types-4.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/commercial-types-4@2x.png 2x
                              "
                            />
                            <div [innerHtml]="FLang.A04.L0002_.s004"></div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        ></div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        ></div>
                      </div>
                    </div>
                    <!-- <div class="menu-more">KHÁC</div> -->
                  </div>
                </li>
                <li
                  class="nav-item"
                  (mouseenter)="hoverOpenMenu('hideMenu3')"
                  (mouseleave)="hoverHideMenu('hideMenu3')"
                  (click)="openMenu('hideMenu3')"
                  id="hideMenu"
                >
                  <span class="nav-link">{{ FLang.A04.L0003 }}</span>
                  <div class="img-list" id="hideMenu3">
                    <div class="img-list-content">
                      <div class="row">
                        <div class="col-3">
                          <h4>{{ FLang.A04.L0008 }}</h4>
                          <ul>
                            <li>
                              <a
                                routerLink="/member/my-order"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0003_.s001 }}</a
                              >
                            </li>
                            <li>
                              <a
                                routerLink="/member/my-policy"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0003_.s002 }}</a
                              >
                            </li>
                            <li>
                              <a
                                data-target="#"
                                (click)="onPolicyChange($event)"
                              >
                                {{ FLang.A04.L0003_.s003 }}
                              </a>
                            </li>
                            <li>
                              <a data-target="#" (click)="onRenewal($event)">
                                {{ FLang.A04.L0003_.s004 }}
                              </a>
                            </li>
                            <li>
                              <a data-target="#" (click)="goSearh($event)">
                                {{ FLang.A04.L0003_.s005 }}
                              </a>
                            </li>
                          </ul>
                          <img
                            src="assets/img/insurance-service-1@2x.png"
                            alt=""
                          />
                        </div>
                        <div class="col-3">
                          <h4>{{ FLang.A04.L0013 }}</h4>
                          <ul>
                            <li>
                              <a
                                routerLink="/member/claim"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0014 }}</a
                              >
                            </li>
                            <li>
                              <a
                                routerLink="/member/claim/search"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0015 }}</a
                              >
                            </li>
                          </ul>
                          <img
                            src="assets/img/insurance-service-2@2x.png"
                            alt=""
                          />
                        </div>
                        <div class="col-3">
                          <h4>{{ FLang.A04.L0016 }}</h4>
                          <ul>
                            <li>
                              <a
                                routerLink="/member/maintain"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0016_.s001 }}</a
                              >
                            </li>
                            <li>
                              <a
                                routerLink="/login/change-password"
                                (click)="hideMenu($event)"
                                >{{ FLang.A04.L0016_.s002 }}</a
                              >
                            </li>
                            <li>
                              <a
                                class="link"
                                (click)="routerLink($event, '/member/verify')"
                                >{{ FLang.A04.L0016_.s003 }}</a
                              >
                            </li>
                          </ul>
                          <img
                            src="assets/img/insurance-service-3@2x.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <a routerLink="/member" (click)="hideMenu($event)"
                      ><div class="menu-more">{{ FLang.A04.L0020 }}</div></a
                    >
                  </div>
                </li>
                <li
                  class="nav-item"
                  (mouseenter)="hoverOpenMenu('hideMenu4')"
                  (mouseleave)="hoverHideMenu('hideMenu4')"
                  (click)="openMenu('hideMenu4')"
                >
                  <span class="nav-link">{{ FLang.A04.L0004 }}</span>
                  <div class="img-writ" id="hideMenu4">
                    <div class="img-writ-content line-none">
                      <div class="row">
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/about">
                            <img
                              src="assets/img/header-menu/about-types-1.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/about-types-1@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0004_.s001 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/news" [queryParams]="{ type: 'all' }">
                            <img
                              src="assets/img/header-menu/about-types-3.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/about-types-3@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0018 }}</div>
                          </a>
                        </div>
                        <div
                          class="col-4 category-grid"
                          (click)="hideMenu($event)"
                        >
                          <a routerLink="/about/opening">
                            <img
                              src="assets/img/header-menu/about-types-2.png"
                              alt=""
                              srcset="
                                assets/img/header-menu/about-types-2@2x.png 2x
                              "
                            />
                            <div>{{ FLang.A04.L0019 }}</div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="justify-content-end align-self-center">
              <a (click)="goMember()" class="btn-radius btn-white mr-10">{{
                this.FLang.A04.L0043
              }}</a>
              <a
                class="btn-radius btn-green bg-secondary-gradient"
                (click)="goOnlineInsurance()"
                >{{ this.FLang.A04.L0044 }}</a
              >
              <!-- routerLink="/online-insurance" -->
            </div>
          </div>
        </div>
      </div>
      <div class="search-area collapse fade" id="collapseExample">
        <div class="container">
          <form class="form" (submit)="doSearch()">
            <input
              type="keyword"
              [(ngModel)]="FSearch"
              name="PCsearch"
              (keyup)="doSearchEnter($event)"
              [attr.placeholder]="FLang.A04.L0021"
            />
            <a role="button">
              <div class="btn btn-submit" (click)="doSearch()">
                <i class="icons-ic-search-l i-icon"></i>
              </div>
            </a>
          </form>
          <hr />
          <div class="recommand">
            {{ FLang.A04.L0022 }}
            <a class="keyword pointer" (click)="doSearch(FLang.A03.L0001)">{{
              FLang.A03.L0001
            }}</a
            ><a class="keyword pointer" (click)="doSearch(FLang.A03.L0002)">{{
              FLang.A03.L0002
            }}</a
            ><a class="keyword pointer" (click)="doSearch(FLang.A03.L0003)">{{
              FLang.A03.L0003
            }}</a
            ><a class="keyword pointer" (click)="doSearch(FLang.A03.L0004)">{{
              FLang.A03.L0004
            }}</a
            ><a class="keyword pointer" (click)="doSearch(FLang.A03.L0005)">{{
              FLang.A03.L0005
            }}</a>
          </div>
        </div>
      </div>
      <!-- web menu bottom end-->

      <!-- mob menu bottom -->
      <div class="menu-mob d-lg-none collapse" id="navbarSupportedContent">
        <div class="ctrlbar">
          <button
            class="close"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="icons-ic-delete i-icon"></i>
          </button>
          <form class="search" (submit)="doSearch()">
            <label (click)="doSearch()"
              ><i class="icons-ic-search i-icon"></i
            ></label>
            <input
              type="search"
              [attr.placeholder]="FLang.A04.L0021"
              [(ngModel)]="FSearch"
              name="search"
              (keyup)="doSearchEnter($event)"
            />
          </form>
        </div>
        <div class="item">
          <div
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="onRenewal()"
          >
            <img
              src="assets/img/header-menu/ic-menu-renewal.png"
              alt=""
              srcset="assets/img/header-menu/ic-menu-renewal@2x.png 2x"
            />
            <div>
              {{ FLang.A04.L0045 }}
              <span class="d-inline-block">{{ FLang.A04.L0046 }}</span>
            </div>
          </div>
          <div
            routerLink="/member/claim"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img
              src="assets/img/header-menu/ic-menu-claim.png"
              alt=""
              srcset="assets/img/header-menu/ic-menu-claim@2x.png 2x"
            />
            <div>
              {{ FLang.A04.L0047 }}
              <span class="d-inline-block">{{ FLang.A04.L0048 }}</span>
            </div>
          </div>
          <div
            routerLink="/member"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img
              src="assets/img/header-menu/ic-menu-member.png"
              alt=""
              srcset="assets/img/header-menu/ic-menu-member@2x.png 2x"
            />
            <div>
              {{ FLang.A04.L0049 }}
              <span class="d-inline-block">{{ FLang.A04.L0050 }}</span>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <div class="navbar-collapse">
            <ul class="navbar-nav">
              <!-- 個人商品 -->
              <li class="nav-item dropdown show">
                <a
                  role="button"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                  id="navbarDropdownMenuLink1"
                >
                  {{ FLang.A04.L0001 }}
                  <i class="icons-ic-menu-arrow-up i-icon i-up"></i>
                  <i class="icons-ic-menu-arrow-down i-icon i-down"></i>
                </a>
                <div
                  class="dropdown-menu show"
                  aria-labelledby="navbarDropdownMenuLink1"
                  style="display: block"
                >
                  <ul class="navbar-nav">
                    <li
                      class="nav-item"
                      *ngFor="let item of FPLUItem; let i = index"
                    >
                      <a
                        class="nav-link"
                        (click)="goPluUrl(i)"
                        [innerHtml]="item.itemName"
                      ></a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 企業商品 -->
              <li class="nav-item dropdown">
                <a
                  role="button"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  id="navbarDropdownMenuLink2"
                >
                  {{ FLang.A04.L0002 }}
                  <i class="icons-ic-menu-arrow-up i-icon i-up"></i>
                  <i class="icons-ic-menu-arrow-down i-icon i-down"></i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink2"
                >
                  <ul class="navbar-nav">
                    <li
                      class="nav-item"
                      *ngFor="let item of FBussinessPlu; let i = index"
                    >
                      <a
                        class="nav-link"
                        (click)="goBPluUrl(i)"
                        [innerHtml]="item.itemName"
                      ></a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 保單專區 -->
              <li class="nav-item dropdown">
                <a
                  role="button"
                  class="nav-link dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ FLang.A04.L0003 }}
                  <i class="icons-ic-menu-arrow-up i-icon i-up"></i>
                  <i class="icons-ic-menu-arrow-down i-icon i-down"></i>
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <!-- 保單專區 -->
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"
                      >{{ FLang.A04.L0008 }}
                      <i class="icons-ic-menu-arrow-up-black i-icon i-up"></i>
                      <i
                        class="icons-ic-menu-arrow-down-black i-icon i-down"
                      ></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let item of FOrder; let i = index">
                        <a class="dropdown-item" (click)="goOrderUrl(i)">
                          {{ item.itemName }}</a
                        >
                      </li>
                    </ul>
                  </li>
                  <!-- 理賠專區 -->
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"
                      >{{ FLang.A04.L0013 }}
                      <i class="icons-ic-menu-arrow-up-black i-icon i-up"></i>
                      <i
                        class="icons-ic-menu-arrow-down-black i-icon i-down"
                      ></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let item of FClaim; let i = index">
                        <a class="dropdown-item" (click)="goClaimUrl(i)">
                          {{ item.itemName }}</a
                        >
                      </li>
                    </ul>
                  </li>
                  <!-- 保戶管理 -->
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"
                      >{{ FLang.A04.L0016 }}
                      <i class="icons-ic-menu-arrow-up-black i-icon i-up"></i>
                      <i
                        class="icons-ic-menu-arrow-down-black i-icon i-down"
                      ></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let item of FMember; let i = index">
                        <a class="dropdown-item" (click)="goMemberUrl(i)">
                          {{ item.itemName }}</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- 關於國泰 -->
              <li class="nav-item dropdown">
                <a
                  role="button"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  id="navbarDropdownMenuLink4"
                >
                  {{ FLang.A04.L0004_.s002 }}
                  <i class="icons-ic-menu-arrow-up i-icon i-up"></i>
                  <i class="icons-ic-menu-arrow-down i-icon i-down"></i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink4"
                >
                  <ul class="navbar-nav">
                    <li
                      class="nav-item"
                      *ngFor="let item of FAbout; let i = index"
                    >
                      <a class="nav-link" (click)="goAboutUrl(i)">
                        {{ item.itemName }}</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 幫助中心 -->
              <li class="nav-item">
                <a class="nav-link" (click)="goHelpUrl()">{{
                  FLang.A04.L0017
                }}</a>
              </li>
            </ul>
            <ng-container *ngIf="checklogin()">
              <div class="mob-logout">
                <a (click)="doLogout()" class="btn-radius btn-white mr-10">{{
                  this.FLang.A04.L0051
                }}</a>
              </div>
            </ng-container>
          </div>
        </nav>
        <div class="language">
          <ul>
            <li [class.active]="languageStatus === 'VN'">
              <a (click)="changeLanguage('VN')">VN</a>
            </li>
            <li [class.active]="languageStatus === 'EN'">
              <a (click)="changeLanguage('EN')">EN</a>
            </li>
            <!-- <li [class.active]="languageStatus === 'zh-TW'">
              <a (click)="changeLanguage('zh-TW')">TW</a>
            </li> -->
          </ul>
        </div>
      </div>
      <!-- mob menu bottom  end-->
    </div>
  </div>
</header>

<!--  -->
<app-choose-insurance
  (Action)="onInsuranceChangingTip($event)"
></app-choose-insurance>

<!-- 保單變更 -->
<app-change-insurance-tip
  (Action)="goInsuranceChanging()"
></app-change-insurance-tip>

<app-renew-insurance (Action)="goInsuranceRenew($event)"></app-renew-insurance>
