<!-- tab-card -->
<div
  class="tab-link first-arrow-open collapsed custom_text_align"
  [id]="titleId"
  data-toggle="collapse"
  [attr.data-target]="titleDataTarget"
  aria-expanded="false"
  [attr.aria-controls]="titleAriaControls"
>
  <div [innerHTML]="titleContent"></div>
</div>

<div
  [id]="infoId"
  class="collapse first-content-open custom_text_align"
  [attr.aria-labelledby]="infoAriaLabelledby"
  data-parent="#accordionQuestion"
>
  <div
    (click)="contentClickHandler($event)"
    style="white-space: pre-wrap; line-height: 0"
    [innerHTML]="infoContent"
  ></div>
</div>
<!-- tab-card end-->
