<main>
  <div class="com-content">
    <app-breadcrumb></app-breadcrumb>
    <section class="process-step">
      <ul class="d-flex">
        <li class="active">
          <div
            class="number"
            [class.d-none]="FStep === 'personInfo' || FStep === 'payment'"
          >
            1
          </div>
          <div class="number" [class.d-none]="FStep === 'calcAmt'">
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>{{ FLang.C03.step1.L0035 }}</div>
        </li>
        <li [class.active]="FStep === 'personInfo' || FStep === 'payment'">
          <div class="number" [class.d-none]="FStep === 'payment'">2</div>
          <div
            class="number"
            [class.d-none]="FStep === 'personInfo' || FStep === 'calcAmt'"
          >
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>{{ FLang.C03.step1.L0014 }}</div>
        </li>
        <li [class.active]="FStep === 'payment' && FPayResult">
          <div
            class="number"
            [class.d-none]="FStep === 'payment' && FPayResult"
          >
            3
          </div>
          <div
            class="number"
            [class.d-none]="
              FStep === 'personInfo' || FStep === 'calcAmt' || !FPayResult
            "
          >
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>
            {{ FLang.C03.step1.L0015 }}
          </div>
        </li>
      </ul>
    </section>
    <!-- step 1 -->

    <section class="sectLg" *ngIf="FStep === 'calcAmt'">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data form-data-bot">
          <div class="title">{{ FLang.C03.step1.L0013 }}</div>
          <form *ngIf="group" [formGroup]="group">
            <div class="advisory-content">
              <div class="adv-box-item">
                <!-- 車種選擇 -->

                <div class="form-group select-search simple">
                  <label>{{ FLang.C03.step1.L0001 }}</label>
                  <div
                    class="dropdown"
                    [class.status-error-extend]="
                      controls.car_vkd.touched && controls.car_vkd.invalid
                    "
                  >
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">
                        <span [class.text-gray-gr]="carNumber < 0">
                          {{ carFilterItems() }}
                        </span>
                      </div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter"
                    >
                      <a
                        class="dropdown-item"
                        *ngFor="let item of carItemsList; index as i"
                        (click)="onCarFilterClick(i)"
                        >{{ item.zhName }}</a
                      >
                    </div>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      controls.car_vkd.untouched ||
                      (!controls.car_vkd.untouched && controls.car_vkd.valid)
                    "
                  >
                    {{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS004 }}
                  </small>
                </div>
                <!-- 類型選擇 -->
                <div
                  class="form-group select-search simple"
                  *ngIf="[2, 3].includes(carNumber)"
                >
                  <label>{{ FLang.C03.step1.L0002 }}</label>
                  <div
                    class="dropdown"
                    [class.status-error-extend]="
                      controls.car_ckd.touched && controls.car_ckd.invalid
                    "
                  >
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">
                        <span [class.text-gray-gr]="insuranceNumber < 0">
                          {{ onUseFilterNumber() }}</span
                        >
                      </div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter2"
                    >
                      <a
                        class="dropdown-item"
                        *ngFor="let item of insuranceItemsList; index as i"
                        (click)="onUseClick(i)"
                        >{{ item.zhName }}</a
                      >
                    </div>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      controls.car_ckd.untouched ||
                      (!controls.car_ckd.untouched && controls.car_ckd.valid)
                    "
                    >{{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS005 }}
                  </small>
                </div>
                <div
                  class="form-group"
                  [class.status-error]="
                    controls.car_people.dirty &&
                    controls.car_people.touched &&
                    controls.car_people.invalid
                  "
                >
                  <label>{{ FLang.C03.step1.L0003 }}</label>
                  <div class="from-row">
                    <input
                      type="number"
                      class="form-control ccc"
                      id="car_people"
                      [placeholder]="
                        FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS021
                      "
                      formControlName="car_people"
                      (input)="changePeopleItemsList($event)"
                    />
                    <i class="icons-ic-form-del i-icon"></i>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      !controls.car_people.dirty ||
                      controls.car_people.valid ||
                      controls.car_people.untouched
                    "
                  >
                    {{ getErrors(controls.car_people) }}
                  </small>
                </div>
                <div
                  class="form-group icon-date"
                  [class.status-error]="
                    controls.car_procDate.dirty &&
                    controls.car_procDate.touched &&
                    controls.car_procDate.invalid &&
                    controls.car_procDateEnd.dirty &&
                    controls.car_procDateEnd.touched &&
                    controls.car_procDateEnd.invalid
                  "
                >
                  <!-- <label>{{ FLang.C03.step1.L0004 }}</label> -->
                  <div class="from-row row">
                    <div class="col-md-6 col-sm-12 text-left date_contact">
                      <app-datepicker
                        label="{{ FLang.C03.step1.L0004 }}"
                        [placeholder]="
                          FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS006
                        "
                        [value]="Fdate1"
                        [xdisabled]="FTrafficType"
                        [config]="{
                          maxDate: FMaxDate,
                          minDate: FMinDate
                        }"
                        xid="date1"
                        [xReadonly]="FReadonly"
                        (getDate)="getDate($event)"
                      ></app-datepicker>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                      <div style="margin-top: 4px"></div>
                      <app-datepicker
                        [placeholder]="
                          FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS006
                        "
                        [value]="Fdate2"
                        [xdisabled]="FDate2Dis"
                        [config]="{
                          maxDate: FMax2Date,
                          minDate: FMin2Date
                        }"
                        xid="date2"
                        [xReadonly]="FReadonly"
                        (getDate)="getDateEnd($event)"
                      ></app-datepicker>
                    </div>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      !controls.car_procDate.dirty ||
                      controls.car_procDate.untouched ||
                      controls.car_procDate.valid ||
                      !controls.car_procDateEnd.dirty ||
                      controls.car_procDateEnd.untouched ||
                      controls.car_procDateEnd.valid
                    "
                  >
                    {{ FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS001 }}
                  </small>
                </div>
                <div class="form-group radio_year">
                  <div class="choose-box choo-sub ml-0" style="display: block">
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year1"
                          type="radio"
                          name="r_year"
                          value="1"
                          formControlName="r_year"
                        />
                        <label for="year1">{{ FLang.C03.step1.L0036 }}</label>
                      </div>
                    </div>
                    <!-- <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year1_5"
                          type="radio"
                          name="r_year"
                          value="2"
                          formControlName="r_year"
                        />
                        <label for="year1_5">{{ FLang.C03.step1.L0037 }}</label>
                      </div>
                    </div> -->
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year2"
                          type="radio"
                          name="r_year"
                          value="3"
                          formControlName="r_year"
                        />
                        <label for="year2">{{ FLang.C03.step1.L0038 }}</label>
                      </div>
                    </div>
                    <!-- <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year2_5"
                          type="radio"
                          name="r_year"
                          value="4"
                          formControlName="r_year"
                        />
                        <label for="year2_5">{{ FLang.C03.step1.L0039 }}</label>
                      </div>
                    </div> -->
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year_custom"
                          type="radio"
                          name="r_year"
                          value="99"
                          formControlName="r_year"
                        />
                        <label for="year_custom">{{
                          FLang.C03.step1.L0041
                        }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-orange" (click)="calcTest(1)">
                  {{ FLang.C03.step1.L0012 }}
                </button>
              </div>
            </div>
          </form>
          <div
            #ly_pluInfo
            class="form-proposal"
            [class.d-none]="this.clickNumber !== 1"
          >
            <div class="program-box mt-0">
              <div class="title">
                {{ FLang.C03.step1.L0016 }}
              </div>
              <div class="program-card">
                <div class="program">
                  <div class="d-flex mr-auto pro-title">
                    <div>
                      <div class="item">{{ FLang.C03.step1.L0017 }}</div>
                    </div>
                    <div class="ml-2">
                      <i
                        class="icons-ic-info-2 i-icon pointer"
                        (click)="compulsoryInsuranceAlert()"
                      ></i>
                    </div>
                  </div>
                  <div class="row item-row align-items-center">
                    <div class="col-sm-12 col-md-3 text-center">
                      <img
                        src="assets/img/online/img-insurance-car.png"
                        alt=""
                        srcset="assets/img/online/img-insurance-car@2x.png 2x"
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-sm-12 col-md-9 order-md-first">
                      <div class="d-flex flex-column flex-md-row program-row">
                        <div class="mr-auto pro-plan">
                          {{ FLang.C03.step1.L0018 }}
                        </div>
                        <div class="pro-item">{{ FLang.C03.step1.L0019 }}</div>
                      </div>

                      <div class="d-flex flex-column flex-md-row program-row">
                        <div class="mr-auto pro-plan">
                          {{ FLang.C03.step1.L0020 }}
                        </div>
                        <div class="pro-item">{{ FLang.C03.step1.L0021 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="program-box">
              <div class="title">{{ FLang.C03.step1.L0029 }}</div>
              <div class="program-card">
                <div class="program">
                  <div class="d-flex mr-auto pro-title">
                    <div class="choose-box">
                      <input
                        type="checkbox"
                        class="big-checkbox"
                        name="gender"
                        [(ngModel)]="plusPurchase"
                        [ngModelOptions]="{ standalone: true }"
                        (click)="attrPolicy()"
                      /><label [innerHtml]="FLang.C03.step1.L0028"></label>
                    </div>
                    <div class="ml-2">
                      <i
                        class="icons-ic-info-2 i-icon pointer"
                        (click)="modalShowPass()"
                      ></i>
                    </div>
                  </div>
                  <div class="advisory-content">
                    <div class="adv-box-item p-0">
                      <div class="form-mul">
                        <div class="row mb-2 no-gutters">
                          <div class="col-md-6 from-one">
                            <div class="select-search simple">
                              <label>{{ FLang.C03.step1.L0027 }}</label>
                              <div class="dropdown">
                                <button
                                  class="btn dropdown-toggle w-100"
                                  type="button"
                                  id="dropdownFilter3"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                  [class.disabled]="!plusPurchase"
                                  [style]="styleBackground(plusPurchase)"
                                >
                                  <div class="filterActiveText">
                                    <span
                                      [class.text-gray-gr]="
                                        this.amountNumber < 0
                                      "
                                      >{{
                                        amountFilterItems(this.amountNumber)
                                      }}</span
                                    >
                                  </div>
                                </button>
                                <div
                                  class="dropdown-menu w-100 filter tab"
                                  aria-labelledby="dropdownFilter3"
                                >
                                  <a
                                    class="dropdown-item"
                                    *ngFor="
                                      let item of amountItemsList;
                                      index as i
                                    "
                                    (click)="amountFilterNumber(i)"
                                    >{{ item.option }}</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 from-two">
                            <div class="select-search simple">
                              <label>{{ FLang.C03.step1.L0026 }}</label>
                              <div class="from-row">
                                <input
                                  type="number"
                                  class="form-control people_style"
                                  disabled
                                  [value]="
                                    peopleItemsList[this.peopleNumber] &&
                                    peopleItemsList[this.peopleNumber].option
                                  "
                                />
                              </div>
                              <!-- <div class="dropdown">
                                <button
                                  class="btn dropdown-toggle w-100"
                                  type="button"
                                  id="dropdownFilter4"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                  [class.disabled]="plusPurchase === false"
                                  [style]="styleBackground(plusPurchase)"
                                >
                                  <div class="filterActiveText">
                                    <span
                                      [ngClass]="styleClass(this.peopleNumber)"
                                      >{{
                                        peopleFilterItems(this.peopleNumber)
                                      }}</span
                                    >
                                  </div>
                                </button>
                                <div
                                  class="dropdown-menu w-100 filter tab"
                                  aria-labelledby="dropdownFilter4"
                                >
                                  <a
                                    class="dropdown-item"
                                    *ngFor="
                                      let item of peopleItemsList;
                                      index as i
                                    "
                                    (click)="peopleFilterNumber(i)"
                                    >{{ item.option }}</a
                                  >
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template [ngIf]="this.amountNumber >= 0">
                    <div class="d-flex flex-column flex-md-row program-row">
                      <div class="mr-auto pro-plan">
                        {{ FLang.C03.step1.L0018 }}
                      </div>
                      <div class="pro-item">
                        {{ FLang.C03.step1.L0023[0] }}
                        {{
                          this.amountItemsList[this.amountNumber].number
                            | numberSuffix: FLangType
                        }}{{ FLangType === 'vi-VN' ? FLang.C03.step1.L0023[1]:'' }}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container total-con-p">
        <div class="total-content fix-bottom">
          <div class="bg-white-block form-data total-from">
            <div class="total-link-left d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-link-right d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-box">
              <div class="total-img d-md-inline-block d-none">
                <img
                  src="assets/img/auth_registersm3x.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="total-tit">{{ FLang.C03.step1.L0024 }}</div>
              <div class="sum">
                {{ FAmount | thousands }}
                <span> đ</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a
              [class.disabled]="!checkpaysomething()"
              class="btn btn-primary"
              (click)="goStep('2')"
              >{{ FLang.C03.step1.L0025 }}
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- step 2 -->
    <section class="sectLg" *ngIf="FStep === 'personInfo'">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data" id="anchorContent">
          <a Name="step2"></a>
          <div class="title">{{ FLang.C03.step2.L0001 }}</div>
          <!-- 個人資料 -->
          <app-userinfo
            #ly_userinfo
            [data]="{ xType: FType, xchannel: 'car', errorMsg: FErrorMail }"
            (xUserInfoChange)="setUsertoGroup($event)"
            [(xSyncUserinfo)]="FSyncUserinfo"
            (xAction)="userinfo_action($event)"
          ></app-userinfo>

          <!-- 車體資料 -->
          <div class="add-box" id="lyc_carinfo">
            <div class="title">{{ FLang.C03.step2.L0015 }}</div>
            <form *ngIf="group" [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    class="form-group mb-2"
                    [class.status-error]="
                      controls.car_name.dirty &&
                      controls.car_name.touched &&
                      controls.car_name.invalid
                    "
                  >
                    <label>{{ FLang.C03.step2.L0016 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        [attr.placeholder]="
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS014
                        "
                        formControlName="car_name"
                        appLimitInput
                        [replace]="'vn'"
                        (input)="changeToUpperCase($event)"
                      />
                      <i
                        (click)="controls.car_name.setValue('')"
                        class="icons-ic-form-del i-icon"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.car_name.dirty ||
                        controls.car_name.untouched ||
                        controls.car_name.valid ||
                        FClickSameName
                      "
                    >
                      {{ getErrors(controls.car_name) }}
                    </small>
                  </div>
                  <div class="mb-30">
                    <div class="choose-box">
                      <input
                        type="checkbox"
                        class="big-checkbox"
                        name="gender"
                        [disabled]="!controls.name.value"
                        [(ngModel)]="FClickSameName"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="sameName(FClickSameName, 'car_name')"
                      /><label [class.text-gray-gr]="!controls.name.value">{{
                        FLang.C03.step2.L0018
                      }}</label>
                    </div>
                  </div>
                  <div
                    class="form-group"
                    [class.status-error]="
                      controls.car_license_plate.dirty &&
                      controls.car_license_plate.touched &&
                      controls.car_license_plate.invalid
                    "
                  >
                    <label>{{ FLang.C03.step2.L0019 }} </label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        [attr.placeholder]="
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS015
                        "
                        formControlName="car_license_plate"
                        appCarNoformat
                        [xtype]="'car'"
                      />
                      <i
                        (click)="controls.car_license_plate.setValue('')"
                        class="icons-ic-form-del i-icon"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.car_license_plate.dirty ||
                        controls.car_license_plate.untouched ||
                        controls.car_license_plate.valid
                      "
                    >
                      {{ getErrors(controls.car_license_plate) }}
                    </small>
                  </div>
                  <div
                    class="form-group"
                    [class.status-error]="
                      controls.car_body_number.dirty &&
                      controls.car_body_number.touched &&
                      controls.car_body_number.invalid
                    "
                  >
                    <label>{{ FLang.C03.step2.L0021 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        [attr.placeholder]="
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS016
                        "
                        formControlName="car_body_number"
                      />
                      <i
                        (click)="controls.car_body_number.setValue('')"
                        class="icons-ic-form-del i-icon"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.car_body_number.dirty ||
                        controls.car_body_number.untouched ||
                        controls.car_body_number.valid
                      "
                    >
                      {{ getErrors(controls.car_body_number) }}
                    </small>
                  </div>
                  <div
                    class="form-group"
                    [class.status-error]="
                      controls.car_engine_number.dirty &&
                      controls.car_engine_number.touched &&
                      controls.car_engine_number.invalid
                    "
                  >
                    <label>{{ FLang.C03.step2.L0023 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        [attr.placeholder]="
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS017
                        "
                        formControlName="car_engine_number"
                      />
                      <i
                        (click)="controls.car_engine_number.setValue('')"
                        class="icons-ic-form-del i-icon"
                      ></i>
                    </div>

                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.car_engine_number.dirty ||
                        controls.car_engine_number.untouched ||
                        controls.car_engine_number.valid
                      "
                    >
                      {{ getErrors(controls.car_engine_number) }}
                    </small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="add-box" id="ly_paymentbox">
            <div class="title">{{ FLang.C03.step2.L0025 }}</div>
            <div class="payment">
              <div
                class="row no-gutters payment-row"
                [class.mb-05]="FPayNoError && paymentNumber < 0"
              >
                <div
                  [class.status-error-box]="FPayNoError && paymentNumber < 0"
                  class="col payment-box"
                  [class.active]="this.paymentNumber === i"
                  *ngFor="let item of payList; index as i"
                  (click)="paymentSwitch(i)"
                >
                  <div
                    class="payment-data"
                    data-toggle="modal"
                    [attr.data-target]="dataTarget(i)"
                  >
                    <div class="payment-icon">
                      <i [ngClass]="item.activeIcon"></i>
                      <i [ngClass]="item.defaultIcon"></i>
                    </div>
                    <div>{{ item.title }}</div>
                  </div>
                </div>
              </div>
              <small
                class="form-text form-text-error"
                [class.d-none]="FPayNoError && paymentNumber >= 0"
              >
                {{ FPayNoError }}
              </small>
            </div>
          </div>

          <div class="mx-0">
            <div class="payment" id="ly_agreeContract">
              <div class="choose-box custom_text_align">
                <input
                  type="checkbox"
                  class="big-checkbox"
                  name="gender"
                  [(ngModel)]="agreeContract"
                /><label>
                  {{ FLang.C03.step2.L0026 }}
                  <a target="_blank" class="px-0" href="assets/pdf/Bao hiem bat buoc o to.pdf">{{
                    FLang.C03.step2.L0042
                  }}</a
                  >,
                  <ng-template [ngIf]="plusPurchase">
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Bao hiem tu nguyen xe o to.pdf"
                      >{{ FLang.C03.step2.L0043 }}</a
                    >,
                  </ng-template>
                  <a
                    target="_blank"
                    class="px-0"
                    href="assets/pdf/Chính sách quyền riêng tư.pdf"
                    >{{ FLang.C03.step2.L0028 }}</a
                  >
                  {{ FLang.F012.L0040 }}
                  <a
                    target="_blank"
                    class="px-0"
                    href="assets/pdf/Chính sách bảo mật.pdf"
                    >{{ FLang.C03.step2.L0029 }}</a
                  >.
                  {{ FLang.C03.step2.L0044 }}
                </label>
                <small
                  class="form-text form-text-error"
                  [class.d-none]="FAgreeError && agreeContract"
                >
                  {{ FAgreeError }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container total-con-p">
        <div class="total-content fix-bottom">
          <div class="bg-white-block form-data total-from">
            <div class="total-link-left d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-link-right d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-box">
              <div class="total-img d-md-inline-block d-none">
                <img
                  src="assets/img/auth_registersm3x.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="total-tit">{{ FLang.C03.step2.L0030 }}</div>
              <div class="sum">{{ FAmount | thousands }}<span> đ</span></div>
            </div>
          </div>
          <div class="text-center">
            <a (click)="goStep('3')" class="btn btn-primary">{{
              FLang.C03.step2.L0031
            }}</a>
          </div>
        </div>
      </div>
    </section>

    <!-- step 3 -->
    <section class="success-mes" *ngIf="FStep === 'payment'">
      <div class="container remove-width">
        <div class="mes-reg" *ngIf="this.userInfo.seq_no === 0">
          {{ FLang.C03.step3.L0001 }}
        </div>
        <div class="success-img">
          <img src="assets/img/banner-payment2x.png" alt="" class="img-fluid" />
        </div>
        <div class="remark" *ngIf="!FPayResult; else ly_payResult">
          <ng-container *ngIf="FPayTransaction; else ly_PayTransaction">
            <div style="padding: 10px 0">
              {{ FLang.C03.step3.L0011 }}
            </div>
            <div class="text-center">
              <a
                routerLink="/member/my-order"
                replaceUrl="true"
                class="btn btn-white"
                >{{ FLang.C03.step3.L0005 }}</a
              >
            </div>
          </ng-container>
          <ng-template #ly_PayTransaction>{{
            FLang.C03.step3.L0008
          }}</ng-template>
        </div>
        <ng-template #ly_payResult>
          <div class="remark">
            {{ FLang.C03.step3.L0003 }}
            <div class="point">5</div>
            {{ FLang.C03.step3.L0004 }}
          </div>
          <div class="text-center">
            <a routerLink="" class="btn btn-white">{{
              FLang.C04.step3.C0006
            }}</a>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</main>

<div
  class="modal fade notice"
  id="model-Login"
  tabindex="-1"
  aria-labelledby="ModalLabel-08"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C03.step3.T9999 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body p-0">
        <!-- 註冊窗 -->
        <ng-container #content></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- 強制險開窗 -->
<div
  class="modal fade notice"
  id="Modal-48"
  tabindex="-1"
  aria-labelledby="ModalLabel-48"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C03.step3.L0006 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body custom_text_align">
        <div class="service-notice">
          <div class="service-row" [innerHTML]="FLang.C03.step3.L0007"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 乘客險開窗 -->
<div
  class="modal fade notice"
  id="modal_pass"
  tabindex="-1"
  aria-labelledby="ModalLabel-48"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C03.step3.L0009 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body custom_text_align">
        <div class="service-notice">
          <div class="service-row">
            {{ FLang.C03.step3.L0010 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-payment-fail></app-payment-fail> -->
<app-payment-fail (xAction)="FPayTransaction = false"></app-payment-fail>

<app-confirm
  [data]="FConfirm"
  (ActionEvent)="ActionYesNo($event)"
></app-confirm>
