<div
  class="modal fade"
  id="Modal-17"
  tabindex="-1"
  aria-labelledby="ModalLabel-17"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F001.L0020 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="choose-card" *ngFor="let item of FDueSoonCard">
          <a (click)="doSubmit(item)">
            <div class="choose-top">
              <div class="choose-row mr-auto">
                <div>
                  <i
                    class="icons-ic-insurance-car i-icon"
                    [class.icons-ic-insurance-car]="
                      item.prod_pol_code === 'CF02002' ||
                      item.prod_pol_code === 'CF01002' ||
                      item.prod_pol_code === 'CF01007'
                    "
                    [class.icons-ic-insurance-motor]="
                      item.prod_pol_code === 'CF02001' ||
                      item.prod_pol_code === 'CF01001' ||
                      item.prod_pol_code === 'CF01003'
                    "
                  ></i>
                </div>
                <div>
                  <div
                    class="item"
                    [innerHTML]="item.prod_pol_code | pluidName: FLangType"
                  ></div>
                  <div class="detail">{{ item.rgst_no }}</div>
                </div>
              </div>
              <div>
                <i class="icons-ic-arrow-right-g i-icon"></i>
              </div>
            </div>
            <div class="choose-content">
              <div class="choose-content-detail">
                <div class="choose-caption">{{ FLang.F001.L0021 }}</div>
                <div>
                  <span class="keep-same-line">
                    {{ item.pol_dt | cDate: "HH:mm DD/MM/YYYY" }}
                    <span class="white-space-pre-wrap">- </span>
                  </span>
                  <div
                    *ngIf="item.prod_code === 'A'; else carOrMotor"
                    class="keep-same-line"
                  >
                    {{ item.pol_due_dt | cDate: "HH:mm DD/MM/YYYY" }}
                  </div>
                  <ng-template #carOrMotor>
                    <div class="keep-same-line">
                      {{ item.pol_due_dt | cDate: "HH:mm DD/MM/YYYY" }}
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="choose-content-detail">
                <div class="choose-caption">{{ FLang.F001.L0022 }}</div>
                <div>{{ item.pol_renew_no }}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
