<section>
  <div class="container remove-width">
    <div class="row online-flex onlinebg no-gutters">
      <div
        class="col-sm-12 col-md-6"
        [attr.data-filter-content]="item.dataFilter"
        *ngFor="let item of cardList"
      >
        <div class="online-content">
          <div class="row no-gutters online-row">
            <div class="col-md-auto online-photo">
              <img
                [src]="item.defaultImg"
                alt=""
                [srcset]="item.defaultSrcset"
                class="online-photo-img"
              />
              <img
                [src]="item.mobileImg"
                alt=""
                [srcset]="item.mobileSrcset"
                class="online-photo-img-m"
              />
              <div [ngClass]="filterClassStyle(item.name)">
                {{ filterTravel(item.kind) }}
              </div>
            </div>

            <div class="col-md onl-infor">
              <div class="onl-infor-content">
                <label
                  [ngClass]="titleClassStyle(item.name)"
                  [innerHTML]="item.name"
                ></label>
                <h3>{{ item.title }}</h3>
                <p [innerHTML]="item.content"></p>
                <div class="delete">{{ item.price }}</div>
                <div class="discount">{{ item.bonusPrice }}</div>
              </div>
              <div class="text-center">
                <a
                  (click)="switchLink(item.type, item.kind)"
                  class="btn btn-primary"
                  >{{ this.FLang.C0006 }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
