<main>
  <div class="com-content claim-apply-component">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story">
          <img
            src="./assets/img/img-bn-claim.png"
            alt=""
            srcset="./assets/img/img-bn-claim@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="./assets/img/img-bn-claim-m.png"
            alt=""
            srcset="./assets/img/img-bn-claim-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="assets/img/img-banner-shape.png"
            alt=""
            srcset="./assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="caption">
      <div class="container">
        <h1>{{ FLang.F05.F0010 }}</h1>
      </div>
    </div>
    <section class="sectLg service-inform-guarantee">
      <div [formGroup]="group" class="container remove-width form-canta">
        <div class="bg-white-block form-data">
          <div class="title">{{ FLang.F05.F0011 }}</div>
          <div class="adv-box-item">
            <div
              *ngFor="let item of FFlightList; index as i"
              class="choose-card upload-card"
            >
              <div class="choose-top pointer">
                <div class="choose-row mr-auto">
                  <div class="plain-info-left">{{ item.clam_kind_name }}</div>
                  <div class="plain-data">
                    <div class="mb-1">
                      {{ item.flight_no }}
                      ({{ item.flight_date | cDate: "DD/MM/YYYY" }})
                    </div>
                    <div class="area">
                      {{ item.scheduled_departure_airport }}
                      <i class="icons-ic-to-gr i-icon"></i>
                      {{ item.scheduled_arrival_airport }}
                    </div>
                  </div>
                </div>
                <div *ngIf="!FIsFastClaim" (click)="onEditFlightItem(item)">
                  <i class="icons-ic-edit-pen i-icon"></i>
                </div>
              </div>
              <div class="setting s-general">
                <p class="upload-txt">
                  {{ FLang.F05.F0012 }}
                  <span>{{ FLang.F05.F0013 }}</span>
                </p>
                <div class="row no-gutters upload-box">
                  <div
                    *ngIf="item.clam_kind !== 'FC'"
                    class="col-sm-12 col-md-6 col-lg-6"
                  >
                    <div class="upload">
                      <!-- 上傳登機證 -->
                      <div *ngIf="!item.boarding.image; else hasBoardingFile">
                        <input
                          class="choose-file"
                          type="file"
                          [id]="'file-boarding' + i"
                          (change)="onSetFile($event, item.boarding)"
                          accept=".pdf,.jpg"
                        />
                        <label
                          [for]="'file-boarding' + i"
                          class="upload-file news-file"
                          [class.status-error]="item.boarding.error"
                          data-text="filename"
                        >
                          <div>
                            <img
                              class="file-img"
                              src="./assets/img/element/img-boardingpass@2x.png"
                              alt=""
                            />
                          </div>
                          <div class="file-txt">
                            <i class="icons-ic-upload i-icon mr-1"></i>
                            {{ FLang.F05.F0014 }}
                          </div>
                        </label>
                      </div>
                      <small class="form-text" *ngIf="item.boarding.error">
                        {{ item.boarding.errorMsg }}
                      </small>
                      <!-- 上傳登機證 -->
                      <ng-template #hasBoardingFile>
                        <div class="img-box">
                          <div class="upload-img img-news">
                            <div
                              *ngIf="
                                item.boarding.file.imgName.includes('.pdf');
                                else jpgFile1
                              "
                              class="upload-img-border"
                            >
                              <img
                                class="img-fluid"
                                src="./assets/img/element/pdf.svg"
                                style="width: 280px; height: 100px"
                                alt=""
                              />
                              <p>{{ item.boarding.imageName }}</p>
                            </div>
                            <ng-template #jpgFile1>
                              <div class="upload-img-border">
                                <img
                                  class="img-fluid"
                                  [src]="item.boarding.image"
                                  alt=""
                                />
                              </div>
                            </ng-template>
                            <i
                              class="icons-ic-trash i-icon mr-0 mt-0"
                              (click)="onClearFile('boarding', i)"
                            ></i>
                          </div>
                        </div>
                      </ng-template>
                      <!-- 上傳登機證 end-->
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="upload">
                      <!-- 上傳電子機票 -->
                      <div *ngIf="!item['e-ticket'].image; else hasTicketFile">
                        <input
                          [id]="'file-e-ticket' + i"
                          class="choose-file"
                          type="file"
                          (change)="onSetFile($event, item['e-ticket'])"
                          accept=".pdf,.jpg"
                        />
                        <label
                          [for]="'file-e-ticket' + i"
                          class="upload-file news-file"
                          data-text="filename"
                          [class.status-error]="item['e-ticket'].error"
                        >
                          <div>
                            <img
                              class="file-img"
                              src="./assets/img/element/img-ticket@2x.png"
                              alt=""
                            />
                          </div>
                          <div class="file-txt">
                            <i class="icons-ic-upload i-icon mr-1"></i>
                            {{ FLang.F05.F0015 }}
                          </div>
                        </label>
                        <small *ngIf="item['e-ticket'].error" class="form-text">
                          {{ item["e-ticket"].errorMsg }}
                        </small>
                      </div>
                      <!-- 上傳電子機票 -->
                      <ng-template #hasTicketFile>
                        <div class="img-box">
                          <div class="upload-img img-news">
                            <div
                              *ngIf="
                                item['e-ticket'].file.imgName.includes('.pdf');
                                else jpgFile2
                              "
                              class="upload-img-border"
                            >
                              <img
                                class="img-fluid"
                                src="./assets/img/element/pdf.svg"
                                style="width: 280px; height: 100px"
                                alt=""
                              />
                              <p>{{ item["e-ticket"].imageName }}</p>
                            </div>
                            <ng-template #jpgFile2>
                              <div class="upload-img-border">
                                <img
                                  class="img-fluid"
                                  [src]="item['e-ticket'].image"
                                  alt=""
                                />
                              </div>
                            </ng-template>
                            <i
                              class="icons-ic-trash i-icon mr-0 mt-0"
                              (click)="onClearFile('e-ticket', i)"
                            ></i>
                          </div>
                        </div>
                      </ng-template>
                      <!-- 上傳電子機票 end-->
                      <!-- 上傳電子機票 end-->
                    </div>
                  </div>
                </div>
                <div
                  class="text-gray-gr text-center"
                  (click)="onRemoveFlightItem(i)"
                >
                  <div class="d-inline-block">
                    <div class="d-flex align-items-center word-break pointer">
                      <div><i class="icons-ic-trash-gr i-icon mr-1"></i></div>
                      <div class="text-left">{{ FLang.F05.F0016 }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="FFlightList.length < 2"
              class="add-data"
              (click)="doShowFastPair()"
            >
              <div class="d-inline-block">
                <div class="d-flex align-items-center word-break pointer">
                  <div class="mr-2">
                    <i class="icons-ic-collapse-plus i-icon"></i>
                  </div>
                  <div class="text-left">{{ FLang.F05.F0017 }}</div>
                </div>
              </div>
            </div>
            <div class="form-textarea">
              <label class="mb-1">{{ FLang.F05.F0018 }}</label>
              <div [class.status-error]="controlInvalid(controls.insured_desp)">
                <textarea
                  id="lyc_insured_desp"
                  formControlName="insured_desp"
                  class="w-100"
                  [placeholder]="FLang.F05.F0019"
                ></textarea>
                <small
                  *ngIf="controlInvalid(controls.insured_desp)"
                  class="form-text"
                >
                  {{
                    getError(controls.insured_desp) === "maxlength"
                      ? maxLengthHint(controls.insured_desp)
                      : FLang.ER.ER017
                  }}
                </small>
              </div>
            </div>
          </div>
          <div class="add-box">
            <div class="title">{{ FLang.F05.F0020 }}</div>
            <!-- 個人資料 -->
            <app-userinfo
              [data]="{ xType: 'edit', xchannel: 'claim' }"
              (xUserInfoChange)="setUsertoGroup($event)"
              [(xSyncUserinfo)]="FSyncUserinfo"
            ></app-userinfo>
          </div>

          <div class="add-box">
            <div class="title">{{ FLang.F05.F0021 }}</div>

            <div class="advisory-content">
              <div class="adv-box-item">
                <div class="select-search simple">
                  <label>{{ FLang.F05.F0022 }}</label>
                  <div class="dropdown">
                    <button
                      class="btn dropdown-toggle w-100"
                      [class.status-error]="controlInvalid(controls.pay_type)"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      id="lyc_pay_type"
                    >
                      <div class="filterActiveText">
                        <span [class.text-gray-gr]="!FPayType.text">
                          {{ FPayType.text || FLang.F05.F0023 }}
                        </span>
                      </div>
                    </button>
                    <div class="dropdown-menu w-100 filter tab">
                      <a
                        *ngFor="let item of FPayTypeList"
                        class="dropdown-item"
                        (click)="onSelectPayType(item)"
                      >
                        {{ item.text }}
                      </a>
                    </div>
                  </div>
                  <small
                    class="form-text status-error"
                    [hidden]="!controlInvalid(controls.pay_type)"
                  >
                    {{ FLang.ER.ER017 }}
                  </small>
                </div>

                <div [hidden]="!FPayType.value">
                  <div
                    id="lyc_bank_no"
                    class="form-group"
                    [class.status-error]="
                      controls.bank_no.dirty &&
                      controls.bank_no.touched &&
                      controls.bank_no.invalid
                    "
                  >
                    <label>{{ FLang.F05.F0024 }}</label>
                    <div class="from-row">
                      <select
                        required
                        formControlName="bank_no"
                        class="form-control custom-select"
                        [class.status-error]="controlInvalid(controls.bank_no)"
                        (change)="onbankChange($event)"
                      >
                        <option value="" disabled selected hidden>
                          {{ FLang.F05.F0025 }}
                        </option>
                        <option
                          *ngFor="let item of FBankList; index as i"
                          class="text-gray"
                          [ngValue]="item.seqno"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                      <i class="icons-ic-form-del i-icon"></i>
                    </div>
                    <small
                      class="form-text"
                      [hidden]="!controlInvalid(controls.bank_no)"
                    >
                      {{ FLang.ER.ER017 }}
                    </small>
                  </div>
                  <!-- 分行 -->
                  <div
                    id="lyc_bank_branch_name"
                    class="form-group"
                    [class.status-error]="
                      controlInvalid(controls.bank_branch_name)
                    "
                  >
                    <label>{{ FLang.F05.F0028 }}</label>
                    <div class="from-row">
                      <input
                        id="bank_branch_name"
                        formControlName="bank_branch_name"
                        type="text"
                        class="form-control"
                        [class.status-error]="
                          controlInvalid(controls.bank_branch_name)
                        "
                        [placeholder]="FLang.F05.F0029"
                      />
                      <i class="icons-ic-form-del i-icon"></i>
                    </div>
                    <small
                      class="form-text"
                      [hidden]="!controlInvalid(controls.bank_branch_name)"
                    >
                      {{ FLang.ER.ER017 }}
                    </small>
                  </div>

                  <div class="form-mul" id="lyc_bank_province">
                    <label>{{ FLang.F05.F0070 }}</label>
                    <div class="row mb-2 no-gutters">
                      <div class="col-md-6 from-one">
                        <div class="form-group icon-select mb-0">
                          <div class="from-row">
                            <select
                              required
                              formControlName="bank_province"
                              class="form-control custom-select"
                              [class.status-error]="
                                controlInvalid(controls.bank_province)
                              "
                              (change)="onProvince($event)"
                            >
                              <option value="" disabled selected hidden>
                                {{ FLang.F05.F0027 }}
                              </option>
                              <option
                                *ngFor="let item of FProvinceList; index as i"
                                class="text-gray"
                                [ngValue]="item.provinceValue"
                              >
                                {{ item.provinceZhname }}
                              </option>
                            </select>
                            <i class="icons-ic-form-del i-icon"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 from-two">
                        <div class="form-group icon-select mb-0">
                          <div class="from-row">
                            <select
                              required
                              formControlName="bank_city"
                              class="form-control custom-select"
                              [class.status-error]="
                                controlInvalid(controls.bank_city)
                              "
                              (change)="onCounty($event)"
                            >
                              <option value="" disabled selected hidden>
                                {{ FLang.PH.enter.F0002 }}
                                {{ FLang.PH.enter.F0002_.FS016 }}
                              </option>
                              <option
                                *ngFor="let item of FCountyList; index as i"
                                class="text-gray"
                                [ngValue]="item.countyValue"
                              >
                                {{ item.countyZhname }}
                              </option>
                            </select>

                            <i class="icons-ic-form-del i-icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-group"
                    id="lyc_bank_branch_address"
                    [hidden]="FPayType.value === '1'"
                  >
                    <div class="from-row">
                      <input
                        id="bank_branch_address"
                        formControlName="bank_branch_address"
                        type="text"
                        class="form-control"
                        [class.status-error]="
                          controlInvalid(controls.bank_branch_address)
                        "
                        [placeholder]="
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS023
                        "
                      />
                      <i class="icons-ic-form-del i-icon"></i>
                    </div>
                    <small
                      class="form-text"
                      [hidden]="!controlInvalid(controls.bank_branch_address)"
                    >
                      {{ FLang.ER.ER017 }}
                    </small>
                  </div>

                  <div
                    class="form-group"
                    id="lyc_bank_account_no"
                    [hidden]="FPayType.value !== '1'"
                  >
                    <label>{{ FLang.F05.F0030 }}</label>
                    <div class="from-row">
                      <input
                        id="bank_account_no"
                        formControlName="bank_account_no"
                        type="text"
                        class="form-control"
                        appLimitInput
                        [replace]="'number'"
                        [class.status-error]="
                          controlInvalid(controls.bank_account_no)
                        "
                        [placeholder]="FLang.F05.F0031"
                      />
                      <i class="icons-ic-form-del i-icon"></i>
                    </div>
                    <small
                      class="form-text"
                      [hidden]="!controlInvalid(controls.bank_account_no)"
                    >
                      {{ FLang.ER.ER017 }}
                    </small>
                  </div>
                  <div class="setting s-general">
                    <p class="upload-txt">
                      {{ FLang.F05.F0012 }} <span>{{ FLang.F05.F0068 }}</span>
                    </p>
                    <div class="row no-gutters upload-box">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="upload" id="lyc_file_id_positive">
                          <!-- 身分證正面 -->
                          <div
                            *ngIf="
                              !FData.file_id_positive.image;
                              else hasIDPositiveFile
                            "
                          >
                            <input
                              id="file_id_positive"
                              class="choose-file"
                              type="file"
                              (change)="
                                onSetFile($event, FData.file_id_positive)
                              "
                              accept=".jpg"
                            />
                            <label
                              for="file_id_positive"
                              class="upload-file news-file"
                              [class.status-error]="
                                FData.file_id_positive.error
                              "
                              data-text="filename"
                            >
                              <div>
                                <img
                                  class="file-img"
                                  src="./assets/img/element/img-id-front@2x.png"
                                  alt=""
                                />
                              </div>
                              <div class="file-txt">
                                <i class="icons-ic-upload i-icon mr-1"></i>
                                {{ FLang.F05.F0032 }}
                              </div>
                            </label>
                            <small
                              *ngIf="FData.file_id_positive.error"
                              class="form-text"
                            >
                              {{ FData.file_id_positive.errorMsg }}
                            </small>
                          </div>
                          <!-- 上傳身分證正面 -->
                          <ng-template #hasIDPositiveFile>
                            <div class="img-box">
                              <div class="upload-img img-news">
                                <div class="upload-img-border">
                                  <img
                                    class="img-fluid"
                                    [src]="FData.file_id_positive.image"
                                    alt=""
                                  />
                                </div>
                                <i
                                  class="icons-ic-trash i-icon mr-0 mt-0"
                                  (click)="onClearFile('file_id_positive')"
                                ></i>
                              </div>
                            </div>
                          </ng-template>
                          <!-- 上傳身分證正面 end-->
                          <!-- 身分證正面 end-->
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="upload">
                          <!-- 身分證反面 -->
                          <div
                            *ngIf="
                              !FData.file_id_negative.image;
                              else hasIDNegativeFile
                            "
                            id="lyc_file_id_negative"
                          >
                            <input
                              id="file_id_negative"
                              class="choose-file"
                              type="file"
                              (change)="
                                onSetFile($event, FData.file_id_negative)
                              "
                              accept=".jpg"
                            />
                            <label
                              for="file_id_negative"
                              class="upload-file news-file"
                              [class.status-error]="
                                FData.file_id_negative.error
                              "
                              data-text="filename"
                            >
                              <div>
                                <img
                                  class="file-img"
                                  src="./assets/img/element/img-id-back@2x.png"
                                  alt=""
                                />
                              </div>
                              <div class="file-txt">
                                <i class="icons-ic-upload i-icon mr-1"></i>
                                {{ FLang.F05.F0033 }}
                              </div>
                            </label>
                            <small
                              *ngIf="FData.file_id_negative.error"
                              class="form-text"
                            >
                              {{ FData.file_id_negative.errorMsg }}
                            </small>
                          </div>
                          <!-- 上傳身分證反面 -->
                          <ng-template #hasIDNegativeFile>
                            <div class="img-box">
                              <div class="upload-img img-news">
                                <div class="upload-img-border">
                                  <img
                                    class="img-fluid"
                                    [src]="FData.file_id_negative.image"
                                    alt=""
                                  />
                                </div>
                                <i
                                  class="icons-ic-trash i-icon mr-0 mt-0"
                                  (click)="onClearFile('file_id_negative')"
                                ></i>
                              </div>
                            </div>
                          </ng-template>
                          <!-- 上傳身分證反面 end-->
                          <!-- 身分證反面 end-->
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6" [hidden]="true">
                        <div class="upload">
                          <!-- 存摺影本 -->
                          <div
                            *ngIf="
                              !FData.file_bankbook.image;
                              else hasBankbookFile
                            "
                          >
                            <input
                              id="file_bankbook"
                              class="choose-file"
                              type="file"
                              (change)="onSetFile($event, FData.file_bankbook)"
                              accept=".jpg"
                            />
                            <label
                              for="file_bankbook"
                              class="upload-file news-file"
                              [class.status-error]="FData.file_bankbook.error"
                              data-text="filename"
                            >
                              <div>
                                <img
                                  class="file-img"
                                  src="./assets/img/element/img-bankbook@2x.png"
                                  alt=""
                                />
                              </div>
                              <div class="file-txt">
                                <i class="icons-ic-upload i-icon mr-1"></i>
                                {{ FLang.F05.F0034 }}
                              </div>
                            </label>
                            <small
                              *ngIf="FData.file_bankbook.error"
                              class="form-text"
                            >
                              {{ FData.file_bankbook.errorMsg }}
                            </small>
                          </div>
                          <!-- 上傳存摺影本 -->
                          <ng-template #hasBankbookFile>
                            <div class="img-box">
                              <div class="upload-img img-news">
                                <div class="upload-img-border">
                                  <img
                                    class="img-fluid"
                                    [src]="FData.file_bankbook.image"
                                    alt=""
                                  />
                                </div>
                                <i
                                  class="icons-ic-trash i-icon mr-0 mt-0"
                                  (click)="onClearFile('file_bankbook')"
                                ></i>
                              </div>
                            </div>
                          </ng-template>
                          <!-- 上傳存摺影本 end-->
                          <!-- 存摺影本 end-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-primary" (click)="onCommitApply()">
            {{ FLang.F05.F0035 }}
          </a>
        </div>
      </div>
    </section>
  </div>
</main>
<app-delete-flight (confirm)="onDeleteFlight()"></app-delete-flight>
<app-commit-hint (confirm)="onCommitConfirm()"></app-commit-hint>
<div
  class="modal fade"
  id="modelFast"
  tabindex="-1"
  aria-labelledby="ModalLabel-07"
  aria-hidden="true"
>
  <ng-container #cFastPairRef></ng-container>
</div>
