<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story top-bg-big">
          <img
            src="assets/img/img-bn-about.png"
            alt=""
            srcset="assets/img/img-bn-about@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="assets/img/img-bn-about-m.png"
            alt=""
            srcset="assets/img/img-bn-about-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="assets/img/img-banner-shape.png"
            alt=""
            srcset="assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- breadcrumb -->
    <app-breadcrumb (title)="getTitle($event)"></app-breadcrumb>
    <div class="caption">
      <div class="container">
        <h1>{{ FLang.G01.L0001 }}</h1>
      </div>
    </div>
    <section class="sectLg about-top">
      <div class="title">{{ FLang.G01.L0002 }}</div>
      <div class="container">
        <div class="about-cathay wow fadeInUp">
          <div class="row align-items-center">
            <div class="col-12 col-lg-3 offset-lg-1 text-center">
              <img
                src="assets/img/img-logo-about.png"
                alt=""
                srcset="assets/img/img-logo-about@2x.png 2x"
                class="img-fluid d-none d-md-inline-block"
              />
              <img
                src="assets/img/img-logo-about-m.png"
                alt=""
                srcset="assets/img/img-logo-about-m@2x.png 2x"
                class="img-fluid d-md-none"
              />
            </div>
            <div class="col-12 col-lg-7">
              <p class="about-article custom_text_align">
                {{ FLang.G01.L0003 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sectLg about-operate">
      <div class="operate-people">
        <img
          src="assets/img/PFB5_0100_join-cathy@2x.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="operate-bg">
        <div class="title">{{ FLang.G01.L0004 }}</div>
        <div class="container">
          <div class="about-cathay wow fadeInUp">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <p class="custom_text_align">
                  {{ FLang.G01.L0005 }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="map-height" style="width: 100%; height: 51px"></div>
    <!-- Map Mark - Start -->
    <section class="sectLg map-mark" id="map">
      <app-map-mark
        [FTitle]="FLang.G01.L0006"
        [mapList]="mapList"
      ></app-map-mark>
    </section>
    <!-- Map Mark - End -->

    <!-- Opening Card - Start  -->
    <section class="sectLg">
      <div class="title">{{ FLang.G01.L0018 }}</div>
      <div class="postjob">
        <div class="container remove-width p-0">
          <div class="navtab">
            <div class="slickcardjob jobcard slider wow fadeInUp">
              <!-- Opening Card Component -->
              <app-opening-card [cardList]="openingCard"> </app-opening-card>
              <!-- Opening Card Component -->
            </div>
          </div>
          <div class="text-center">
            <a routerLink="/about/opening" class="btn btn-white">
              {{ FLang.G01.L0019 }}</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Opening Card - End  -->
  </div>
</main>
