<div class="guarantee range">
  <div class="text-center title">{{ FLang.D0012 }}</div>
  <div id="carTableCompare" class="table-compare">
    <div class="compare-item">
      <div class="d-flex">
        <div class="col-auto Inside-title compare-title border-0">
          <div></div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex">
        <div class="col-auto Inside-title compare-title border-0">
          <div></div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D0012_.s001 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D0012_.s002 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D0012_.s003 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D0012_.s004 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D0012_.s005 }}</div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="compare-price-box">
      <div class="compare-price">
        <table>
          <!-- <thead>
            <tr>
              <th colspan="3" class="line">
                <span class="title">{{ FLang.D0013 }}</span>
              </th>
              <th colspan="2">
                <span class="title">{{ FLang.D0014 }}</span>
              </th>
            </tr>
            <tr>
              <th>
                <span
                  class="d-inline-block"
                  [innerHTML]="FLang.D0013_.s001"
                ></span>
              </th>
              <th [innerHTML]="FLang.D0013_.s002"></th>
              <th class="line">{{ FLang.D0013_.s003 }}</th>
              <th>
                <span
                  class="d-inline-block"
                  [innerHTML]="FLang.D0013_.s004"
                ></span>
              </th>
              <th [innerHTML]="FLang.D0013_.s005"></th>
            </tr>
          </thead> -->
          <tbody>
            <tr class="compare-price-title border-0">
              <th colspan="3" class="line">{{ FLang.D0013 }}</th>
              <th colspan="2" class="border-0">{{ FLang.D0014 }}</th>
            </tr>

            <tr class="compare-price-second">
              <td>
                <span
                  class="d-inline-block"
                  [innerHTML]="FLang.D0013_.s001"
                ></span>
              </td>
              <td [innerHTML]="FLang.D0013_.s002"></td>
              <td class="line">{{ FLang.D0013_.s003 }}</td>
              <td>
                <span
                  class="d-inline-block"
                  [innerHTML]="FLang.D0013_.s004"
                ></span>
              </td>
              <td [innerHTML]="FLang.D0013_.s005"></td>
            </tr>

            <tr>
              <td>-</td>
              <td>-</td>
              <td class="line">-</td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
            </tr>

            <tr>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
              <td>-</td>
              <td class="line">-</td>
              <td>-</td>
              <td>-</td>
            </tr>

            <tr>
              <td>-</td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
              <td class="line">-</td>
              <td>-</td>
              <td>-</td>
            </tr>

            <tr>
              <td>-</td>
              <td>-</td>
              <td class="line">-</td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
            </tr>

            <tr>
              <td>-</td>
              <td>-</td>
              <td class="line">
                <i class="icons-ic-table-check-b-o i-icon"></i>
              </td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        <!-- DivTable.com -->
      </div>
    </div>
  </div>
  <div class="down-outer" [innerHtml]="FLang.D0061"></div>
</div>
