@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100);

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 5px 15px 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 10px 0;
  border-bottom: 1px solid #ccc;
}
h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  line-height: 22px;
}
h4 > * {
  display: inline-block;
  vertical-align: top;
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  max-width: 345px;
  background-color: #fff;
  border-radius: 5px;
}

section {
  padding: 0 15px;
}

.CaptchaWrap {
  position: relative;
}
.CaptchaTxtField {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  box-sizing: border-box;
}

#UserCaptchaCode {
  padding: 15px 10px;
  outline: none;
  font-size: 18px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  width: 343px;
}
#CaptchaImageCode {
  text-align: center;
  margin-top: 15px;
  padding: 0px 0;
  width: 300px;
  overflow: hidden;
}

.capcode {
  font-size: 46px;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  font-style: italic;
}

.ReloadBtn {
  background: url("https://cdn3.iconfinder.com/data/icons/basic-interface/100/update-64.png")
    left top no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  border: 0px;
  outline: none;
  position: absolute;
  bottom: 30px;
  left: 310px;
  cursor: pointer; /**/
}
.btnSubmit {
  margin-top: 15px;
  border: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #1285c4;
  color: #fff;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
}
.success {
  color: green;
  font-size: 18px;
  margin-bottom: 15px;
  display: none;
}
