<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-claim.png"
              alt=""
              srcset="assets/img/img-bn-claim@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-claim-m.png"
              alt=""
              srcset="assets/img/img-bn-claim-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- breadcrumb -->
      <app-breadcrumb></app-breadcrumb>
      <!-- breadcrumb end-->
      <div class="caption">
        <div class="container">
          <div class="d-flex align-content-center flex-wrap title-hight">
            <h1>{{ FLang.F06.F0001 }}</h1>
          </div>
        </div>
      </div>
      <section class="service-result">
        <div class="container remove-width">
          <div class="row online-flex onlinebg no-gutters">
            <div class="col-sm-12 col-md-12">
              <div class="row select-type">
                <!-- 日期塞選 -->
                <div class="col-sm-12 col-md-6">
                  <div class="dropdown">
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">
                        {{ selectedDateLabel || FLang.F021.L0035 }}
                      </div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter"
                    >
                      <a
                        *ngFor="let item of dateList; index as i"
                        class="dropdown-item"
                        [class.active]="item.id === this.dateId"
                        data-filter-type="trip"
                        role="button"
                        (click)="chooseDate(item.id)"
                      >
                        {{ item.option }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="dropdown custom-modal-dropdown">
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      data-display="static"
                    >
                      <div class="filterActiveText">
                        {{ selectedTypeLabel || FLang.F06.F0002 }}
                      </div>
                    </button>

                    <div
                      class="dropdown-menu w-100 filter tab data-display"
                      aria-labelledby="dropdownFilter2"
                    >
                      <a
                        *ngFor="let item of FTypeList; let i = index"
                        class="dropdown-item"
                        [class.active]="item.value === typeId"
                        [attr.data-filter-type]="item.type"
                        role="button"
                        (click)="chooseType(item.value)"
                      >
                        {{ item.text }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="service-hr"></div>
            </div>

            <div
              *ngIf="FClaimList.length === 0; else has_data"
              class="col-sm-12 col-md-12"
              data-filter-content="empty"
            >
              <div class="empty text-center">
                <i class="icons-ic-empty i-icon"></i>
                <div>{{ FLang.F06.F0042 }}</div>
              </div>
            </div>

            <ng-template #has_data>
              <div
                *ngFor="let item of FClaimList"
                class="col-sm-12 col-md-12"
                [attr.data-filter-content]="item.typeValue"
              >
                <div class="choose-card service-card">
                  <div class="choose-top">
                    <div class="choose-row mr-auto">
                      <div>
                        <i class="i-icon" [ngClass]="item.typeIcon"></i>
                      </div>
                      <div>
                        <div class="item">
                          {{ item.typeText }}
                          <!-- {{ item.issue_date }} -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F06.F0039 }}</div>
                      <div class="item">{{ item.pol_num }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F06.F0009 }}</div>
                      <div class="item">{{ item.prod_pol_name }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F06.F0010 }}</div>
                      <div class="item">{{ item.proc_no }}</div>
                    </div>
                    <div class="choose-content-detail" *ngIf="item.clm_no">
                      <div class="choose-caption">{{ FLang.F06.F0040 }}</div>
                      <div class="item">
                        <span>{{ item.clm_no }}</span
                        >-<span>{{ item.clm_tm }}</span>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F06.F0011 }}</div>
                      <div class="item">{{ item.insr_nm }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F06.F0012 }}</div>
                      <div class="item">
                        {{ item.insured_dt | cDate: "DD/MM/YYYY" }}
                      </div>
                    </div>
                    <ng-container [ngSwitch]="item.op_status">
                      <div *ngSwitchCase="'3'" class="makefile">
                        <div>
                          {{ FLang.F06.F0023 }}
                        </div>
                      </div>
                      <div *ngSwitchCase="'4'" class="makefile">
                        <div class="item">
                          {{ FLang.F06.F0014 }}<br />
                          <div
                            *ngFor="let docItem of item.doc_list; index as i"
                          >
                            {{ i + 1 }}. {{ docItem.doc_name }}
                          </div>
                          <!-- 1. Claim form<br />
                        2. Insurance certificate -->
                        </div>
                        <p>{{ FLang.F06.F0017 }}</p>
                        <div class="text-center mt-20px">
                          <button
                            type="button"
                            class="btn btn-primary m-0"
                            data-target="#"
                            (click)="showUploadFile(item)"
                          >
                            {{ FLang.F06.F0018 }}
                          </button>
                        </div>
                      </div>
                      <div *ngSwitchCase="'5'" class="makefile">
                        <div class="item">{{ FLang.F06.F0019 }}</div>
                        <div class="money">
                          {{ item.pay_amt | thousands }} <span>₫</span>
                        </div>
                        <p>
                          {{ FLang.F06.F0020 }}
                        </p>
                        <div class="text-center mt-20px">
                          <button
                            type="button"
                            class="btn btn-primary m-0"
                            data-target="#"
                            (click)="showIndemnityInfo(item)"
                          >
                            {{ FLang.F06.F0021 }}
                          </button>
                        </div>
                      </div>
                      <div *ngSwitchCase="'6'" class="makefile">
                        <div
                          style="white-space: pre-wrap"
                          [innerHTML]="FLang.F06.F0022"
                        ></div>
                      </div>
                    </ng-container>

                    <div
                      *ngIf="item.op_status !== '1'"
                      class="text-center link"
                    >
                      <a (click)="showContactUs(item)">{{ FLang.F06.F0013 }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!-- 賠款資訊 -->
  <app-indemnity-info [data]="FClaimDetail"></app-indemnity-info>

  <!-- 專員聯絡 -->
  <app-contact-us [data]="FClaimDetail"> </app-contact-us>

  <!-- 上傳圖片 -->
  <app-upload-file [data]="FClaimDetail" (loaded)="uploadFile($event)">
  </app-upload-file>
</div>
