app-tab-card {
  display: block;
  & + app-tab-card {
    margin-top: 30px;
  }
}

app-tab-card-item {
  display: block;
  & + app-tab-card-item {
    border-top: solid 1px #e1e4e9;
  }
}

.topbg {
  z-index: -100;
}

.form-text-error {
  color: #f9556f;
  font-size: 0.875rem;
}

.payment {
  &-row {
    .payment-box {
      &.status-error {
        border: 2px #f9556f solid;
      }
    }
  }
}
