<div class="com-content">
  <!-- breadcrumb -->
  <app-breadcrumb></app-breadcrumb>
  <!-- breadcrumb end-->
  <section class="success-mes">
    <div class="container remove-width">
      <div class="success-img">
        <img src="./assets/img/banner-payment2x.png" alt="" class="img-fluid" />
      </div>
      <h3 class="mb-20 weight-stress">{{ FLang.F05.F0060 }}</h3>
      <div class="explain mb-20">
        {{ FLang.F05.F0061 }}
        <a routerLink="/member/claim/search" class="d-inline-block">
          {{ FLang.F05.F0062 }}
        </a>
      </div>
      <div class="text-center">
        <a routerLink="/member" class="btn btn-white">{{ FLang.F05.F0063 }}</a>
      </div>
    </div>
  </section>
</div>
