<main>
  <div class="com-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-breadcrumb></app-breadcrumb>
        </div>
      </div>
    </div>
    <section class="success-mes">
      <div class="container remove-width">
        <div class="success-img">
          <img src="assets/img/banner-payment2x.png" alt="" class="img-fluid" />
        </div>
        <div *ngIf="FType === '0'; else paperType">
          <h3>{{ FLang.C04.step3.C0002 }}</h3>
          <p>{{ userInfo.email }}</p>
        </div>
        <!-- 保單寄送 -->
        <ng-template #paperType>
          <div class="remark">
            {{ FLang.C04.step3.C0004 }}
            <div class="point">5</div>
            {{ FLang.C04.step3.C0005 }}
          </div>
        </ng-template>
        <div class="text-center">
          <a routerLink="" class="btn btn-white">{{ FLang.C04.step3.C0006 }}</a>
        </div>
      </div>
    </section>
  </div>
</main>
