<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content" id="ly_fastbody">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ modalName }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body">
      <form [formGroup]="group">
        <div class="advisory-content">
          <ng-container *ngIf="FType === 'fast'">
            <!-- 理賠項目 (新增航班資訊) Start -->

            <h4 class="text-center">{{ FLang.L0017 }}</h4>

            <!-- 被選取樣式 在class plain-choose後面加上active -->
            <div
              *ngFor="let item of FFlightData"
              class="row align-items-center plain-choose"
              [class.active]="
                item &&
                FSelectedFlightData &&
                item.id === FSelectedFlightData.id
              "
              (click)="onSelectFlightData(item)"
            >
              <div class="col-4 plain-info-left">
                <p class="mb-0">{{ item.clam_kind_name }}</p>
              </div>
              <div class="col-8 plain-info-right">
                <div>
                  <div class="mb-1">
                    {{ item.flight_no }}
                    ({{ item.flight_date | cDate: "DD/MM/YYYY" }})
                  </div>
                  <div class="area">
                    {{ item.scheduled_departure_airport }}
                    <i class="icons-ic-to-gr i-icon"></i>
                    {{ item.scheduled_arrival_airport }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row login-p my-30px">
              <div class="title">{{ FLang.L0016 }}</div>
            </div>
            <!-- 理賠項目 (新增航班資訊) End -->

            <h4 class="text-center">{{ FLang.L0015 }}</h4>
          </ng-container>

          <div class="adv-box-item">
            <ng-container *ngIf="FType !== 'calc'">
              <!-- 理賠項目 (新增/編輯航班資訊) Start -->
              <div class="select-search simple">
                <label>{{ FLang.L0014 }}</label>
                <div class="dropdown">
                  <button
                    id="dropdownFilter3"
                    class="btn dropdown-toggle w-100"
                    [class.disabled]="FSelectedFlightData || FNoClaims"
                    type="button"
                    data-toggle="dropdown"
                    [attr.aria-haspopup]="!FSelectedFlightData && !FNoClaims"
                    aria-expanded="false"
                    [disabled]="FSelectedFlightData || FNoClaims"
                  >
                    <div class="filterActiveText">
                      <span [class.text-gray-gr]="!FClamKind.text">
                        {{
                          FClamKind.text ||
                            FPHLang.enter.F0002 + FPHLang.enter.F0002_.FS010
                        }}
                      </span>
                    </div>
                  </button>
                  <div
                    class="dropdown-menu w-100 filter tab"
                    aria-labelledby="dropdownFilter3"
                  >
                    <a
                      *ngFor="let item of FClamKindList"
                      class="dropdown-item"
                      (click)="onSelectClamKind(item)"
                    >
                      {{ item.text }}
                    </a>
                  </div>
                </div>
              </div>
              <!-- 理賠項目 (新增/編輯航班資訊) End -->
            </ng-container>

            <div class="row no-gutters">
              <div class="col-md-6 pr-md-2 mb-30">
                <div
                  class="form-group mb-0"
                  [class.status-error]="
                    controls.airplaneNo.dirty &&
                    controls.airplaneNo.touched &&
                    controls.airplaneNo.invalid
                  "
                >
                  <label>{{ FLang.L0002 }}</label>
                  <div class="from-row">
                    <input
                      [placeholder]="
                        FPHLang.enter.F0001 + FPHLang.enter.F0001_.FS018
                      "
                      (input)="changeToUpperCase($event)"
                      type="text"
                      class="form-control"
                      formControlName="airplaneNo"
                    />
                    <i
                      (click)="controls.airplaneNo.setValue('')"
                      class="icons-ic-form-del i-icon"
                    ></i>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      !controls.airplaneNo.dirty ||
                      controls.airplaneNo.untouched ||
                      (controls.airplaneNo.valid && FSubmit)
                    "
                  >
                    {{ getErrors(controls.airplaneNo) }}</small
                  >
                </div>
              </div>
              <div class="col-md-6 pl-md-2 mb-30">
                <div
                  class="form-group icon-date mb-0"
                  [class.status-error]="
                    controls.airplaneDate.dirty &&
                    controls.airplaneDate.touched &&
                    controls.airplaneDate.invalid
                  "
                >
                  <div class="from-row">
                    <app-datepicker
                      [placeholder]="
                        FPHLang.enter.F0001 + FPHLang.enter.F0001_.FS012
                      "
                      [label]="FLang.L0003"
                      xid="datefastpair_fastpair"
                      [config]="{
                        maxDate: FMaxDate,
                        minDate: FMinDate,
                        parentEl: '#ly_fastbody'
                      }"
                      [value]="FAirplaneDate"
                      [xReadonly]="FReadonly"
                      (getDate)="getDate($event)"
                    ></app-datepicker>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      !controls.airplaneDate.dirty ||
                      controls.airplaneDate.untouched ||
                      controls.airplaneDate.valid
                    "
                  >
                    {{ getErrors(controls.airplaneDate) }}</small
                  >
                </div>
              </div>
            </div>
            <div class="select-search plain">
              <label>{{ FLang.L0005 }}</label>
              <div class="dropdown dropdownClear01">
                <button
                  id="dropdownFilter1"
                  class="btn dropdown-toggle w-100 dropdown-abbreviation"
                  [class.disabled]="group.disabled"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  [class.status-error-extend]="
                    controls.airPortS.dirty &&
                    controls.airPortS.touched &&
                    controls.airPortS.invalid
                  "
                >
                  <div class="filterActiveText">
                    {{ FSAtaCode || FLang.L0006 }}
                  </div>
                </button>

                <div class="form-search-input">
                  <input
                    type="text"
                    id="airPortS"
                    class="form-control dropdown-input"
                    [placeholder]="
                      FPHLang.enter.F0001 + FPHLang.enter.F0001_.FS013
                    "
                    formControlName="airPortS"
                    autocomplete="off"
                    (input)="
                      onFilterList($event, 'airPortS', 'dropdownFilter1')
                    "
                    (click)="
                      onSearchInputClick($event, 'airPortS', 'dropdownFilter1')
                    "
                    (keypress)="onAirportInputFilter($event)"
                    (keydown.enter)="onAirplaneDown($event, 'dropdownFilter1')"
                    (keyup.enter)="onAirplaneEnter($event, 'dropdownFilter1')"
                    (keyup)="onkeyenent($event)"
                  />
                </div>

                <div
                  class="dropdown-menu w-100 filter tab"
                  aria-labelledby="dropdownFilter1"
                  cdkScrollable
                  id="abc"
                >
                  <div *ngFor="let item of FilterList; let i = index">
                    <div class="drop-title">
                      <i class="icons-ic-location-g i-icon"></i>
                      {{ item.groupname }}
                    </div>
                    <a
                      href="#"
                      class="dropdown-item d-flex"
                      *ngFor="let air of item.data"
                      (click)="
                        onAirplaneClick(air.iataCode, 1);
                        $event.preventDefault()
                      "
                      tabindex="-1"
                    >
                      <!-- <div class="justify-content-start mr-auto">
                        {{ air.airportName }}
                      </div>
                      <div class="justify-content-end abbreviation">
                        {{ air.iataCode }}
                      </div> -->
                      <div>{{ air.airportName }} ({{ air.iataCode }})</div>
                    </a>
                  </div>
                </div>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  !controls.airPortS.dirty ||
                  controls.airPortS.untouched ||
                  controls.airPortS.valid
                "
              >
                {{ getErrors(controls.airPortS) }}</small
              >
            </div>

            <div class="select-search plain">
              <label>{{ FLang.L0008 }}</label>
              <div class="dropdown dropdownClear02 custom-modal-dropdown">
                <button
                  id="dropdownFilter2"
                  class="btn dropdown-toggle w-100 dropdown-abbreviation"
                  [class.disabled]="group.disabled"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                  [class.status-error-extend]="
                    controls.airPortE.dirty &&
                    controls.airPortE.touched &&
                    controls.airPortE.invalid
                  "
                >
                  <div class="filterActiveText">
                    {{ FEAtaCode || FLang.L0006 }}
                  </div>
                </button>
                <div class="form-search-input">
                  <input
                    type="text"
                    id="airPortE"
                    class="form-control dropdown-input"
                    [placeholder]="
                      FPHLang.enter.F0001 + FPHLang.enter.F0001_.FS013
                    "
                    formControlName="airPortE"
                    autocomplete="off"
                    (input)="
                      onFilterList($event, 'airPortE', 'dropdownFilter2')
                    "
                    (click)="
                      onSearchInputClick($event, 'airPortE', 'dropdownFilter2')
                    "
                    (keypress)="onAirportInputFilter($event)"
                    (keydown.enter)="onAirplaneDown($event, 'dropdownFilter2')"
                    (keyup.enter)="onAirplaneEnter($event, 'dropdownFilter2')"
                    (keyup)="onkeyenent($event)"
                  />
                </div>
                <div
                  class="dropdown-menu w-100 filter tab"
                  aria-labelledby="dropdownFilter2"
                >
                  <div *ngFor="let item of FilterList; let i = index">
                    <div class="drop-title">
                      <i class="icons-ic-location-g i-icon"></i>
                      {{ item.groupname }}
                    </div>
                    <a
                      role="tab"
                      class="dropdown-item d-flex"
                      *ngFor="let air of item.data"
                      (click)="
                        onAirplaneClick(air.iataCode, 2);
                        $event.preventDefault()
                      "
                      tabindex="-1"
                    >
                      <!-- <div class="justify-content-start mr-auto">
                          {{ air.airportName }}
                        </div>
                        <div class="justify-content-end abbreviation">
                          {{ air.iataCode }}
                        </div> -->
                      <div>{{ air.airportName }} ({{ air.iataCode }})</div>
                    </a>
                  </div>
                </div>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  !controls.airPortE.dirty ||
                  controls.airPortE.untouched ||
                  controls.airPortE.valid
                "
              >
                {{ getErrors(controls.airPortE) }}</small
              >
            </div>
          </div>
        </div>
        <div class="text-center mt-20px">
          <button
            type="button"
            class="btn btn-primary"
            data-target="#"
            (click)="onAction()"
          >
            {{ FLang.L0010 }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
