@media (max-width: 767.98px) {
  .change-block {
    max-width: 70px;
  }
}

.service-insurance-all {
  .service-insurance {
    .service-top {
      .insurance-word {
        font-size: 1.25rem;
        color: #000;
        font-weight: unset;
      }
    }
  }
}

// .number {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }
