<div class="height-content">
  <main>
    <div class="com-content">
      <app-breadcrumb></app-breadcrumb>
      <div class="container">
        <div class="row">
          <button class="btn btn-primary" (click)="testPay()">test pay</button>
        </div>
        <div class="row">
          <button class="btn btn-primary" (click)="testAES()">testAES</button>
        </div>

        <div class="row">
          {{ FUrlTest }}
        </div>
        <hr />

        <div class="row">
          <button class="btn btn-primary" (click)="getsso()">getsso</button>
        </div>
        <div class="row">
          <button class="btn btn-primary" (click)="test228()">test228</button>
        </div>
        <div class="row">
          <button class="btn btn-primary" (click)="windowsopen()">
            windowsopen
          </button>
        </div>
        <div class="row">
          <button class="btn btn-primary" (click)="datadiff()">
            data----
          </button>
        </div>
      </div>

    </div>
  </main>
</div>
