// iPad(768) 提早進入小網排版
@media (max-width: 768px) {
  .sectLg .title {
    font-size: 1.75rem;
  }
  .boi-step {
    display: block;
  }
  .boi-step img {
    display: none !important;
  }
  .boi-step .boi-step-row .boi-step-box {
    margin: 0px;
    padding: 10px 5px;
    position: relative;
    z-index: 1;
  }
  .boi-step .boi-step-row .boi-step-box::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #7bbf43;
    left: 21px;
    z-index: -1;
  }
  .boi-step .boi-step-row h4 {
    font-size: 1.25rem;
  }
  .boi-step .boi-step-row .boi-step-img::before {
    display: none;
  }
}
