@media (max-width: 991.98px) {
  .choose-card {
    &.service-card {
      .choose-content {
        .choose-content-detail {
          .choose-caption {
            width: 120px;
          }
          .item {
            width: calc(100% - 120px);
          }
        }
      }
    }
  }

  .service-inform-card {
    .choose-content {
      .choose-content-detail {
        .choose-caption {
          width: 36%;
        }
      }
    }
  }
}

.service-insurance .service-top {
  height: unset;

  @media (max-width: 575.98px) {
    display: block;
  }
}

.service-inform-box {
  .bookmark {
    .tab-row-content {
      .tab-item-box {
        .pay-box {
          ul {
            padding: 0px 10px;
          }

          .pay-content {
            padding: 0px 0px 30px;
          }

          .tab-card {
            .tab-link {
              padding: 20px 10px;
            }
          }
        }
      }
    }
  }
}

.service-insurance .service-ins-box .service-ins-row .service-ins-kind .number {
  border-radius: 60px;
  background-color: $orange;
  font-size: 0.8125rem;
  color: $white;
  display: inline-block;
  padding: 2px 5px;
  min-width: 22px;
  max-height: 22px;
  margin-left: 6px;
  vertical-align: text-bottom;
  top: 0px;
  right: -2px;
}

.introduce {
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// 線上理賠 - 理賠項目與航班
.claim-apply-component {
  .choose-card .choose-top .choose-row .plain-info-left::before {
    right: -15px;
  }

  // 線上理賠 - 理賠項目與航班 小網
  @media (max-width: 767.98px) {
    .choose-card {
      .choose-top {
        display: flex;
        flex-direction: row;

        .choose-row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .plain-info-left::before {
            content: none;
          }

          .plain-data {
            margin-left: 0;
          }
        }
      }

      .upload-txt {
        display: flex;
        flex-direction: column;

        span {
          margin-left: 0;
        }
      }
    }

    .service-result {
      .choose-card {
        .choose-top {
          .choose-row {
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

// 會員資料維護
@media (max-width: 767.98px) {
  .service-inform-guarantee .form-data {
    margin-bottom: -20px;
  }

  // 理賠介紹 調整
  .service-inform-box {
    .bookmark {
      .tab-row-content {
        .tab-item-box {
          .pay-box {
            ul {
              padding: 0px;
            }

            .pay-content {
              padding: 0px 0px 30px;

              p {
                padding: 0px;
              }
            }

            .tab-card {
              .tab-link {
                padding: 20px 0px;
              }
            }
          }
        }
      }
    }
  }
}

// 我的保單
@media (max-width: 576.98px) {
  .service-inform-guarantee {
    .service-guarantee-row {
      border-bottom: 0px solid #e1e4e9;
      .service-content-detail {
        padding: 0px 6px;
        margin: 10px 0;
        background-color: #fafafa;
        border-bottom: 0px solid #e1e4e9;
        display: block;
        .service-caption div {
          border-bottom: 0px solid #e1e4e9;
        }
        .service-price {
          width: auto;
          font-size: 1.225rem;
          font-weight: 600;
          padding: 0 10px 10px 0;
        }
      }
    }
  }
}
