<div class="height-content">
  <main>
    <div class="com-content">
      <app-background></app-background>
      <!-- breadcrumb -->
      <app-breadcrumb></app-breadcrumb>
      <!-- breadcrumb end-->
      <div class="caption onl-top">
        <div class="container">
          <h1>{{ this.FLang.C0001 }}</h1>
        </div>
      </div>
      <app-select-menu [(filterId)]="filterId"></app-select-menu>
      <app-cards [cardList]="filterCardList"></app-cards>
    </div>
  </main>
</div>
