<ul class="nav nav-pills changeListBg control_height" id="pills-tab" role="tablist">
  <li class="nav-item" *ngFor="let item of bookmarkList; index as i">
    <a
      class="nav-link"
      [ngClass]="{ active: item.tag === tagId }"
      [id]="idControls(i)"
      [href]="'#' + ariaControls(i)"
      data-toggle="pill"
      role="tab"
      [attr.aria-controls]="ariaControls(i)"
      aria-selected="true"
      (click)="setBookmark(i + 1)"
    >
      {{ item.title }}
    </a>
  </li>
</ul>
