.control_height {
  li {
    display: flex;
    align-items: stretch;
    width: 50%;
    flex-wrap: nowrap;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
