<div class="pop-menu d-block d-lg-none">
  <div class="dropdown">
    <button
      class="btn dropdown-toggle w-100"
      type="button"
      id="dropdownFilter"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="filterActiveText">
        {{ tagResult || FLang.I01.content.I0001 }}
      </div>
    </button>
    <!-- <i class="icons-ic-news-arrow-down i-icon"></i> -->
    <div
      class="dropdown-menu w-100 filter tab"
      aria-labelledby="dropdownFilter"
    >
      <a
        *ngFor="let item of tagList"
        class="dropdown-item"
        data-filter-type="all"
        role="button"
        routerLink="/news"
        [queryParams]="item.queryParams"
        (click)="getTag(item)"
      >
        {{ item.label }}</a
      >
    </div>
  </div>
</div>

<div class="d-none d-lg-block">
  <ul class="tab is-pill is-fill filter">
    <li
      *ngFor="let item of tagList"
      [ngClass]="{ active: item.tag === tagId }"
      (click)="getTag(item)"
    >
      <a data-filter-type="all" role="button">
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>
