<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-register.png"
              alt=""
              srcset="assets/img/img-bn-register@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-register-m.png"
              alt=""
              srcset="assets/img/img-bn-register-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- breadcrumb -->
      <app-breadcrumb></app-breadcrumb>
      <!-- breadcrumb -->
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.B055.title.B0001 }}</h1>
        </div>
      </div>
      <section class="jobdetails mt-0">
        <div class="container remove-width">
          <div class="jobbox bg-white-block login-w">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div class="form-discount">
                    {{ FLang.B055.content.B0001 }}
                  </div>
                  <div
                    id="lyc_user_account"
                    class="form-group"
                    [class.status-error]="
                      controls.user_account.dirty &&
                      controls.user_account.touched &&
                      controls.user_account.invalid
                    "
                  >
                    <label>{{ FLang.B055.content.B0002 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ FLang.B055.content.B0003 }}"
                        formControlName="user_account"
                        autocomplete="off"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.user_account.setValue('')"
                      ></i>
                    </div>
                    <small
                      style="color: #f00"
                      class="form-text"
                      [class.d-none]="
                        !controls.user_account.dirty ||
                        controls.user_account.untouched ||
                        controls.user_account.valid
                      "
                    >
                      {{ getErrors(controls.user_account) }}</small
                    >
                    <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                  </div>
                  <div
                    id="lyc_user_password"
                    class="form-group mb-2"
                    [class.status-error]="
                      controls.user_password.dirty &&
                      controls.user_password.touched &&
                      controls.user_password.invalid
                    "
                  >
                    <label>{{ FLang.B055.content.B0004 }}</label>
                    <div class="from-row">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS007
                        }}"
                        formControlName="user_password"
                        autocomplete="new-password"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.user_password.setValue('')"
                      ></i>
                    </div>
                    <small
                      style="color: #f00"
                      [class.d-none]="
                        !controls.user_password.dirty ||
                        controls.user_password.untouched ||
                        controls.user_password.valid
                      "
                    >
                      {{ getErrors(controls.user_password) }}</small
                    >
                    <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                  </div>
                  <div class="text-right">
                    <a
                      href="javascript:;"
                      (click)="goFindAccount()"
                      class="text-green explain"
                      >{{ FLang.B055.content.B0006 }}</a
                    >
                  </div>
                  <div class="message-error" [class.d-none]="!FLoginError">
                    {{ FLang.B055.content.B0007 }}
                  </div>
                  <div class="message-error" [class.d-none]="!FIDError">
                    {{ FLang.B055.content.B0008 }}
                  </div>
                </div>
                <div class="text-center mb-4">
                  <a (click)="doSubmit()" class="btn btn-primary">
                    {{ FLang.B055.content.B0009 }}
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
