<div
  class="modal fade"
  id="uploadFile"
  tabindex="-1"
  aria-labelledby="ModalLabel-34"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F06.F0018 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <form>
          <div class="advisory-content">
            <div class="setting pb-0">
              <p class="upload-txt">
                {{ FLang.F06.F0024 }} <span>{{ FLang.F06.F0025 }}</span>
              </p>

              <ng-container *ngFor="let item of FFileList; index as i">
                <p class="upload-title">{{ i + 1 }}. {{ item.doc_name }}</p>

                <div class="upload">
                  <!-- 圖片未上傳 -->
                  <div *ngIf="!item.file">
                    <input
                      id="Front-file"
                      class="choose-file"
                      type="file"
                      accept=".pdf,.jpg"
                      required
                      (change)="setFile($event, item)"
                    />
                    <label
                      for="Front-file"
                      class="upload-file news-file"
                      [class.status-error]="item.error"
                      data-text="filename"
                    >
                      <div>
                        <img
                          class="file-img"
                          src="assets/img/element/img-id-back@2x.png"
                          alt=""
                        />
                      </div>
                      <div class="file-txt">
                        <i class="icons-ic-upload i-icon mr-1"></i
                        >{{ FLang.F06.F0028 }}
                      </div>
                    </label>
                    <small *ngIf="item.error" class="form-text">
                      {{ FLang.F06.F0029 }}
                    </small>
                  </div>
                  <!-- 圖片未上傳 end-->
                  <!-- 圖片上傳 -->
                  <div class="img-box" *ngIf="item.image">
                    <div class="upload-img img-news">
                      <div
                        *ngIf="item.file.imgName.includes('.pdf'); else jpgFile"
                        class="upload-img-border"
                      >
                        <img
                          class="img-fluid"
                          src="./assets/img/element/pdf.svg"
                          style="width: 280px; height: 100px"
                          alt=""
                        />
                        <p>{{ item.imageName }}</p>
                      </div>
                      <ng-template #jpgFile>
                        <div class="upload-img-border">
                          <img class="img-fluid" [src]="item.image" alt="" />
                        </div>
                      </ng-template>
                      <i
                        class="icons-ic-trash i-icon mr-0 mt-0"
                        (click)="clearImg(i)"
                      ></i>
                    </div>
                  </div>
                  <!-- 圖片上傳 end-->
                </div>
              </ng-container>
            </div>
          </div>
          <div class="text-center mt-20px">
            <button
              (click)="doSubmit()"
              type="button"
              class="btn btn-primary"
              [class.disabled]="!isAllUpload"
              [disabled]="!isAllUpload"
              data-target="#"
            >
              {{ FLang.F06.F0030 }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
